Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

rename dir
  applications/cfd/qls_for_hybrid_solvers/README.md
  applications/cfd/qls_for_hybrid_solvers/banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/qls_for_hybrid_solvers/matrices/b_nozzle_small.npy
  applications/cfd/qls_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/cfd/qls_for_hybrid_solvers/pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/quantum_functions_be.py
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update files with optimized inversion poly
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix cheb solver
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

remove print call
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
Due: none

Running fixed notebook
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.ipynb
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.metadata.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixing_auto_uncomp_compatibility
  tests/notebooks/workshops/test_phase_kickback.py
Due: none

Add default argument
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

updated hhl_lanchester to be consistent with the uncomputation
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated hhl lanchester
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update width
  tests/notebooks/test_3sat_oracles.py
Due: none

updated hhl notebook
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

updated hhl
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Improve error handling to shorten message in summary while keeping full traceback
  tests/utils_for_qmod.py
  tests/utils_for_testbook.py
Due: none

Removing broken link
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Finalized text
  community/paper_implementation_project/classical_shadows/classical_shadows.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated hhl and fixed a typo in hhl_lanchester
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add explicit mod_exp function in nb
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.qmod
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.qmod
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

corrected hhl lanchester
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

corrected hhl reference
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

remove sx import in RB notebook
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing latex rendering error in quantum volume notebook
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Hide test durations shorter than 1second
  tests/config_notebook_execute_tests.ini
Due: none

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix_env_var
  .github/workflows/Test-CI-main.yml
Due: none

exclude wikipedia links
  tests/test_links.py
Due: none

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
