Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

update path for docs from classiq 101 to tutorials/basic_tutorials
  .internal/paths_for_docs.yaml
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: clean-demo-timeouts

Fix CI failures: Remove obsolete file references
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

Complete classiq_101 cleanup: Move quantum primitives to basic_tutorials
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.metadata.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.qmod
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.ipynb
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.metadata.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Remove orphaned test files for deleted notebooks
  tests/notebooks/workshops/test_analyze.py
  tests/notebooks/workshops/test_classical_variables_and_operations.py
  tests/notebooks/workshops/test_design.py
  tests/notebooks/workshops/test_execute.py
  tests/notebooks/workshops/test_hello_many_worlds.py
  tests/notebooks/workshops/test_optimize.py
  tests/notebooks/workshops/test_quantum_operations.py
  tests/notebooks/workshops/test_quantum_variables_and_functions.py
Due: none

feat: enhance entanglement tutorial with GHZ states
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  community/basic_examples/entanglement/entanglement.ipynb
  tests/notebooks/test_entanglement.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.qmod
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/classiq_101/getting_started/part2_state_preparation.ipynb
  tutorials/classiq_101/getting_started/part3_deutsch_jozsa.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Remove redundant whats_classiq tutorial
  tests/notebooks/workshops/test_whats_classiq.py
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.ipynb
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.qmod
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.synthesis_options.json
  tutorials/classiq_101/whats_classiq/whats_classiq.ipynb
  tutorials/classiq_101/whats_classiq/whats_classiq.metadata.json
  tutorials/classiq_101/whats_classiq/whats_classiq.qmod
  tutorials/classiq_101/whats_classiq/whats_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: resolve TestbookObjectReference TypeError in entanglement test
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

cleanup: remove orphaned test files for deleted classiq_101 notebooks
  tests/notebooks/workshops/test_part1_arithmetic.py
  tests/notebooks/workshops/test_part2_state_preparation.py
  tests/notebooks/workshops/test_part3_deutsch_jozsa.py
  tests/notebooks/workshops/test_part4_ghz_state.py
  tests/notebooks/workshops/test_part5_grover.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

Updating a few things
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.synthesis_options.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: update broken links to LCU tutorial
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed tests
  tests/notebooks/test_facility_location.py
  tests/notebooks/test_min_graph_coloring.py
Due: none

Addressing Or's comments
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/hw_aware_synthesis/mcx_10_ctrl_depth.synthesis_options.json
  community/basic_examples/vqe/vqe.ipynb
  community/basic_examples/vqe/vqe_primitives.qmod
  community/basic_examples/vqe/vqe_primitives.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qnn_with_pytorch.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.qmod
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

test
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with tsp qmods
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/test_hamiltonian_simulation_guide.py
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

with qaoa notebooks and dataframe usage for qsvt inversion
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Fixing more tests
  tests/notebooks/test_prepare_state.py
Due: none

with qaoa notebooks and dataframe usage for qsvt inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/facility_location/facility_location.qmod
  applications/logistics/facility_location/facility_location.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.qmod
  applications/optimization/min_graph_coloring/min_graph_coloring.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: update entanglement test to match standard pattern
  tests/notebooks/test_entanglement.py
Due: none

Remove redundant classiq_concepts tutorial folder
  tests/resources/timeouts.yaml
  tutorials/classiq_101/classiq_concepts/analyze/analyze.ipynb
  tutorials/classiq_101/classiq_concepts/analyze/analyze.metadata.json
  tutorials/classiq_101/classiq_concepts/analyze/analyze.qmod
  tutorials/classiq_101/classiq_concepts/analyze/analyze.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.ipynb
  tutorials/classiq_101/classiq_concepts/design/design/design.metadata.json
  tutorials/classiq_101/classiq_concepts/design/design/design.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.ipynb
  tutorials/classiq_101/classiq_concepts/execute/execute.metadata.json
  tutorials/classiq_101/classiq_concepts/execute/execute.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
  tutorials/classiq_101/classiq_concepts/optimize/optimize.metadata.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.qmod
  tutorials/classiq_101/classiq_concepts/optimize/optimize.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: resolve entanglement test TypeError by using ref_pydantic
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Fixing merge conflicts
  community/basic_examples/hw_aware_synthesis/hardware_aware_mcx_grid.synthesis_options.json
  community/basic_examples/hw_aware_synthesis/hardware_aware_mcx_star.synthesis_options.json
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/hw_aware_synthesis/mcx_10_ctrl_depth.synthesis_options.json
  community/basic_examples/vqe/vqe.ipynb
  community/basic_examples/vqe/vqe_primitives.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation_minimize_error.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_depth.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_hardware.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_50_ctrl.synthesis_options.json
  tutorials/basic_tutorials/prepare_state/prepare_state.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qnn_with_pytorch.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/test_mcx.py
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/mcx/mcx_50_ctrl.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Fixing more stuff
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation_minimize_error.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_hardware.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_50_ctrl.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/qnn_with_pytorch.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.synthesis_options.json
Due: none

with poisson
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qgan
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

align with version
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qsvm
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm/qsvm.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with hybrid qnn
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
