Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

change getting circuit characteristics to come from the execution rather than synthesis
  benchmarking/hardware.py
Due: none

remove footnote from report
  benchmarking/report/report.tex
Due: none

add old report as a refernce
  benchmarking/report/report_example_260326.pdf
Due: none

completed classical shadow tomography
  algorithms/qml/classical_shadow_tomography/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added classical shadow tomography notebook
  algorithms/metrology/classical_shadow_tomography.ipynb
  algorithms/metrology/classical_shadow_tomography.metadata.json
  tests/notebooks/test_classical_shadow_tomography.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed test
  algorithms/metrology/classical_shadow_tomography.metadata.json
  tests/notebooks/test_classical_shadow_tomography.py
Due: none

fixed test
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed typos in qsvm
  algorithms/qml/qsvm/qsvm.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed english errors
  algorithms/qml/qsvm/qsvm.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add c12 and two amazon backends
  benchmarking/hardwares_preferences.py
Due: none

revised classical shadow tomography notebook
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Upgrade whitebox fuzzing notebook
  applications/cybersecurity/whitebox_fuzzing/fuzzing.jpeg
  applications/cybersecurity/whitebox_fuzzing/oracle.jpg
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  tests/notebooks/test_whitebox_fuzzing.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add an emulate kwargs to amazon braket
  benchmarking/hardwares_preferences.py
Due: none

Fix auto-uncomputation error in logical_qubits_by_alice_and_bob
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update Shor synthesis optimization_parameter to width
  algorithms/number_theory_and_cryptography/shor/shor.synthesis_options.json
Due: none

align emulate default with prefs
  benchmarking/hardwares_preferences.py
Due: none

Add drop statements for state1 and state2 after swap_test
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

added a num_quibts variable where possible
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

calculate the width explicitly
  benchmarking/hardware.py
Due: none

Update arithmetic expressions notebook
  tests/notebooks/test_arithmetic_expressions.py
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
