Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

vrp notebook
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add tests to VRP notebook
  tests/notebooks/test_vehicle_routing_problem.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Try to correct tests
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

clear outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

After running pre-commit
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
  tests/notebooks/test_vehicle_rounting_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Add outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add broken url to allow list
  .internal/url_allow_list.txt
Due: none

upgraded models after lcu addition and bug solving
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/test.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed paths
  .internal/paths_for_docs.yaml
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct comments
  .internal/url_allow_list.txt
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add a link to the allowed url list
  .internal/url_allow_list.txt
  tests/test_links.py
Due: none

fixed ham-sim link
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  tests/test_links.py
Due: notebook-pre-commit, clean-demo-timeouts

fixed vlasov small qsvt issue
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

changed tests depth limit
  tests/notebooks/test_discrete_log.py
  tests/notebooks/test_vlasov_ampere.py
Due: none

fixed tests
  tests/notebooks/test_discrete_log.py
  tests/notebooks/test_vlasov_ampere.py
Due: none

updated tests
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: none

with oblivious demo
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

refactored hamiltonian simulation, fixed bug in qaoa_knapsack
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/test.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

upgraded vlasov_ampere and discrete_log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.qmod
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.json
  tests/notebooks/test_vlasov_ampere.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update plamsa pdf
  applications/plasma/vlasov_ampere/Implementation of a quantum linear solver for the Vlasov-Ampere equation.pdf
Due: none

Added CI to detect new notebooks
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

trigger ci
  algorithms/delete_me.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed path
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

add a qiskit notebook for vlasov ampere
  applications/plasma/vlasov_ampere/Implementation of a quantum linear solver for the Vlasov-Ampere equation.pdf
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

add test file
  tests/notebooks/test_vlasov_ampere_qiskit.py
Due: none

Update qmods
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts
