Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

fixed link
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  community/QClass_2024/Assignments/Preparation_for_Week2_Git_GitHub.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with dj
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qsvt notebooks in algorithms
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  tests/notebooks/test_qsvt_fixed_point_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Use param instead of global value
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fast check links in this repo
  tests/test_links.py
Due: none

fixed shor
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix requirements tests for conflict between numpy and pyomo
  requirements_tests.txt
Due: none

fixed hidden_shift
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift_complex.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_complex.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_simple.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_simple.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with all function usage examples
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.synthesis_options.json
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_and/bitwise_and_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_example.ipynb
  functions/function_usage_examples/arithmetic/comparator/comparator_example.ipynb
  functions/function_usage_examples/arithmetic/extremum/extremum_example.ipynb
  functions/function_usage_examples/arithmetic/modulo/modulo_example.ipynb
  functions/function_usage_examples/arithmetic/multiplication/multiplication.ipynb
  functions/function_usage_examples/arithmetic/negation/negation_example.ipynb
  functions/function_usage_examples/arithmetic/subtraction/subtraction_example.ipynb
  functions/function_usage_examples/mcx/mcx_example.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qmci
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.qmod
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with bv
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani_example.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with simon
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_example.synthesis_options.json
  algorithms/simon/simon_shallow_example.qmod
  algorithms/simon/simon_shallow_example.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with classiq qw
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

hhl
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with q_walk tutorial
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

export duplicate code to a function
  tests/utils_for_testbook.py
Due: none

Update qmods
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type1.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type2.qmod
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type2.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_type2.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qst_type2.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

witg hhl
  algorithms/hhl/hhl/figures/hhl_circuit.png
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_discrete_quantum_walk.py
Due: none

with aqc
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update jsons
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: none

Update tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Delete tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tests/notebooks/workshops/test_Qmod_workshop4finance.py
  tests/resources/timeouts.yaml
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

English suggestions for QPE for molecules
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove qmod in tests
  tests/notebooks/workshops/test_Option_Pricing_Workshop.py
  tests/notebooks/workshops/test_combi_workshop_Inequality_constriants_PO.py
  tests/notebooks/workshops/test_combi_workshop_equality_constriants_PO.py
  tests/notebooks/workshops/test_combinatorial_qmod_workshop_for_maxcut.py
Due: none

Update tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.qmod
  tutorials/workshops/grover_workshop/grover_workshop.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with vqe for potential curve
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Increase Shor width constraint
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with rainbow
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

minor fix
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb without iqae
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed bugs
  tests/notebooks/test_rainbow_options_integration_method.py
  tests/utils_for_testbook.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
