Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

fix cyber notbooks naming for docs
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
  tests/notebooks/test_patch_min_vertex_cover.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Meeting some requirements for the tests
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Adding paper implementation: Quantum State Preparation without Coherent Arithmetic
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, clean-demo-timeouts

Fix path err
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix link
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Merge notebooks
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Apply reviews
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

\ket{xxx} -> |xxx\rangle
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Use x.size
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Change timeout
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
Due: none

Minor changes
  tests/notebooks/test_execution_tutorial_part2.py
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Adding timeouts for the qmod files
  tests/notebooks/test_execution_tutorial_part2.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.synthesis_options.json
Due: clean-demo-timeouts

Fixing test notebook
  tests/notebooks/test_execution_tutorial_part2.py
Due: none

Fixing testbook
  tests/notebooks/test_execution_tutorial_part2.py
Due: none

Split CI to run quick tests first, slow tests later
  .github/workflows/Test-CI-main.yml
  tests/all_notebooks/test_notebooks.py
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/utils_for_tests.py
Due: none

delete me
  .github/workflows/Test-CI-main.yml
Due: none

Fix links
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix more links
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

delete me
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

temporary disable test
  tests/notebooks/test_hamiltonian_simulation_guide.py
Due: none

Send changed test files to the tests
  .github/workflows/Test-CI-main.yml
Due: none

delete me
  tests/notebooks/test_bernstein_vazirani.py
Due: none

Invoke tests based on changed tests
  tests/utils_for_tests.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
