Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

Support new metadata fields
  .internal/pre_commit_tools/metadata_consts.py
  .internal/pre_commit_tools/metadata_utils.py
Due: none

rename title and description in function names
  .internal/pre_commit_tools/metadata_utils.py
Due: none

Fix missing variable
  .internal/update_outputs/update_single_notebook.sh
Due: none

Add pre-commit to verify that notebook format execution count is fine
  .pre-commit-config.yaml
Due: clean-demo-timeouts

fix symmetric walk op to use the block-encoding qfunc and not the walk itself
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update notebooks output
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/rectangles_packing/rectangles_packing_grid.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  community/Hackathons/iQuHack_2025/Workshop/WS_iQuHack_2025_final.ipynb
  community/basic_examples/superposition/superposition.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Filtering results in last dataframe of Execution Tutorial for better readability
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

notebook wip
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.metadata.json
  tests/notebooks/test_quantum_sawtooth_map.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adding notebook
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

nb with refs
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

minor correction
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

with test and assertion
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
  tests/notebooks/test_quantum_sawtooth_map.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

with data from qpu run
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_2kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_4kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_6kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_8kicks.csv
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add ibm and ionq runs and fix df in notebook
  applications/physical_systems/quantum_maps/data_ibm_torino_1000_jobID_20260209_143520/df_2kicks.csv
  applications/physical_systems/quantum_maps/data_ibm_torino_1000_jobID_20260209_143520/df_4kicks.csv
  applications/physical_systems/quantum_maps/data_ibm_torino_1000_jobID_20260209_143520/df_6kicks.csv
  applications/physical_systems/quantum_maps/data_ibm_torino_1000_jobID_20260209_143520/df_8kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-1_1000_jobID_20260209_150802/df_2kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-1_1000_jobID_20260209_150802/df_4kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-1_1000_jobID_20260209_150802/df_6kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-1_1000_jobID_20260209_150802/df_8kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_2kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_4kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_6kicks.csv
  applications/physical_systems/quantum_maps/data_qpu.forte-enterprise-1_1000_jobID_20251225_122229/df_8kicks.csv
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr fixes
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_2kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_4kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_6kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_8kicks.csv
  applications/physical_systems/quantum_chaos/data_qpu.forte-1_1000_jobID_20260209_150802/df_2kicks.csv
  applications/physical_systems/quantum_chaos/data_qpu.forte-1_1000_jobID_20260209_150802/df_4kicks.csv
  applications/physical_systems/quantum_chaos/data_qpu.forte-1_1000_jobID_20260209_150802/df_6kicks.csv
  applications/physical_systems/quantum_chaos/data_qpu.forte-1_1000_jobID_20260209_150802/df_8kicks.csv
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.metadata.json
  applications/physical_systems/quantum_maps/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

put only ionq
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_2kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_4kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_6kicks.csv
  applications/physical_systems/quantum_chaos/data_ibm_torino_1000_jobID_20260209_143520/df_8kicks.csv
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add metadata description
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.metadata.json
Due: none

Update depth
  tests/notebooks/test_task_scheduling_problem.py
Due: none

minor fix for discrete log
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove timeouts internal file
  .internal/pre_commit_tools/clean_timeouts.py
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  .pre-commit-config.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update auto-test content
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Fix metadata field generation
  .internal/pre_commit_tools/metadata_utils.py
Due: none

Update notebook output
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
