Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

fix md intro for grover
  algorithms/grover/grover.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for qsvt_inv
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for shor
  algorithms/algebraic/shor/shor.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for gqsp
  algorithms/gqsp/gqsp.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for dj
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt 3SAT notebook to uncomputation
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt swap test notebook to uncomputation
  algorithms/swap_test/swap_test.ipynb
  algorithms/swap_test/swap_test.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hadamard test notebook to uncomputation
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt flexible QPE notebook to uncomputation
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt simon notebook to uncomputation
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_shallow_example.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt bernsten vazirani notebook to uncomputation
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt auxiliary management notebook to uncomputation
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum counting notebook to uncomputation
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QPE for grover notebook to uncomputation
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum walk notebook to uncomputation
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum thermal s-p notebook to uncomputation
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hidden shift notebook to uncomputation
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift_complex.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_simple.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt grover workhsop notebook to uncomputation
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt tanh Qmod to uncomputation
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Adapt QPE for unitary matrix notebook for uncomputation
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt approximated state preparation notebook to uncomputation
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt whitebox fuzzing notebook to uncomputation
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QMC user-defined notebook to uncomputation
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt shor notebook to uncomputation
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt BPDE notebook to uncomputation
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hamiltonian evolution notebook to uncomputation
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QPE for matrix notebook for uncomputation
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Recreate IQAE Qmod files
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.qmod
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Adapt example exponentiation notebook to uncomputation
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.qmod
  tutorials/basic_tutorials/exponentiation/example_exponentiation_minimize_error.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt discrete quantum walk circle notebook to uncomputation
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Replacing and by logical_and in the supported operators for arithmetics
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated timeouts
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/bernstein_vazirani/bernstein_vazirani.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Don't approve (test)
  README.md
Due: none

updated test
  tests/notebooks/test_bernstein_vazirani.py
Due: none

updated bernstein vazirani
  algorithms/bernstein_vazirani/bernstein_vazirani_example.metadata.json
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani_example.synthesis_options.json
  tests/resources/timeouts.yaml
Due: qmod-pre-commit, clean-demo-timeouts

updated bernstein vazirani
  tests/notebooks/test_bernstein_vazirani.py
Due: none

Adapt arithmetic expressions notebook to uncomputation
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_12_qubits.qmod
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_9_qubits.qmod
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
