Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Using 200 snapshots for better accuracy
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Implemented advice from Tomer allowed chebyshev line in timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified discrete log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.qmod
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.qmod
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixing_oracle_workshop_uncomp_compliance
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Including a tutorial for quantum functions and quantum entry point
  tests/notebooks/test_quantum_functions_entry_point.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/modeling/quantum_functions_entry_point.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add explicit operator transform function
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
Due: none

fix pauli sparse decomposition with correct qubit order
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
Due: none

update all relevant notebooks
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified the qaoa notebooks
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.metadata.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/qaoa.ipynb
  algorithms/qaoa/qaoa_knapsack.qmod
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
  algorithms/qaoa/qaoa_max_cut.metadata.json
  algorithms/qaoa/qaoa_max_cut.qmod
  algorithms/qaoa/qaoa_max_cut.synthesis_options.json
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/qaoa/qaoa_demonstration.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified the qaoa notebooks
  algorithms/qaoa/qaoa.ipynb
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
  algorithms/qaoa/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa.py
  tests/notebooks/test_qaoa_demonstration.py
  tests/notebooks/test_qaoa_knapsack.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Disable timeouts.yml checks
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Typo
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

Add (disabled) pre-commit validate_metadata
  .internal/pre_commit_tools/validate_metadata.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Move pytest config from pyproject.toml to config.ini
  pyproject.toml
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

delete me
  algorithms/algebraic/discrete_log/discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

lkhsdjf
  algorithms/algebraic/discrete_log/discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed oblivious assert
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  tests/notebooks/test_oblivious_amplitude_amplification.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified the qaoa notebooks
  tests/notebooks/test_qaoa.py
Due: none

Added `SHOULD_SKIP_MISSING_FIELDS` and `auto_fix` to missing fields
  .internal/pre_commit_tools/validate_metadata.py
Due: none

Added (untested) smart auto-generation of emtpy metadata
  .internal/pre_commit_tools/validate_metadata.py
Due: none

check warning test
  algorithms/swap_test/swap_test.ipynb
  algorithms/swap_test/swap_test.qmod
  algorithms/swap_test/swap_test.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add qpe with qubitization including qmod and metadata
  applications/chemistry/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.metadata.json
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.qmod
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.synthesis_options.json
  tests/notebooks/test_qpe_for_molecule_with_qubitization.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added gm-qaoa
  applications/optimization/adaptive_qaoa_lib.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
