Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

modified the qaoa notebooks
  tests/notebooks/test_qaoa.py
Due: none

updated qaoa
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.metadata.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/qaoa.ipynb
  algorithms/qaoa/qaoa_knapsack.qmod
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
  algorithms/qaoa/qaoa_max_cut.metadata.json
  algorithms/qaoa/qaoa_max_cut.qmod
  algorithms/qaoa/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_demonstration.py
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/qaoa/qaoa_demonstration.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified test qaoa
  tests/notebooks/test_qaoa.py
Due: none

fix imports and use new function for pauli op
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add outputs
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Classiq Overview Tutorial -> Overview Tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added test file
  tests/notebooks/test_adapt_vqe.py
Due: none

updated timeout file
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

added timeouts file
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Remove out_file in create_model() calls generating qmod files not in the whitelist
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/differential_equations/time_marching/time_marching.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_and/bitwise_and_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_or/bitwise_or_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_example.ipynb
  functions/function_usage_examples/arithmetic/comparator/comparator_example.ipynb
  functions/function_usage_examples/arithmetic/extremum/extremum_example.ipynb
  functions/function_usage_examples/arithmetic/modular_exp/modular_exp_example.ipynb
  functions/function_usage_examples/arithmetic/modulo/modulo_example.ipynb
  functions/function_usage_examples/arithmetic/multiplication/multiplication.ipynb
  functions/function_usage_examples/arithmetic/negation/negation_example.ipynb
  functions/function_usage_examples/arithmetic/subtraction/subtraction_example.ipynb
  functions/function_usage_examples/mcx/mcx_example.ipynb
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.ipynb
  functions/qmod_library_reference/classiq_open_library/hadamard_transform/hadamard_transform.ipynb
  functions/qmod_library_reference/classiq_open_library/linear_pauli_rotations/linear_pauli_rotations.ipynb
  functions/qmod_library_reference/classiq_open_library/qft/qft.ipynb
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_bell_state.ipynb
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_exponential_state.ipynb
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_ghz_state.ipynb
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_partial_uniform_state.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/exponentiation/hamiltonian_evolution_exponentiation.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.ipynb
  functions/qmod_library_reference/qmod_core_library/prepare_state_and_amplitudes/prepare_state_and_amplitudes.ipynb
  functions/qmod_library_reference/qmod_core_library/standard_gates/standard_gates.ipynb
  functions/qmod_library_reference/qmod_core_library/unitary/unitary.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix pre-commit formatting
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/simon/simon.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/max_k_vertex_cover/max_k_vertex_cover.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/rectangles_packing/rectangles_packing_grid.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  applications/physical_systems/ising_model/ising_model.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/vqe/vqe.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/qmod_core_library/prepare_state_and_amplitudes/prepare_state_and_amplitudes.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added back hamming weight notebook
  tests/resources/timeouts.yaml
  tests/test_hamming_weights_compilation_workshop.py
  tutorials/workshops/hamming_weights_compilation_tutorial/hamming_weights.qmod
  tutorials/workshops/hamming_weights_compilation_tutorial/hamming_weights.synthesis_options.json
  tutorials/workshops/hamming_weights_compilation_tutorial/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

unified the two qsvm files
  algorithms/qml/qsvm/qsvm.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

revised qsvm and deleted redundencies
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm/qsvm.qmod
  algorithms/qml/qsvm/qsvm_bloch_sphere_feature_map.qmod
  algorithms/qml/qsvm/qsvm_bloch_sphere_feature_map.synthesis_options.json
  algorithms/qml/qsvm/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm/qsvm_pauli_feature_map.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modifed qsvm
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed qsvm test file and deleted qsvm pauli feature map test file
  tests/notebooks/test_qsvm.py
  tests/notebooks/test_qsvm_pauli_feature_map.py
Due: none

fixed qmod tutorial2
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed mcx tutorial
  tests/notebooks/test_mcx.py
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.qmod
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Restore prepare-state .qmod for walkthrough
  tutorials/basic_tutorials/prepare_state/prepare_state.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.qmod
  tutorials/basic_tutorials/prepare_state/prepare_state.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

move single qmods - 2) move the synthesis options
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.synthesis_options.json
  algorithms/hhl/hhl/hhl.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/simon/simon.synthesis_options.json
Due: none

move single qmods - 3) rename the generation of qmods
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/simon/simon.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
