Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

fix nb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify 3sat_oracles for test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify and test grover max cut
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  tests/notebooks/test_grover_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

modify and test quantum volume
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  tests/notebooks/test_quantum_volume.py
Due: notebook-pre-commit, clean-demo-timeouts

Renamed
  .github/workflows/Test-CI-daily.yml
  .github/workflows/Test-CI-main.yml
Due: none

Renamed
  community/classiq_challenge_qaoa/quantum_classical_qaoa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Renamed
  community/classiq_challenge_qaoa/drug_discovery_qubo.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Update drug_discovery_qubo.qmod
  community/classiq_challenge_qaoa/drug_discovery_qubo.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Update test_pre_commit.py
  tests/internal/test_pre_commit.py
Due: none

cr fix3
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

1st done
  community/paper_implementation_project/Quantum_drugs_interaction/Drug_Interactions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Added a notebook for the Quantum Thermal State Preparation algorithm
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  tests/notebooks/test_quantum_thermal_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

additional cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

2nd done
  community/paper_implementation_project/Quantum_drugs_interaction/Drug_Interactions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

3rd done
  community/paper_implementation_project/Quantum_drugs_interaction/Drug_Interactions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

4th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction.qmod
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_prediction.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Update pre-commit messages
  .internal/pre_commit_tools/clean_timeouts.py
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

Update pull-request template to note about pre-commit
  .github/pull_request_template.md
Due: none

fixed typo in link
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add vqe with of
  applications/chemistry/molecule_eigensolver_using_openfermion/lih.xyz
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

add test
  tests/notebooks/test_molecule_eigensolver_using_openfermion.py
Due: none

update test requirements
  requirements_tests.txt
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
