Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Update test - time_marching
  algorithms/differential_equations/time_marching/time_marching.ipynb
  tests/notebooks/test_time_marching.py
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
  tests/utils_for_testbook.py
Due: none

Update test - rainbow_options_direct_method
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

rebase fix
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
Due: none

Update test - hhl_lanchester
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  tests/notebooks/test_hhl_lanchester.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - qaoa_max_cut
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

Split daily CI
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Update cron to run weekly on saturday
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Add IBM Cloud to Quantum Volume notebook
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix linter
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update cron times
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Export to action
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

remove old daily CI
  .github/workflows/Test-CI-daily.yml
Due: none

with plasma notebook, without execution
  applications/fusion/plasma_kinetic_simulation.ipynb
  applications/plasma/vlasov_ampere/Implementation of a quantum linear solver for the Vlasov-Ampere equation.pdf
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.qmod
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with cr fixes on text
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added test
  tests/notebooks/test_vlasov_ampere.py
Due: none

removed redundant test
  tests/notebooks/test_plasma_kinetic_simulation.py
Due: none

added plamsa notebook
  applications/fusion/plasma_kinetic_block_encoding.metadata.json
  applications/fusion/plasma_kinetic_block_encoding.qmod
  applications/fusion/plasma_kinetic_block_encoding.synthesis_options.json
  applications/fusion/plasma_kinetic_simulation.ipynb
  tests/notebooks/test_plasma_kinetic_simulation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

change params in qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

test qpe
  tests/notebooks/test_qpe_for_matrix.py
Due: none

minor fix
  tests/notebooks/test_qpe_for_matrix.py
Due: none
