Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

upgrade-nbformat:
  name: format nbformat upgrade
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: format nbformat strip
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

verify-notebook-format-execution-count:
  name: format nbformat execution-count
  language: pygrep
  entry: '"execution_count": -'

verify-platform-links-nightly:
  name: Forbid links to nightly.platform
  language: pygrep
  entry: https://nightly\.platform\.classiq\.io

verify-platform-links-dev:
  name: Forbid links with dev version
  language: pygrep
  entry: '[?&]version=[^ \t\n]*\.dev'

verify-platform-links-old:
  name: Forbid links from older versions
  language: pygrep
  entry: '"Opening:\s+https://'

notebook-pre-commit:
  name: Validate naming notebooks
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Validate naming qmods
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

validate-metadata-file:
  name: Validate Metadata file
  description: Add file if non existant and validate value otherwise
  entry: .internal/pre_commit_tools/metadata_validate.py
  language: python
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

evolved the q sketching notebook
  algorithms/qml/quantum_oracle_sketching/qauntum_oracle_sketching.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed the figure in classical shadows
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

revised fermionic_gaussian notebook
  algorithms/quantum_state_preparation/fermionic_gaussian/fermionic_gaussian.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix cooling systems notebook uncomputation
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

remove pip
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  algorithms/quantum_primitives/gqsp/gqsp.ipynb
  algorithms/quantum_walks/glued_trees/glued_trees.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

move qpe QPE
  tutorials/technology_demonstrations/QPE/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/technology_demonstrations/QPE/qpe_for_grover_operator/qpe_for_grover_operator.metadata.json
  tutorials/technology_demonstrations/QPE/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
  tutorials/technology_demonstrations/QPE/qpe_for_unitary_matrix/qpe_for_unitary_matrix.metadata.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

rename Qpe QPE
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.metadata.json
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.metadata.json
Due: none

move Qls QLS
  applications/cfd/QLS_for_hybrid_solvers/README.md
  applications/cfd/QLS_for_hybrid_solvers/banded_be.py
  applications/cfd/QLS_for_hybrid_solvers/cheb_utils.py
  applications/cfd/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/cfd/QLS_for_hybrid_solvers/chebyshev_approximation.metadata.json
  applications/cfd/QLS_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/QLS_for_hybrid_solvers/matrices/b_nozzle_small.npy
  applications/cfd/QLS_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/cfd/QLS_for_hybrid_solvers/pauli_be.py
  applications/cfd/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/QLS_for_hybrid_solvers/qls_chebyshev_lcu.metadata.json
  applications/cfd/QLS_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/QLS_for_hybrid_solvers/qls_qsvt.metadata.json
  applications/cfd/QLS_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/cfd/QLS_for_hybrid_solvers/verify_block_encoding.metadata.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

move Cfd CFD
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  applications/CFD/QLS_for_hybrid_solvers/README.md
  applications/CFD/QLS_for_hybrid_solvers/banded_be.py
  applications/CFD/QLS_for_hybrid_solvers/cheb_utils.py
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.metadata.json
  applications/CFD/QLS_for_hybrid_solvers/classical_functions_be.py
  applications/CFD/QLS_for_hybrid_solvers/matrices/b_nozzle_small.npy
  applications/CFD/QLS_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/CFD/QLS_for_hybrid_solvers/pauli_be.py
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.metadata.json
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.metadata.json
  applications/CFD/QLS_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/CFD/QLS_for_hybrid_solvers/verify_block_encoding.metadata.json
  applications/CFD/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/CFD/double_slit_experiment/quantum_double_slit_experiment.json
  applications/CFD/double_slit_experiment/quantum_double_slit_experiment.metadata.json
  applications/CFD/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/CFD/heat_eq_qsvt/heat_eq_qsvt.metadata.json
  applications/CFD/qlbm/qlbm.ipynb
  applications/CFD/qlbm/qlbm.metadata.json
  applications/CFD/qlbm/reflection_scheme.png
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

move qaoa QAOA
  algorithms/README.md
  algorithms/search_and_optimization/QAOA/qaoa.ipynb
  algorithms/search_and_optimization/QAOA/qaoa.metadata.json
  algorithms/search_and_optimization/QAOA/qaoa_knapsack.metadata.json
  algorithms/search_and_optimization/QAOA/qaoa_knapsack.qmod
  algorithms/search_and_optimization/QAOA/qaoa_knapsack.synthesis_options.json
  algorithms/search_and_optimization/QAOA/qaoa_max_cut.metadata.json
  algorithms/search_and_optimization/QAOA/qaoa_max_cut.qmod
  algorithms/search_and_optimization/QAOA/qaoa_max_cut.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

rename Qmci QMCI
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.metadata.json
Due: none

rename Qft QFT
  benchmarking/benchmarks/benchmark_qft.metadata.json
Due: none

move qml QML
  README.md
  algorithms/QML/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/QML/hybrid_qnn/hybrid_qnn_for_subset_majority.metadata.json
  algorithms/QML/hybrid_qnn/neural_network.png
  algorithms/QML/hybrid_qnn/trained_model.pth
  algorithms/QML/qgan/qgan_bars_and_strips.ipynb
  algorithms/QML/qgan/qgan_bars_and_strips.metadata.json
  algorithms/QML/qgan/resources/generator_trained_model.pth
  algorithms/QML/qgan/resources/q_generator_trained_model.pth
  algorithms/QML/qsvm/qsvm.ipynb
  algorithms/QML/qsvm/qsvm.metadata.json
  algorithms/QML/quantum_autoencoder/figures/Autoencoder_structure.png
  algorithms/QML/quantum_autoencoder/figures/encoder_decoder.png
  algorithms/QML/quantum_autoencoder/figures/q_auto_encoder.png
  algorithms/QML/quantum_autoencoder/figures/qae_qlayer.png
  algorithms/QML/quantum_autoencoder/figures/swap_test_closed.png
  algorithms/QML/quantum_autoencoder/figures/swap_test_opened.png
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.metadata.json
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.qmod
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.synthesis_options.json
  algorithms/QML/readme.md
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

remove unused yaml dependency
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  .pre-commit-config.yaml
Due: none

Add pre-commit to comment out pip commands
  .internal/pre_commit_tools/notebook_comment_system_commands.py
  .pre-commit-config.yaml
Due: none

Allow injecting code into notebooks for tests, plus inject default disallow-pip code
  tests/utils_for_testbook.py
Due: none

Make cheb_lcu an approximated one, put a fast small example and a long example with relaxed synthesis prefs
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modify cheb_utils and the explanatory notebook
  applications/CFD/QLS_for_hybrid_solvers/cheb_utils.py
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update chebyshev approximation notebook
  tests/notebooks/test_chebyshev_approximation.py
Due: none

update tests
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.ipynb
  tests/notebooks/test_qls_chebyshev_lcu.py
  tests/notebooks/test_qls_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add new matrix and rhs vector
  applications/CFD/QLS_for_hybrid_solvers/matrices/nozzle_008_b.npy
  applications/CFD/QLS_for_hybrid_solvers/matrices/nozzle_008_mat.npz
Due: none

fixed mistake in shadows notebook
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix tests
  tests/notebooks/test_chebyshev_approximation.py
  tests/notebooks/test_qls_chebyshev_lcu.py
  tests/notebooks/test_qls_qsvt.py
Due: none

update some text and figures
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: \.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-notebook-format-execution-count: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-platform-links-nightly: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-dev: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-old: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  notebook-pre-commit: any of: \.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: \.qmod$, but not: ^\.internal/docs/.*
  validate-metadata-file: any of: \.(qmod|ipynb)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: \.ipynb$, but not: ^\.internal/docs/.*
