Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Addressing Matan's comments
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix tests
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing tests
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Minor Fix
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Modifying test notebook
  tests/notebooks/test_execution_tutorial.py
Due: none

added back rb
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
  tests/notebooks/test_randomized_benchmarking.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

cleaned notebook and added outputs
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

updated cybersecurity qaoa notebooks
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

removed errornous test
  tests/notebooks/test_randomized_benchmarking.py
Due: none

removed rb output
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixing broken links. Updating part of the QMOD Workshop notebooks as well
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_1.ipynb
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Additional fix
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Another couple of broken links
  community/Hackathons/iQuHack_2025/Workshop/WS_iQuHack_2025_final.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/workshops/test_QMOD_Workshop_Part_1.py
  tests/notebooks/workshops/test_QMOD_Workshop_Part_2.py
Due: none

Adding execution tutorial
  tests/notebooks/test_execution_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding the second part of the tutorial
  tests/notebooks/test_execution_tutorial_part2.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Removing hardware execution from the execution tutorial
  tests/notebooks/test_execution_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Removing Hardware Execution from Execution Tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing test notebook
  tests/notebooks/test_execution_tutorial.py
Due: none

Fixing conflicts
  tests/notebooks/test_execution_tutorial_part2.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replace qarray with qnum in shor
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmod files
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts
