Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Fixing Equations in Markdown
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix tests
  tests/notebooks/workshops/test_optimize.py
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Change A_QPE to generate the same qmod file
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Move test community and functions
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/notebooks/test__community_and_functions.py
  tests/utils_for_tests.py
Due: none

Revert "remove duplicate test"
  tests/all_notebooks/test_notebooks.py
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

using pre commit
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: none

change to optimization level 2
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

run pre-commit to fix the qmods
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: none

revert timing out noteboks to use allocate_num and not allocate
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replacing execute -> ExecutionSession
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding Execution Jobs and Job retrieval
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Increase demo timeouts following changes in 28e9b624
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update cooling systems Qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Replace execute -> Execution Session. Introduced Job Retrieval
  tests/notebooks/test_execution_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Round np array to avoid numerical randomness
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/test_execution_tutorial.py
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add tb.ref_pydantic
  tests/utils_for_testbook.py
Due: none

Clean validate_quantum_program_size with compare_to
  tests/utils_for_testbook.py
Due: none

introduction typo fix
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Partial fix for CLS-2730
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/shor/shor.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding missing import
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing test errors
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Pre-commit hooks fixed
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix DQI model errors
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding explicit imports
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Making imports explicit
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/grover/3_sat_grover/3_sat_grover.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/simon/simon.ipynb
  algorithms/swap_test/swap_test.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing tests
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replace suzuki_trotter with parametric variant
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Qmod files
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.qmod
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts
