Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

upgrade-nbformat:
  name: format nbformat upgrade
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: format nbformat strip
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

verify-notebook-format-execution-count:
  name: format nbformat execution-count
  language: pygrep
  entry: '"execution_count": -'

verify-platform-links-nightly:
  name: Forbid links to nightly.platform
  language: pygrep
  entry: https://nightly\.platform\.classiq\.io

verify-platform-links-dev:
  name: Forbid links with dev version
  language: pygrep
  entry: '[?&]version=[^ \t\n]*\.dev'

verify-platform-links-old:
  name: Forbid links from older versions
  language: pygrep
  entry: '"Opening:\s+https://'

notebook-pre-commit:
  name: Validate naming notebooks
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Validate naming qmods
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

validate-metadata-file:
  name: Validate Metadata file
  description: Add file if non existant and validate value otherwise
  entry: .internal/pre_commit_tools/metadata_validate.py
  language: python
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

fixed test
  tests/notebooks/test_qsvt_fixed_point_amplitude_amplification.py
Due: none

fixed failing notebooks
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reorder quantum volume content
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/report.pdf
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add a commented out cell for restarting example
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add a commented out cell for restarting project
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update readme
  benchmarking/README.md
Due: none

reorder notebooks content
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/localization3.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/hardwares_preferences.py
  benchmarking/report/data/10_ghz_003.csv
  benchmarking/report/data/10_grover_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_ghz_003.tex
  benchmarking/report/sections/10_grover_004.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add checkout
  .github/workflows/Test-CI-qmod.yml
Due: none

Upgrade grover operator notebook
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.ipynb
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.qmod
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

adding paper pdf
  algorithms/error_correction/syndrome_extraction_optimization/color_code_off_the_hook.pdf
Due: none

small correction to readme
  algorithms/error_correction/syndrome_extraction_optimization/README.md
Due: none

modified fh model
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

coded the python code, before tests
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.metadata.json
  tests/notebooks/test_fermi_hubbard_1D.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added text
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the u=0 limit
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added some theory
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the vanishing u limit
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added state preparation figure and fixed bug
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

updated timeout in test
  tests/notebooks/test_fermi_hubbard_1D.py
Due: none

reviewed comments
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

completed the spin-charge anslysis
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the analytical solution
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added non-interacting and non-hopping limits to the model
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

updated test file
  tests/notebooks/test_fermi_hubbard_1D.py
Due: none

revised review comments
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added the spin and charge spreads
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added analytical checks
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

removed unneaded comment
  tests/notebooks/test_fermi_hubbard_1D.py
Due: none

Path conditions:
  upgrade-nbformat: any of: \.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-notebook-format-execution-count: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-platform-links-nightly: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-dev: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-old: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  notebook-pre-commit: any of: \.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: \.qmod$, but not: ^\.internal/docs/.*
  validate-metadata-file: any of: \.(qmod|ipynb)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: \.ipynb$, but not: ^\.internal/docs/.*
