Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

delete me
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  tests/utils_for_testbook.py
Due: none

Removing broken link
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  tests/config_notebook_execute_tests.ini
Due: none

delete me
  tests/notebooks/test_approximated_state_preparation.py
Due: none

Add colors to pytest in CI
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

exclude wikipedia links
  tests/test_links.py
Due: none

Quantum Types and Variables Tutorial
  tests/notebooks/test_modeling_quantum_types_and_variables.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/modeling/modeling_quantum_types_and_variables.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.md
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Modifying test file
  tests/notebooks/test_modeling_quantum_types_and_variables.py
Due: none

Initial commit
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.md
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing pre-commit hooks
  tutorials/basic_tutorials/modeling/modeling_quantum_types_and_variables.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

collect errors into ExceptionGroup
  tests/utils_for_qmod.py
Due: none

rename decorator inner functions
  tests/utils_for_qmod.py
  tests/utils_for_testbook.py
Due: none

Including figures to the quantum types tutorial
  tutorials/basic_tutorials/modeling/modeling_quantum_types_and_variables.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Updating test expected width and depth
  tests/notebooks/test_modeling_quantum_types_and_variables.py
Due: none

Re-order error collection to not raise ExceptionGroup in case of 1 error
  tests/utils_for_qmod.py
Due: none

delete me
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  algorithms/bernstein_vazirani/bernstein_vazirani.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  tests/notebooks/test_bernstein_vazirani.py
Due: qmod-pre-commit, clean-demo-timeouts

Update yq command
  .github/actions/send_qmods_slack_notification/action.yml
Due: none

Add drops to qubits in teleportation to avoid auto-uncomputataion
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/quantum_teleportation/quantum_teleportation.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Fix assign_amplitude_table signature in Qmods
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_trotter.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
Due: qmod-pre-commit, clean-demo-timeouts

updated dqi notebook with new functions
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Update elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr comment fix
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt simon notebook to uncomputation
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_shallow_example.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt Bernstein Vazirani notebook to uncomputation
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed cooling systems uncomputation
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified discrete log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Implemented advice from Tomer
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
