Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

update notebooks to state of the art execution sdk
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/physical_systems/hhl_lanchester/hhl_lanchester.ipynb
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Format migration notebooks JSON.
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate quantum_volume to the new execution API.
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate fermi_hubbard_1D to the new execution API.
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate qml_with_classiq_guide VQE section to the new execution API.
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate logical_qubits_by_alice_and_bob to the new execution API.
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

lint
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  applications/CFD/QLS_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

lint
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix the corresponding notebook tests
  tests/notebooks/test_quantum_sawtooth_map.py
Due: none

address tests issues
  tests/notebooks/test_fermi_hubbard_1D.py
  tests/notebooks/test_qml_with_classiq_guide.py
Due: none

align cooling system with execution interface, remove create_model
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

remove qmod from test
  tests/notebooks/test_cooling_systems_optimization.py
Due: none

CLS-8612: Move res allocation after aux |= x < 0.5 in Qmod tutorial part 2
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add a script to summarize weekly workflow results
  .internal/generate_weekly_report.py
Due: none

update metrics collection
  tests/utils_for_testbook.py
Due: none

Fix circuit metrics in alice and bob
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

Gradient estimation notebook
  algorithms/gradient_estimation/Gradient Estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

.
  algorithms/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixing small error in the notebook
  algorithms/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixed comments
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Final version
  algorithms/gradient_estimation/Stephen P. Jordan - Fast Quantum Algorithm for Numerical Gradient Estimation.pdf
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
  algorithms/gradient_estimation/quantum_circuit.png
  algorithms/gradient_estimation/quantum_circuit_2.png
  tests/notebooks/test_gradient_estimation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixing PR comments
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixed error in one cell
  algorithms/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Version 3
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
  algorithms/gradient_estimation/step_2.png
  algorithms/gradient_estimation/step_3.png
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Running all cells
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixing PR comments
  algorithms/gradient_estimation/Gradient Estimation.ipynb
  algorithms/gradient_estimation/Stephen P. Jordan - Fast Quantum Algorithm for Numerical Gradient Estimation.pdf
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation.metadata.json
  algorithms/gradient_estimation/gradient_estimation_helpers.py
  algorithms/gradient_estimation/quantum_circuit.png
  algorithms/gradient_estimation/quantum_circuit_2.png
  algorithms/gradient_estimation/step_2.png
  algorithms/gradient_estimation/step_3.png
  tests/notebooks/test_gradient_estimation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Moved to quantum primitives
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation.ipynb
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation.metadata.json
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation_helpers.py
  algorithms/quantum_primitives/gradient_estimation/quantum_circuit.png
  algorithms/quantum_primitives/gradient_estimation/step_2.png
  algorithms/quantum_primitives/gradient_estimation/step_3.png
  algorithms/quantum_primitives/readme.md
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
