Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

Fix agent-doc wiring and add the missing title-case doc
  .internal/conventions/agents/notebook-heading-hierarchy.md
  .internal/conventions/agents/notebook-intro-opener.md
  .internal/conventions/agents/notebook-section-vocab.md
  .internal/conventions/agents/notebook-title-case.md
  .internal/conventions/agents/notebook-variable-names.md
Due: none

Rewrite STATUS.md and README.md to match reality
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
  .internal/conventions/points/point_single_h1.py
Due: none

report: add --rule and --list flags; write intro-opener & section-vocab mission docs
  .internal/conventions/agents/notebook-intro-opener.md
  .internal/conventions/agents/notebook-section-vocab.md
  .internal/conventions/points/point_intro_opener.py
  .internal/conventions/points/point_section_vocab.py
  .internal/conventions/report.py
Due: none

Restore the --in-cells-with scoping in tools/rename_var.py
  .internal/conventions/tools/rename_var.py
Due: none

Make the report table the default, reorder points, mark parked ones
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
  .internal/conventions/points/_model.py
  .internal/conventions/points/point_execution_interface.py
  .internal/conventions/points/point_intro_opener.py
  .internal/conventions/points/point_result_value.py
  .internal/conventions/points/point_result_var.py
  .internal/conventions/report.py
Due: none

Give the conventions report a readable, flag-driven output layer
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
  .internal/conventions/report.py
Due: none

Add a per-point summary to the --full report output
  .internal/conventions/report.py
Due: none

Add .internal/conventions resume-kit for the notebook-uniformity effort
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
  .internal/conventions/agents/notebook-heading-hierarchy.md
  .internal/conventions/agents/notebook-math-notation.md
  .internal/conventions/agents/notebook-unicode-cleanup.md
  .internal/conventions/agents/notebook-variable-names.md
  .internal/conventions/one_off_fixes/analyze_create_model.py
  .internal/conventions/one_off_fixes/check_fences.py
  .internal/conventions/one_off_fixes/collapse_synthesize.py
  .internal/conventions/one_off_fixes/fix_result_value.py
  .internal/conventions/one_off_fixes/fix_single_h1.py
  .internal/conventions/one_off_fixes/h1_outline.py
  .internal/conventions/tools/heading_outline.py
  .internal/conventions/tools/heading_stats.py
  .internal/conventions/tools/math_lint.py
  .internal/conventions/tools/md_replace.py
  .internal/conventions/tools/nonascii.py
  .internal/conventions/tools/rename_var.py
  .internal/conventions/tools/unicode_audit.py
Due: none

Redesign the convention report as a per-point collector (skeleton)
  .internal/conventions/points/__init__.py
  .internal/conventions/points/_model.py
  .internal/conventions/points/point_result_value.py
  .internal/conventions/points/point_show.py
  .internal/conventions/points/point_single_h1.py
  .internal/conventions/points/point_synthesize_main.py
  .internal/conventions/points/point_title_case.py
  .internal/conventions/report.py
Due: none

Fold the uniformity monolith into the modular report
  .internal/conventions/report.py
  .internal/notebook_uniformity_report.py
  .internal/pre_commit_tools/notebook_uniformity.py
Due: none

Port all convention points to the collector; static/agent 3-string model
  .internal/conventions/points/_model.py
  .internal/conventions/points/point_def_main.py
  .internal/conventions/points/point_execution_interface.py
  .internal/conventions/points/point_headings.py
  .internal/conventions/points/point_intro_opener.py
  .internal/conventions/points/point_math.py
  .internal/conventions/points/point_opens_h1.py
  .internal/conventions/points/point_qprog_var.py
  .internal/conventions/points/point_references.py
  .internal/conventions/points/point_result_value.py
  .internal/conventions/points/point_result_var.py
  .internal/conventions/points/point_section_vocab.py
  .internal/conventions/points/point_show.py
  .internal/conventions/points/point_single_h1.py
  .internal/conventions/points/point_synthesize_main.py
  .internal/conventions/points/point_title_case.py
  .internal/conventions/points/point_unicode.py
  .internal/conventions/report.py
Due: none

single_h1 is now enforced (PR #1642 merged to main)
  .internal/conventions/STATUS.md
  .internal/conventions/points/point_single_h1.py
Due: none

conventions STATUS/README: publish-ready cleanup
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
Due: none

Drop the section_vocab point
  .internal/conventions/agents/notebook-section-vocab.md
  .internal/conventions/points/point_section_vocab.py
  .internal/conventions/report.py
Due: none

Black-format the kit tool scripts
  .internal/conventions/tools/math_lint.py
  .internal/conventions/tools/md_replace.py
  .internal/conventions/tools/nonascii.py
  .internal/conventions/tools/unicode_audit.py
Due: none

Fix single-H1 in gradient_estimation (demote stray section H1s to H2)
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Remove emojis and repoint library-function links to Qmod Reference
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Give AMD resiliency notebook a distinct title; fix gradient_estimation headings
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation.ipynb
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix gradient_estimation heading hierarchy (single H1 title)
  algorithms/quantum_primitives/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Change qubit_op_to_pauli_terms to qubit_op_to_qmod
  community/paper_implementation_project/bpde/bpde.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add max flow panhandle and heat equation via schrodingerization examples
  applications/CFD/heat_eq_schrodingerisation/heat_eq_schrodingerisation.ipynb
  applications/CFD/heat_eq_schrodingerisation/heat_eq_schrodingerisation.metadata.json
  applications/CFD/heat_eq_schrodingerisation/heat_eq_schrodingerisation.qmod
  applications/CFD/heat_eq_schrodingerisation/heat_eq_schrodingerisation.synthesis_options.json
  applications/oil_and_gas/max_flow_panhandle/max_flow_panhandle.ipynb
  applications/oil_and_gas/max_flow_panhandle/max_flow_panhandle.metadata.json
  applications/oil_and_gas/max_flow_panhandle/max_flow_panhandle.qmod
  applications/oil_and_gas/max_flow_panhandle/max_flow_panhandle.synthesis_options.json
  tests/notebooks/test_heat_eq_schrodingerisation.py
  tests/notebooks/test_max_flow_panhandle.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

Update actions/checkout to v7
  .github/workflows/Lint.yml
  .github/workflows/Notification-developers-onboarding.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  .github/workflows/Test-CI-main.yml
  .github/workflows/Test-CI-qmod.yml
  .github/workflows/Utils-deployment-qmod.yml
Due: none

Fix malformed display-math delimiter in solving_qlsp_with_aqc
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Normalize math notation: display delimiters to $$, unicode to LaTeX
  algorithms/QML/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.ipynb
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Harden title_case.py against edge cases found in review
  .internal/conventions/tools/title_case.py
Due: none

Give the AMD resiliency notebook a distinct title
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Allow fork checkout in CI-main for actions/checkout v7
  .github/workflows/Test-CI-main.yml
Due: none

Add title_case.py tool and edge-case warnings to agent
  .internal/conventions/agents/notebook-title-case.md
  .internal/conventions/tools/title_case.py
Due: none

pre_commit_tools: shared _common helper + cleanups
  .internal/pre_commit_tools/_common.py
  .internal/pre_commit_tools/auto_add_tests.py
  .internal/pre_commit_tools/extra_nbstripout.py
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  .internal/pre_commit_tools/set_nbformat.py
Due: none

pre-commit: unify hook names as format / validate / forbid
  .pre-commit-config.yaml
Due: none

Update test to use existing decorators
  tests/notebooks/test__community_and_functions.py
  tests/utils_for_testbook.py
Due: none
