Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

added max induced coloring
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.qmod
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.qmod
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.synthesis_options.json
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed url
  .internal/url_allow_list.txt
Due: none

Removing Hardware Execution from Execution Tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing test notebook
  tests/notebooks/test_execution_tutorial.py
Due: none

Another couple of broken links
  community/Hackathons/iQuHack_2025/Workshop/WS_iQuHack_2025_final.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

removed errornous test
  tests/notebooks/test_randomized_benchmarking.py
Due: none

Fixing conflicts
  tests/notebooks/test_execution_tutorial_part2.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

removed rb output
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing tests
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/workshops/test_QMOD_Workshop_Part_1.py
  tests/notebooks/workshops/test_QMOD_Workshop_Part_2.py
Due: none

Expand error message on notebook without test
  tests/test_all_notebooks_are_tested.py
Due: none

Use image wildcard instead of explicit names
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

added back rb
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
  tests/notebooks/test_randomized_benchmarking.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Fixing broken links. Updating part of the QMOD Workshop notebooks as well
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_1.ipynb
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replace eqnarray with aligned
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct comments second time
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix exponentiation notebook with new chemsistry
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.qmod
  tutorials/basic_tutorials/exponentiation/example_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation_minimize_error.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

increase timeout
  tests/notebooks/test_vlasov_ampere_qiskit.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update test file after rebase
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

adding ecdlp notebook with metadata
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  tests/notebooks/test_elliptic_curve_discrete_log.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update timeouts for ecdlp notebook
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

further changes to elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added uncomputationl catagories and some more small fixes to the notebook
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix t0 again....
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

update ecdlp notebook and modular arithmetic
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, clean-demo-timeouts

changed post processing to be similar to discrete_log notbook, changed main_ecdlp function name, fixed refrences and wordings
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed small explicit t0 definition in ec_point_add
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

update ecdlp notebook based on Or S remarks
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

rebasing branch with small edits
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix notebooks
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmods
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.qmod
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix notebooks
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmods
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Revert "Update phase_kickback"
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
Due: none
