Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

English suggestions for Integer Programming
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Max Independent
  applications/optimization/max_independent_set/max_independent_set.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions to Max Clique
  applications/optimization/max_clique/max_clique.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for travelling salesman
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated notebooks to use qsvt functions
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed bugs
  algorithms/gqsp/gqsp.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed logic in test for hamiltonian simulation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

typo fix
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

reverted mistakenly changed hamiltonian_simulation_notebook
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing spelling errors in QPE notebook. Improving wording
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing Rendering Problems in the docs/dark mode
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix Qmod comparison CI
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  tests/config_weekly
  tests/config_weekly.ini
Due: none

fixed gaussian state prep after fixing the library qsvt_lcu
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed a bug in the notebook
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed wrong equation for a in the european options tutorial, and updated solution in the european options workshop
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Increase machine precision for prepare_state/amps
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qmods
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix notebook amps
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update notebook outputs
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qmod_compare to collect all errors
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  tests/utils_for_qmod.py
  tests/utils_for_testbook.py
Due: none

Clean more metadata
  .internal/pre_commit_tools/extra_nbstripout.py
  algorithms/hhl/hhl/hhl.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add updated notebook with qmods
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added qlbm files
  applications/cfd/qlbm/qlbm.ipynb
  applications/cfd/qlbm/qlbm.qmod
  applications/cfd/qlbm/qlbm.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added test_qlbm
  tests/notebooks/test_qlbm.py
Due: none

add tests
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix test
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: qmod-pre-commit, clean-demo-timeouts

update cfd_qls example with removing explicity pyqsp
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Update qlbm files
  applications/cfd/qlbm/qlbm.ipynb
  applications/cfd/qlbm/qlbm.qmod
  applications/cfd/qlbm/qlbm.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Change standard gates examples to have main outputs
  functions/qmod_library_reference/qmod_core_library/standard_gates/CRX.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/CX.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/PHASE.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/R.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/RZ.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/RZZ.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/SWAP.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/U.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/X.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/standard_gates.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Removing a </div> incorrectly closed
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated qlbm notebook
  applications/cfd/qlbm/qlbm.ipynb
  applications/cfd/qlbm/qlbm.synthesis_options.json
  applications/cfd/qlbm/reflection_scheme.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove unused paths from paths_for_docs.yaml
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
