Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

upgrade-nbformat:
  name: format nbformat upgrade
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: format nbformat strip
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

verify-notebook-format-execution-count:
  name: format nbformat execution-count
  language: pygrep
  entry: '"execution_count": -'

verify-platform-links-nightly:
  name: Forbid links to nightly.platform
  language: pygrep
  entry: https://nightly\.platform\.classiq\.io

verify-platform-links-dev:
  name: Forbid links with dev version
  language: pygrep
  entry: '[?&]version=[^ \t\n]*\.dev'

verify-platform-links-old:
  name: Forbid links from older versions
  language: pygrep
  entry: '"Opening:\s+https://'

notebook-pre-commit:
  name: Validate naming notebooks
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Validate naming qmods
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

validate-metadata-file:
  name: Validate Metadata file
  description: Add file if non existant and validate value otherwise
  entry: .internal/pre_commit_tools/metadata_validate.py
  language: python
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Version 3
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
  algorithms/gradient_estimation/step_2.png
  algorithms/gradient_estimation/step_3.png
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixed error in one cell
  algorithms/gradient_estimation/gradient_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added an embedding notebook
  applications/chemistry/projection_based_embedding/water_calculation.ipynb
  applications/chemistry/projection_based_embedding/water_calculation.metadata.json
  tests/notebooks/test_water_calculation.py
  tests/notebooks/test_water_calculation_sdk.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update test collection failure on tests with missing notebooks
  tests/utils_for_tests.py
Due: none

add asserts to the test and commented exact diagonalization
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.json
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.metadata.json
  tests/notebooks/test_projected_based_embedding_tutorial.py
  tests/notebooks/test_water_calculation.py
  tests/notebooks/test_water_calculation_sdk.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Simplify bob_measurements extraction in BB84 notebook
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Remove get_projected_state_vector helper from select_structures_BE notebook
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Address review comments
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_utils.py
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.ipynb
  algorithms/search_and_optimization/grover/grover.ipynb
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Remove get_projected_state_vector helper and inline its logic
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate notebooks to the new execution API (batch 2)
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix CI failures caused by execution API migration
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  tests/notebooks/test_discrete_log.py
  tests/notebooks/test_grover.py
  tests/notebooks/test_hhl.py
  tests/notebooks/test_molecule_eigensolver.py
  tests/notebooks/test_oblivious_amplitude_amplification.py
  tests/notebooks/test_partial_exponential_state_preparation.py
  tests/notebooks/test_swap_test.py
  tests/notebooks/test_time_marching.py
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

extended the timeout
  tests/notebooks/test_vqls_with_lcu.py
Due: none

Fix stale test references after execution API migration
  tests/notebooks/test_discrete_quantum_walk.py
  tests/notebooks/test_oblivious_amplitude_amplification.py
  tests/notebooks/test_quantum_walks_via_efficient_blockencoding.py
Due: none

update metrics collection
  tests/utils_for_testbook.py
Due: none

Add a script to summarize weekly workflow results
  .internal/generate_weekly_report.py
Due: none

modified the title
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add a framework to allow certain errors to silently fail the notebooks without causing the CI to fail
  tests/conftest.py
  tests/utils_for_error_silencing.py
  tests/utils_for_testbook.py
Due: none

modified to single excitation ucc to shorten the running time
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
  tests/notebooks/test_projected_based_embedding_tutorial.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

revised the notebook
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added a schematic drawing
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix circuit metrics in alice and bob
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed the test
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
  tests/notebooks/test_projected_based_embedding_tutorial.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

revised notebook
  applications/chemistry/projection_based_embedding/projected_based_embedding_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: \.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-notebook-format-execution-count: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-platform-links-nightly: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-dev: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-old: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  notebook-pre-commit: any of: \.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: \.qmod$, but not: ^\.internal/docs/.*
  validate-metadata-file: any of: \.(qmod|ipynb)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: \.ipynb$, but not: ^\.internal/docs/.*
