Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

remove the screenshot of the probably wrong probabilities
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

increase the number of iterations to actually measure c with higher probability
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix notebook
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix pytest config weekly
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  tests/config_weekly
  tests/config_weekly.ini
Due: none

Allow replacing notebooks content pre-test
  tests/utils_for_testbook.py
Due: none

ecdklp temp removal
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

removed tests
  tests/notebooks/test_elliptic_curve_discrete_log.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

add comment to qae
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.qmod
Due: qmod-pre-commit, clean-demo-timeouts

qsvt inversion qmod comments
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

qmod for fpaa
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add comment to bv
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.qmod
Due: qmod-pre-commit, clean-demo-timeouts

detch jozsa qmod
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add comments to st
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
Due: qmod-pre-commit, clean-demo-timeouts

add comments to qdrift
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
Due: qmod-pre-commit, clean-demo-timeouts

rm write_qmod
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

teleportation qmod comments
  algorithms/foundational/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/foundational/quantum_teleportation/quantum_teleportation.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

lcu qmod comments
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

cr comments
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Revert "removed tests"
  tests/notebooks/test_elliptic_curve_discrete_log.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Revert "ecdklp temp removal"
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

cr comments fix
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.qmod
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fixed add bell states
  tutorials/basic_tutorials/add_bell_states/add_bell_states.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fixed a bug in the hadamard test
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
