Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

fix: resolve TestbookObjectReference TypeError in entanglement test
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

fix: update entanglement test to match standard pattern
  tests/notebooks/test_entanglement.py
Due: none

update path for docs from classiq 101 to tutorials/basic_tutorials
  .internal/paths_for_docs.yaml
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: clean-demo-timeouts

Fix test name
  tests/internal/test_pre_commit.py
Due: none

align with version
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix ae
  algorithms/qml/quantum_autoencoder/autoencoder.qmod
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Improve is_valid_qmod error message
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  tests/internal/test_pre_commit.py
Due: none

cleanup: remove orphaned test files for deleted classiq_101 notebooks
  tests/notebooks/workshops/test_part1_arithmetic.py
  tests/notebooks/workshops/test_part2_state_preparation.py
  tests/notebooks/workshops/test_part3_deutsch_jozsa.py
  tests/notebooks/workshops/test_part4_ghz_state.py
  tests/notebooks/workshops/test_part5_grover.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

add '
  .github/workflows/Test-CI-main.yml
Due: none

Update test - rectangles_packing_grid
  tests/notebooks/test_rectangles_packing_grid.py
Due: none

with qsvm
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm/qsvm.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: resolve entanglement test TypeError by using ref_pydantic
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

with ae metadata and test
  algorithms/qml/quantum_autoencoder/autoencoder.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  tests/notebooks/test_quantum_autoencoder.py
Due: notebook-pre-commit, clean-demo-timeouts

with qgan
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update test - discrete_quantum_walk_circle
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/utils_for_testbook.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix readme
  README.md
Due: none

Remove orphaned test files for deleted notebooks
  tests/notebooks/workshops/test_analyze.py
  tests/notebooks/workshops/test_classical_variables_and_operations.py
  tests/notebooks/workshops/test_design.py
  tests/notebooks/workshops/test_execute.py
  tests/notebooks/workshops/test_hello_many_worlds.py
  tests/notebooks/workshops/test_optimize.py
  tests/notebooks/workshops/test_quantum_operations.py
  tests/notebooks/workshops/test_quantum_variables_and_functions.py
Due: none

change a link in unrelated notebook
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove redundant whats_classiq tutorial
  tests/notebooks/workshops/test_whats_classiq.py
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.ipynb
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.qmod
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.synthesis_options.json
  tutorials/classiq_101/whats_classiq/whats_classiq.ipynb
  tutorials/classiq_101/whats_classiq/whats_classiq.metadata.json
  tutorials/classiq_101/whats_classiq/whats_classiq.qmod
  tutorials/classiq_101/whats_classiq/whats_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix CI failures: Remove obsolete file references
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

fix add '
  .github/workflows/Test-CI-main.yml
Due: none

with hybrid qnn
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix QML with Classiq guide pic name
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

feat: enhance entanglement tutorial with GHZ states
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  community/basic_examples/entanglement/entanglement.ipynb
  tests/notebooks/test_entanglement.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.qmod
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/classiq_101/getting_started/part2_state_preparation.ipynb
  tutorials/classiq_101/getting_started/part3_deutsch_jozsa.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Forbid space in file names
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

Create test for readme file
  tests/test_readme_file.py
Due: none

fix: update broken links to LCU tutorial
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Complete classiq_101 cleanup: Move quantum primitives to basic_tutorials
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.metadata.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.qmod
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.ipynb
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.metadata.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with auto encoder
  algorithms/qml/quantum_autoencoder/autoencoder.qmod
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with poisson
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix auto_add_tests old syntax
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Add warnings for validations on non-transpiled circuits
  tests/utils_for_testbook.py
Due: none

Remove redundant classiq_concepts tutorial folder
  tests/resources/timeouts.yaml
  tutorials/classiq_101/classiq_concepts/analyze/analyze.ipynb
  tutorials/classiq_101/classiq_concepts/analyze/analyze.metadata.json
  tutorials/classiq_101/classiq_concepts/analyze/analyze.qmod
  tutorials/classiq_101/classiq_concepts/analyze/analyze.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.ipynb
  tutorials/classiq_101/classiq_concepts/design/design/design.metadata.json
  tutorials/classiq_101/classiq_concepts/design/design/design.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.ipynb
  tutorials/classiq_101/classiq_concepts/execute/execute.metadata.json
  tutorials/classiq_101/classiq_concepts/execute/execute.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
  tutorials/classiq_101/classiq_concepts/optimize/optimize.metadata.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.qmod
  tutorials/classiq_101/classiq_concepts/optimize/optimize.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed small error in kidney notebook
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Explicitly test for image wildcard
  tests/internal/test_paths_for_docs.py
Due: none

Remove IBM references
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cleaned notebook and added outputs
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Additional fix
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding execution tutorial
  tests/notebooks/test_execution_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
