Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Update qmods
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

extended timeout
  tests/notebooks/test_adaptive_qaoa_lib.py
Due: none

Update qmods
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Remove *=
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adaptive qaoa
  applications/optimization/adaptive_qaoa_lib.ipynb
  tests/notebooks/test_adaptive_qaoa_lib.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adaptive qaoa
  algorithms/qaoa/adaptive_qaoa_lib.ipynb
  tests/notebooks/test_adaptive_qaoa_lib.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Refactor RB nb to use qmod instead of library function
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
  tests/notebooks/test_randomized_benchmarking.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Initial commit
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.md
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated qsvt notebooks - partial
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated all remaining qsvt notebooks
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr comment
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated notebooks after version release
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.qmod
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed README uncomputation
  README.md
Due: none

Quantum Types and Variables Tutorial
  tests/notebooks/test_modeling_quantum_types_and_variables.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/modeling/modeling_quantum_types_and_variables.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/modeling_quantum_types_and_variables.md
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing pre-commit hooks
  tutorials/basic_tutorials/modeling/modeling_quantum_types_and_variables.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Modifying test file
  tests/notebooks/test_modeling_quantum_types_and_variables.py
Due: none

Update notebook outputs
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update notebook timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

rename dir
  applications/cfd/qls_for_hybrid_solvers/README.md
  applications/cfd/qls_for_hybrid_solvers/banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/qls_for_hybrid_solvers/matrices/b_nozzle_small.npy
  applications/cfd/qls_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/cfd/qls_for_hybrid_solvers/pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/quantum_functions_be.py
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

remove print call
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
Due: none

update files with optimized inversion poly
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.ipynb
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.metadata.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixing_auto_uncomp_compatibility
  tests/notebooks/workshops/test_phase_kickback.py
Due: none

fix cheb solver
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update for qmods
  applications/cfd/qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
