Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

fix sampledState measurement error
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Added text to explain the bb84 function
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add comments regarding the hash function
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Refactor to use SIZE instead of 8
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Refine the comments & explanations
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add display function
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Add tests
  algorithms/bb84/test_bb84_implementation.py
Due: none

fix review comments
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, clean-demo-timeouts

remove display function
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Add basic implementation of bb84 protocol for encryption
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix review comments - modularize the main func & adding ref
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.qmod
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

remove hardcoded bases
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Add CI checks
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.metadata.json
  algorithms/bb84/bb84_implementation.qmod
  algorithms/bb84/bb84_implementation.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add markdowns
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixed the latex notation from small letters to capital
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

move the contribution to community/paper_impl dir
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bb84/bb84_implementation.qmod
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add timeout for files removed during conflict resolve
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

remove irrelevant content
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify images to latex and text
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add review comments
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add the quantum circuit image
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Modify tests
  algorithms/bb84/test_bb84_implementation.py
Due: none

modify tests
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, clean-demo-timeouts

QVT with the MNIST Data for training
  community/paper_implementation_project/Quantum Vision Transformer.ipynb
Due: none

starting_fresh
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/BE_Sparse_Classiq.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata copy.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/notebooks/test_BE_Sparse_Classiq.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

test_edits
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/BE_Sparse_Classiq.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata copy.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/notebooks/test_BE_Sparse_Classiq.py
Due: notebook-pre-commit, clean-demo-timeouts

test_edits
  tests/notebooks/test_BE_Sparse_Classiq.py
Due: none

Initial commit
  community/paper_implementation_project/hybrid_style_transfer/Hybrid_Quantum_classical_style_transfer.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  tests/notebooks/test_bernstein_vazirani.py
Due: notebook-pre-commit, clean-demo-timeouts

maybe fix
  tests/notebooks/test_bernstein_vazirani.py
  tests/utils_for_testbook.py
Due: none

Add files via upload
  algorithms/qaoa/maxcut/qaoa_maxcut.metadata.json
Due: none

Rename qaoa_max_cut.qmod to qaoa_maxcut.qmod
  algorithms/qaoa/maxcut/qaoa_maxcut.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Update `update_notebooks` script
  .internal/update_outputs/fake_browser.sh
  .internal/update_outputs/hook_add_random_seed.py
  .internal/update_outputs/hook_remove_random_seed.py
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

disabling test
  tests/utils_for_testbook.py
Due: none

add metadata + fix error
  algorithms/qaoa/maxcut/qaoa_maxcut.ipynb
  algorithms/qaoa/maxcut/qaoa_maxcut.qmod
  algorithms/qaoa/maxcut/qaoa_maxcut.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Revert "Add files via upload"
  algorithms/qaoa/maxcut/qaoa_maxcut.metadata.json
Due: none
