Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

fix test failures
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test failures2
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

adding qmod files
  applications/automotive/cooling_systems_optimization/block_encoding.metadata.json
  applications/automotive/cooling_systems_optimization/block_encoding.qmod
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/matrix_inverse.metadata.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/automotive/cooling_systems_optimization/prepare_qae_state.metadata.json
  applications/automotive/cooling_systems_optimization/prepare_qae_state.qmod
  applications/automotive/cooling_systems_optimization/prepare_qae_state.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix test failures3
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test failures4
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix test failures5
  tests/notebooks/test_qsvt_matrix_inversion.py
Due: none

fix broken link and update DQI image
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

upgrade rest of pyqsp usages to 2.0
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.qmod
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
  requirements_tests.txt
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

upgrade qsvt fpaa and inversion to pyqsp 2.0
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Change prepare_qae_state name to cooling_systems_optimization name and qmod test
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.metadata.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  tests/notebooks/test_cooling_systems_optimization.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Replace `allocate_num` with `allocate`
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log_large.qmod
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
  community/QClass_2024/Sessions/week1_QClass_workshop_with_sol.ipynb
  functions/function_usage_examples/arithmetic/bitwise_or/bitwise_or_2vars_example.qmod
  functions/function_usage_examples/arithmetic/bitwise_or/bitwise_or_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_2vars_example.qmod
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_example.ipynb
  functions/function_usage_examples/arithmetic/comparator/comparator_2vars_example.qmod
  functions/function_usage_examples/arithmetic/comparator/comparator_example.ipynb
  functions/function_usage_examples/arithmetic/negation/negation_example.ipynb
  functions/function_usage_examples/arithmetic/negation/negation_example.qmod
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.qmod
  functions/qmod_library_reference/classiq_open_library/qpe/qpe_flexible.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
  tutorials/classiq_101/classiq_concepts/design/design/design.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

English suggestions for QPE for molecules
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Qmod files
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Finishing Implementation 1
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Finishing Implementation 2
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Finishing Implementation 3
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Finishing Implementation 4
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Finishing Implementation 5
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, clean-demo-timeouts

Finishing Implementation 6
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Finishing Implementation 7
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Finishing Implementation 9
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Finishing Implementation 10
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Finishing Implementation 10
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Finishing Implementation 12
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Finishing Implementation 13
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Finishing Implementation 15
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Finishing Implementation 16
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Finishing Implementation 17
  tests/notebooks/test_molecule_eigensolver_using_openfermion.py
Due: none

Execution tutorial second part
  tests/notebooks/test_execution_tutorial_part2.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts
