Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Use x.size
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Adding execution tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing test errors
  tests/notebooks/test_execution_tutorial.py
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Make pre-commit scripts run in a single thread
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Apply hook - end-of-file-fixer
  CITATION.bib
  algorithms/swap_test/swap_test.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  tests/notebooks/test_cooling_systems_optimization.py
  tests/notebooks/test_quantum_autocallable_option_pricing.py
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
Due: none

Apply hook - prettier
  algorithms/swap_test/swap_test.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
Due: none

Apply hook - black-jupyter
  tests/internal/test_paths_for_docs.py
  tests/notebooks/test_cooling_systems_optimization.py
  tests/notebooks/test_quantum_autocallable_option_pricing.py
Due: none

Apply hook - qmod-pre-commit
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Enforce pre-commit in CI
  .github/workflows/Lint.yml
Due: none

Don't force tests on certain notebooks
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Apply pre-commit hooks
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas_Morales.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/superposition/superposition.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
  tests/notebooks/test_hamiltonian_evolution.py
  tests/resources/timeouts.yaml
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Increase page limit in search results
  .github/workflows/Notification-developers-onboarding.yml
Due: none

Update tests
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Split CI to run quick tests first, slow tests later
  .github/workflows/Test-CI-main.yml
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/utils_for_tests.py
Due: none

delete me
  .github/workflows/Test-CI-main.yml
Due: none

fixup
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

Update tests
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tests
  tests/test_notebooks.py
Due: none

Update tests
  tests/notebooks/test_discrete_quantum_walk_circle.py
Due: none

Increase synthesis timeout
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Split CI to run quick tests first, slow tests later
  .github/workflows/Test-CI-main.yml
  tests/all_notebooks/test_notebooks.py
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/utils_for_tests.py
Due: none

Added description of QVIT
  community/paper_implementation_project/qu_vit/Quantum Vision Transformer.ipynb
  community/paper_implementation_project/qu_vit/axioms-13-00323-g004-550.jpg
  community/paper_implementation_project/qu_vit/axioms-13-00323-g005-550.jpg
  community/paper_implementation_project/qu_vit/classiq_circuit.png
  community/paper_implementation_project/qu_vit/classsiq_gates.jpg
Due: none

Execution tutorial first part
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix broken link and update DQI image
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

upgrade qsvt fpaa and inversion to pyqsp 2.0
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

upgrade rest of pyqsp usages to 2.0
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.qmod
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
  requirements_tests.txt
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixed figure numbering
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
