Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Remove timeouts internal file
  .internal/pre_commit_tools/clean_timeouts.py
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  .pre-commit-config.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update auto-test content
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Add working link
  .internal/url_allow_list.txt
Due: none

Remove qmod_compare tests
  tests/utils_for_qmod.py
  tests/utils_for_testbook.py
Due: none

Fix misconfigured metadata
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.metadata.json
Due: none

Update notebook output
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add wrap_pytest script
  tests/wrap_pytest.sh
Due: none

batch 2
  algorithms/amplitude_amplification_and_estimation/oblivious_amplitude_amplification/oblivious_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.metadata.json
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/simon/simon.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.metadata.json
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.metadata.json
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.metadata.json
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.metadata.json
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.metadata.json
  algorithms/quantum_walks/glued_trees/glued_trees.metadata.json
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Fix metadata field generation
  .internal/pre_commit_tools/metadata_utils.py
Due: none

notebooks detailed descriptions
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Update pre-commit
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/simon/simon.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Update algorithms metadata
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_iqae.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_qpe.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.metadata.json
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
Due: none

Update functions metadata
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.metadata.json
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.metadata.json
  functions/function_usage_examples/arithmetic/modular_exp/modular_exp_example.metadata.json
  functions/function_usage_examples/arithmetic/modulo/modulo_example.metadata.json
  functions/function_usage_examples/arithmetic/negation/negation_example.metadata.json
  functions/function_usage_examples/mcx/mcx_example.metadata.json
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.metadata.json
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.metadata.json
  functions/qmod_library_reference/classiq_open_library/hadamard_transform/hadamard_transform.metadata.json
  functions/qmod_library_reference/classiq_open_library/linear_pauli_rotations/linear_pauli_rotations.metadata.json
  functions/qmod_library_reference/classiq_open_library/qft/qft.metadata.json
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.metadata.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_bell_state.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_exponential_state.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_ghz_state.metadata.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.metadata.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.metadata.json
  functions/qmod_library_reference/qmod_core_library/unitary/unitary.metadata.json
Due: none

Update community metadata
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bpde/bpde.metadata.json
  community/paper_implementation_project/classical_shadows/classical_shadows.metadata.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.metadata.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
Due: none

fix some wording
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Add pre-commit to verify generated links
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Exclude old notebook
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Add notebook categories
  notebook_categories.json
Due: none

Add notebook category creation
  scripts/build_notebook_categories.py
Due: none

Add category images
  category_images/CHEMISTRY.png
  category_images/COMBINATORIAL_OPTIMIZATION.png
  category_images/FINANCE.png
  category_images/FOUNDATIONAL.png
  category_images/LINEAR_ALGEBRA.png
  category_images/OTHER.png
  category_images/PHYSICS_SIMULATION.png
  category_images/QML.png
  category_images/QUANTUM_WALKS.png
  category_images/SEARCH_AMPLITUDE.png
  category_images/TUTORIALS.png
  scripts/generate_category_images.py
Due: none

Add AMD verion of the notebook
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

decrease peak prob from 0.9 to 0.85
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
  tests/notebooks/test_quantum_sawtooth_map.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

renamed hadamard test in tutorial
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified hadamard test
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  algorithms/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  algorithms/quantum_primitives/hadamard_test/hadamard_test.qmod
  algorithms/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tests/notebooks/test_hadamard_test_tutorial.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.synthesis_options_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

skip amd test
  tests/notebooks/test__community_and_functions.py
Due: none

added newReadMes file
  algorithms/newReadMes.md
Due: none

updated newReadMe
  algorithms/newReadMes.md
Due: none

completed intros for the folders
  algorithms/newReadMes.md
Due: none

added readme files to all the folders
  algorithms/amplitude_amplification_and_estimation/readme.md
  algorithms/foundational/readme.md
  algorithms/hamiltonian_simulation/readme.md
  algorithms/newReadMes.md
  algorithms/number_theory_and_cryptography/readme.md
  algorithms/qml/readme.md
  algorithms/quantum_differential_equations_solvers/readme.md
  algorithms/quantum_linear_solvers/readme.md
  algorithms/quantum_phase_estimation/readme.md
  algorithms/quantum_primitives/readme.md
  algorithms/quantum_state_preparation/readme.md
  algorithms/quantum_walks/readme.md
  algorithms/search_and_optimization/readme.md
Due: none

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
