Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

updated timeouts
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/bernstein_vazirani/bernstein_vazirani.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

updated qsvt notebooks - partial
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated simon
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_example.synthesis_options.json
  algorithms/simon/simon_shallow_example.qmod
  algorithms/simon/simon_shallow_example.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

updated simon
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.synthesis_options.json
  algorithms/simon/simon_shallow_example.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated all remaining qsvt notebooks
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated README to recent syntax
  README.md
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed wrong commit
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

space
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

small fixes
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adding qmod2
  algorithms/quantum_teleportation/quantum_teleportation.qmod
  algorithms/quantum_teleportation/quantum_teleportation.synthesis_options.json
  tests/resources/timeouts.yaml
Due: qmod-pre-commit, clean-demo-timeouts

modify test2
  tests/notebooks/test_quantum_teleportation.py
Due: none

test commit
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

test after pre commit
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  tests/notebooks/test_quantum_teleportation.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

once again
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/quantum_teleportation/quantum_teleportation_circuit.png
  algorithms/quantum_teleportation/qunatum_teleportation.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

quantum teleportation protocol
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/quantum_teleportation/quantum_teleportation_circuit.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed allocation order
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed pre-commit
  algorithms/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/quantum_teleportation/quantum_teleportation.qmod
  algorithms/quantum_teleportation/quantum_teleportation.synthesis_options.json
  tests/notebooks/test_quantum_teleportation.py
Due: qmod-pre-commit, clean-demo-timeouts

fixed pre-commit again2
  algorithms/quantum_teleportation/quantum_teleportation.synthesis_options.json
Due: none

fixed pre-commit again4
  algorithms/quantum_teleportation/quantum_teleportation.synthesis_options.json
Due: none

fixed pre-commit again6
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update classical and quantum functions according to new features
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
Due: none

update skip control in gray code
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
Due: none

updated chebyshev utils and a notebook for analysis
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/linear_qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add chebyshev approx test
  tests/notebooks/test_chebyshev_approximation.py
Due: none

update qmods
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

update notebook according to new code
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

last changes
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
