Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

fix two unrelated pr links
  algorithms/swap_test/swap_test.ipynb
  tutorials/classiq_101/getting_started/part4_ghz_state.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update generated files
  algorithms/glued_trees/figures/10_qubits.png
  algorithms/glued_trees/figures/20_qubits.png
  algorithms/glued_trees/results/10-qubits/2n+0.json
  algorithms/glued_trees/results/10-qubits/2n+10.json
  algorithms/glued_trees/results/10-qubits/2n+12.json
  algorithms/glued_trees/results/10-qubits/2n+2.json
  algorithms/glued_trees/results/10-qubits/2n+4.json
  algorithms/glued_trees/results/10-qubits/2n+6.json
  algorithms/glued_trees/results/10-qubits/2n+8.json
  algorithms/glued_trees/results/10-qubits/2n-10.json
  algorithms/glued_trees/results/10-qubits/2n-12.json
  algorithms/glued_trees/results/10-qubits/2n-2.json
  algorithms/glued_trees/results/10-qubits/2n-4.json
  algorithms/glued_trees/results/10-qubits/2n-6.json
  algorithms/glued_trees/results/10-qubits/2n-8.json
  algorithms/glued_trees/results/20-qubits/2n+0.json
  algorithms/glued_trees/results/20-qubits/2n+10.json
  algorithms/glued_trees/results/20-qubits/2n+12.json
  algorithms/glued_trees/results/20-qubits/2n+2.json
  algorithms/glued_trees/results/20-qubits/2n+4.json
  algorithms/glued_trees/results/20-qubits/2n+6.json
  algorithms/glued_trees/results/20-qubits/2n+8.json
  algorithms/glued_trees/results/20-qubits/2n-10.json
  algorithms/glued_trees/results/20-qubits/2n-12.json
  algorithms/glued_trees/results/20-qubits/2n-2.json
  algorithms/glued_trees/results/20-qubits/2n-4.json
  algorithms/glued_trees/results/20-qubits/2n-6.json
  algorithms/glued_trees/results/20-qubits/2n-8.json
Due: none

fixed broken links
  algorithms/swap_test/swap_test.ipynb
  tutorials/classiq_101/getting_started/part4_ghz_state.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix unused parameter
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cr fixes
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.synthesis_options.json
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani_example.synthesis_options.json
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
  algorithms/swap_test/swap_test.ipynb
  algorithms/swap_test/swap_test.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Use model_dump_json instead of json.dump
  algorithms/glued_trees/glued_trees.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with bmw
  applications/automotive/cooling_systems_optimization/block_encoding.qmod
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update kidney exchange problem synthesis options and requirements
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  requirements_tests.txt
Due: none

Change max iterations to int
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Remove Intro heading
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with second quantized hamiltonian
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.qmod
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

post release run
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

fixing test
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tests/notebooks/test_kidney_exchange_problem.py
Due: notebook-pre-commit, clean-demo-timeouts

with vqe vanilla
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

resolve conflict
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

align qpe with main
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with some community notebooks updates
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qpe for molecule
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qaoa notebooks and dataframe usage for qsvt inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/facility_location/facility_location.qmod
  applications/logistics/facility_location/facility_location.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.qmod
  applications/optimization/min_graph_coloring/min_graph_coloring.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

English suggestions for cyber link monitoring
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update kidney exchange timeout to 300 and remove QClass_2024 folder
  applications/optimization/kidney_exchange/kidney_exchange_problem.qmod
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/optimization/kidney_exchange/kidney_exchange_problems.ipynb
  community/QClass_2024/Algorithm_Implementation/kidney_transplant_problems_Bill_Wisotsky.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas_Morales.ipynb
  community/QClass_2024/Assignments/HW1_QClass2024.ipynb
  community/QClass_2024/Assignments/HW2_QClass2024.ipynb
  community/QClass_2024/Assignments/Preparation_for_Week2_Git_GitHub.ipynb
  community/QClass_2024/README.md
  community/QClass_2024/Sessions/week1_QClass_workshop_with_sol.ipynb
  tests/notebooks/test_kidney_exchange_problems.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update depth in test
  tests/notebooks/test_task_scheduling_problem.py
Due: none

Fix kidney exchange test to properly deserialize quantum program object
  tests/notebooks/test_kidney_exchange_problem.py
Due: none

kidney exchange -temp commit
  applications/kidney_exchange/kidney_exchange_problem.qmod
  applications/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/kidney_exchange/kidney_exchange_problems.ipynb
  tests/notebooks/test_kidney_exchange_problems.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

minor fix
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

with tsp qmods
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

with tutorial
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/lih.xyz
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.qmod
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

correct st
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix pre-commit hook to exclude .git directory from notebook name validation
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

two typos
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed tests
  tests/notebooks/test_facility_location.py
  tests/notebooks/test_min_graph_coloring.py
Due: none

with qaoa notebooks and dataframe usage for qsvt inversion
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

fix tests
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
  tests/notebooks/test_molecule_eigensolver.py
  tests/notebooks/test_qpe_for_molecules.py
  tests/notebooks/test_second_quantized_hamiltonian.py
Due: notebook-pre-commit, clean-demo-timeouts

test
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

English suggestions for patch management kill chains
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Rename kidney exchange files from plural to singular (kidney_exchange_problem)
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  tests/notebooks/test_kidney_exchange_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

add new test
  tests/notebooks/test_classiq_chemistry_application.py
Due: none

Delete dummy test
  tests/test_dummy.py
Due: none
