Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Updating execution tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qv
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with walk for paper
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with dqw from tech demo
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with dj
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with quantum walk
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with pauli qsvm
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with credit fraud detection
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

cr fix an prod align
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.synthesis_options.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_quantum_volume.py
Due: none

Add slack message
  .github/workflows/Notification-publish-new-notebooks.yaml
  .internal/generate_slack_message.py
Due: clean-demo-timeouts

trigger ci
  algorithms/algebraic/hidden_shift/hidden_shift_new.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixing grammar/spelling mistakes
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed option pricing demo
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update ecdlp notebook and modular arithmetic
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, clean-demo-timeouts

add future qmods
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
Due: qmod-pre-commit, clean-demo-timeouts

added plamsa notebook
  applications/fusion/plasma_kinetic_block_encoding.metadata.json
  applications/fusion/plasma_kinetic_block_encoding.qmod
  applications/fusion/plasma_kinetic_block_encoding.synthesis_options.json
  applications/fusion/plasma_kinetic_simulation.ipynb
  tests/notebooks/test_plasma_kinetic_simulation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update ecdlp notebook based on Or S remarks
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix bpde test
  tests/notebooks/test_bpde.py
Due: none

align files with version
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

update chem examples after bug fix
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add IBM Cloud to Quantum Volume notebook
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix linter
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
