Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

add packages for requirments tests
  requirements_tests.txt
Due: none

before push
  applications/finance/portfolio_optimization/HHL_portfolio.ipynb
  applications/finance/portfolio_optimization/hhl_portfolio.qmod
  applications/finance/portfolio_optimization/hhl_portfolio.synthesis_options.json
  tests/notebooks/test_HHL_portfolio.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

metadata file
  applications/finance/portfolio_optimization/HHL_portfolio.metadata.json
Due: none

deleted wrong tests file
  tests/notebooks/test_quantum_edge_detection.py
Due: none

added a test file
  tests/notebooks/test_network_traffic_optimization.py
Due: none

Add discrete qauntum walk on lattices with correct file name in test
  tests/notebooks/test_discrete_time_quantum_walk.py
Due: none

correct name undesired test again
  applications/optimization/low_autocorrelation_binary_sequences_problem/evidence_scaling_labs.ipynb
  applications/optimization/low_autocorrelation_binary_sequences_problem/labs_qaoa.metadata.json
  applications/optimization/low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.qmod
  applications/optimization/low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add discrete qauntum walk on lattices
  tests/notebooks/test_discrete_time_quantum_walk.py
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.metadata.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.metadata.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add discrete qauntum walk on lattices without unnecessary comments
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

after test fix
  tests/notebooks/test_HHL_portfolio.py
Due: none

Add value at risk files
  Persik.qmod
  Persik.synthesis_options.json
  value_at_risk.ipynb
  value_at_risk.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add value at risk files
  tests/notebooks/test_value_at_risk.py
Due: none

Quantum Based Resiliency Planning
  applications/telecom/resiliency_planning/resiliency_planning.ipynb
  applications/telecom/resiliency_planning/resiliency_planning.metadata.json
  applications/telecom/resiliency_planning/resiliency_planning.qmod
  applications/telecom/resiliency_planning/resiliency_planning.synthesis_options.json
  tests/notebooks/test_resiliency_planning.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added network traffic optimization
  applications/telecom/network_traffic_optimization/network traffic optimization.ipynb
Due: none

added network traffic optimization
  applications/telecom/network_traffic_optimization/network traffic optimization.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.qmod
  applications/telecom/network_traffic_optimization/network_traffic_optimization.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

added network traffic optimization
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified test file and added metadata file
  applications/telecom/network_traffic_optimization/network_traffic_optimization.metadata.json
  tests/notebooks/test_network_traffic_optimization.py
Due: none

modified test file
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

test for evidence labs
  tests/notebooks/evidence_scaling_labs.py
Due: none

labs problem with 13 qubits
  applications/optimization/ low_autocorrelation_binary_sequences_problem/evidence_scaling_labs.ipynb
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.metadata.json
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.qmod
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.synthesis_options.json
Due: none

correct name of test
  tests/notebooks/test_evidence_scaling_labs.py
Due: none

rename protein_folding to sub-folder
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.ipynb
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.metadata.json
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.qmod
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

mv to new directory
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.metadata.json
  applications/finance/portfolio_optimization_hhl/hhl_portfolio.qmod
  applications/finance/portfolio_optimization_hhl/hhl_portfolio.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added grover graph-coloring
  tests/notebooks/test_grover_graph_coloring.py
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.ipynb
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.metadata.json
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.qmod
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed qmod timeout
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix test
  tests/notebooks/test_grover_graph_coloring.py
Due: none

Add quantum walk on complex networks
  tests/notebooks/test_quantumwalk_complex_network.py
  tutorials/basic_tutorials/quantumwalk_complex_network/dt_quantumwalk_complex_network.metadata.json
  tutorials/basic_tutorials/quantumwalk_complex_network/dt_quantumwalk_complex_network.qmod
  tutorials/basic_tutorials/quantumwalk_complex_network/dt_quantumwalk_complex_network.synthesis_options.json
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed uncomputation bug
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.qmod
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests
