Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

fix link
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added the maxwell 2d simulation notebook
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modified the test
  tests/notebooks/test_maxwell_2d_simulation.py
Due: none

corrected typo
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix sp_approx notebook for structure data and test, fix qaoa examples as well
  tests/notebooks/test_adapt_qaoa.py
  tests/notebooks/test_approximated_state_preparation.py
  tests/notebooks/test_qaoa.py
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Improve test links -> if link is file, no need to http-get
  tests/test_links.py
Due: none

Update test links logger to info
  tests/test_links.py
Due: none

Update regex to find lack of resources
  .github/scripts/summarize_test_results.py
Due: none

Fixed comments
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

a big refactor to the glued trees example, to work with SparsePauliOp and suzuki-trotter
  algorithms/quantum_walks/glued_trees/glued_trees.ipynb
  algorithms/quantum_walks/glued_trees/glued_trees_cache.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

remove old figures and data, now figures are embedded in the md cells
  algorithms/quantum_walks/glued_trees/figures/10_qubits.png
  algorithms/quantum_walks/glued_trees/figures/20_qubits.png
  algorithms/quantum_walks/glued_trees/figures/A_matrix.png
  algorithms/quantum_walks/glued_trees/figures/glued_trees_diagram.png
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+0.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+10.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+12.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+2.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+4.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+6.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n+8.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-10.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-12.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-2.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-4.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-6.json
  algorithms/quantum_walks/glued_trees/results/10-qubits/2n-8.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+0.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+10.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+12.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+2.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+4.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+6.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n+8.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-10.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-12.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-2.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-4.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-6.json
  algorithms/quantum_walks/glued_trees/results/20-qubits/2n-8.json
Due: none

fix test
  tests/notebooks/test_glued_trees.py
Due: none

update example_exponentiation to not use the deprecated exponentiation_with_depth_contraint. Update test accordingly.
  tests/notebooks/test_example_exponentiation.py
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change to suzuki trotter order 2
  algorithms/quantum_walks/glued_trees/glued_trees.ipynb
  tests/notebooks/test_glued_trees.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update 3sat oracles nb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update notebook with valid results for the small case, of 6 qubits
  algorithms/quantum_walks/glued_trees/glued_trees.ipynb
  algorithms/quantum_walks/glued_trees/glued_trees_cache.json
  tests/notebooks/test_glued_trees.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

try to fix issue with figures so notebook can render well
  algorithms/quantum_walks/glued_trees/glued_trees.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

restore figures
  algorithms/quantum_walks/glued_trees/figures/A_matrix.png
  algorithms/quantum_walks/glued_trees/figures/glued_trees_diagram.png
Due: none

Final version
  algorithms/gradient_estimation/Stephen P. Jordan - Fast Quantum Algorithm for Numerical Gradient Estimation.pdf
  algorithms/gradient_estimation/gradient_estimation.ipynb
  algorithms/gradient_estimation/gradient_estimation_helpers.py
  algorithms/gradient_estimation/quantum_circuit.png
  algorithms/gradient_estimation/quantum_circuit_2.png
  tests/notebooks/test_gradient_estimation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Reduce max_width to 18 in quantum_double_slit_experiment
  applications/CFD/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/CFD/double_slit_experiment/quantum_double_slit_experiment.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reviewed the oracle sketching
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed projection function
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Alloctae auxilary when needed
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Avoid using deprecated PauliTerm in quantum thermal notebook
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.qmod
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

adjusted test file
  tests/notebooks/test_quantum_oracle_sketching_boolean.py
Due: none

CLS-7828: Bind num_kicks via assign_parameters before reading transpiled metrics
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
