Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

Update VQLS notebook to use BlockEncoding class
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update QSVT matrix inversion notebook to use BlockEncoding class
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update QSVT matrix inversion test for BlockEncoding.from_matrix
  tests/notebooks/test_qsvt_matrix_inversion.py
Due: none

Update QPE-with-qubitization notebook to use BlockEncoding class
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix float to int implicit casts
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.ipynb
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.qmod
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

fix implicit float to int cast
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.ipynb
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.qmod
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

Update random.seed and np.random.seed to use 0
  .pre-commit-config.yaml
  algorithms/QML/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/QML/qsvm/qsvm.ipynb
  algorithms/amplitude_amplification_and_estimation/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/metrology/classical_shadow_tomography.ipynb
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/quantum_differential_equations_solvers/lchs/lchs.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.ipynb
  applications/CFD/QLS_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  tutorials/technology_demonstrations/QPE/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
  tutorials/technology_demonstrations/qaoa/qaoa_demonstration.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update random_seed in API calls to use 0
  .pre-commit-config.yaml
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modify hamiltonian simulation with qubitization
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modify hamiltonian simulation with qsvt
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update ham simulation with gqsp
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update block-encoding for all examples in qls_for_cfd, as well as removing the unused usecase of symmetrizing the matrix
  applications/CFD/QLS_for_hybrid_solvers/banded_be.py
  applications/CFD/QLS_for_hybrid_solvers/chebyshev_approximation.ipynb
  applications/CFD/QLS_for_hybrid_solvers/pauli_be.py
  applications/CFD/QLS_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/CFD/QLS_for_hybrid_solvers/qls_qsvt.ipynb
  applications/CFD/QLS_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/notebooks/test_verify_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update vlasov ampere with block encoding application
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Use BlockEncoding.qubitize() for the QPE walk operator
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix walk-operator order in QPE notebook markdown
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate Maxwell notebook to BlockEncoding class
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update to use Python 3.13
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-main.yml
Due: none

remove casting
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix formatting
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update to pass nightly env-var in one place
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

update cooling systems with block encoding
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

restore casting
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix casting
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix types
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Remove unneeded secrets
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Remove debug print
  .github/workflows/Test-CI-main.yml
Due: none

update vlasov ampere with tensor product and inverse, update test
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  tests/notebooks/test_vlasov_ampere.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix typos and grammar issues in README
  README.md
Due: none

Add sparse-oracle block encoding and FABLE notebook
  algorithms/quantum_primitives/sparse_oracle_and_fable/block_encoding_sparse_oracles_and_fable.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
