Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

added adapt_vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added adapt_vqe test
  tests/notebooks/test_adapt_vqe.py
Due: none

modified adapt_qaoa
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt_vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt vqe test
  tests/notebooks/test_adapt_vqe.py
Due: none

fixed outputs
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix outputs
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove hamming notebook due to failure
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.qmod
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.synthesis_options.json
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add new metadata for qsvt inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
Due: none

add title field
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
Due: none

add package installation for chemistry notebook
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

remove unused imports
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add metadata for qfold
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.metadata.json
Due: none

removed hamming tests
  tests/notebooks/test_hamming_weights_compilation_workshop.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

small refinements to the ecdlp notebook
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed test
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Update ECDLP notebook: integrate Classiq Open Library functions and remove local modular_arithmetic.py
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified test adapt vqe
  tests/notebooks/test_adapt_vqe.py
Due: none

modified adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
  tests/notebooks/test_adapt_vqe.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update HHL_portfolio
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update HHL_portfolio qmod file
  applications/finance/portfolio_optimization_hhl/hhl_portfolio.qmod
Due: qmod-pre-commit, clean-demo-timeouts

update HHL_portfolio json file
  applications/finance/portfolio_optimization_hhl/hhl_portfolio.synthesis_options.json
Due: none

Manually edit the auto-generated metadata
  algorithms/algebraic/hidden_shift/hidden_shift.metadata.json
  algorithms/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/glued_trees/glued_trees.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.metadata.json
  tutorials/basic_tutorials/mcx/mcx.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.metadata.json
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/pennylane_cat_qsvt_example.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/tket_qsvt_example.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/pennylane_catalyst_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/tket_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/qaoa/qaoa.metadata.json
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.metadata.json
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.metadata.json
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.metadata.json
Due: none

Update elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix link
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Added (untested) smart auto-generation of emtpy metadata
  .internal/pre_commit_tools/validate_metadata.py
Due: none

Added `SHOULD_SKIP_MISSING_FIELDS` and `auto_fix` to missing fields
  .internal/pre_commit_tools/validate_metadata.py
Due: none

Update qmod files
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.qmod
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts
