Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

Update qGAN_challenge.ipynb
  tutorials/basic_tutorials/qGAN-state-prep/qGAN_challenge.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for portfolio optimization
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Rename phase to phase_var
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_trotter.qmod
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for facility location
  applications/logistics/facility_location/facility_location.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Task Scheduling
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove duplicate image
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix minor issues
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Estimating European Option Price
  applications/finance/option_pricing/option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for travelling salesman
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Including classiq_tutorial on paths_for_docs
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

English suggestions to Vehicle Routing
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix failing qmods
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Fix untested qmod files
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_2vars_example.qmod
  functions/function_usage_examples/arithmetic/negation/negation_example.qmod
  functions/function_usage_examples/mcx/mcx_example.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/CRX.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/CX.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/PHASE.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/R.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/RZ.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/SWAP.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/U.qmod
  functions/qmod_library_reference/qmod_core_library/standard_gates/X.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Reduce pre-commit runtime
  .internal/pre_commit_tools/clean_timeouts.py
Due: none

Delete outdated tests
  tests/internal/pre_commit_tools
  tests/internal/test_pre_commit.py
Due: none

Update README: Update example to use `synthesize(main)` directly
  README.md
Due: none

Update README: Update example execution syntax
  README.md
Due: none

Update README: Rename example comment
  README.md
Due: none

Update README: Update getting-started link
  README.md
Due: none

Update README: Shorten example import
  README.md
Due: none

Update README: Link to state preparation docs
  README.md
Due: none

Update README: Add DOI
  README.md
Due: none

Update README: Update text
  README.md
Due: none

Update README: Rename example functions to 'prepare' to follow the naming of 'state preparation'
  README.md
Due: none

Update README: Update example title
  README.md
Due: none

Update README: Update example execution output to DataFrame
  README.md
Due: none

Update README: Rename example variable to 'var' to avoid 'X(x)' confusion
  README.md
Due: none

Add permissions to labeler
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

Simplify path handling
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/qaoa/qaoa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests
