Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.9.1
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

added missing timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

added timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

post-rebase and pre-commit check
  algorithms/lcu_with_unary_iteration/hamiltonian_simulation_with_unary_iteration.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Qsvm pauli feature map English suggestions
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

updated mds and set cover
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.qmod
  applications/optimization/minimum_dominating_set/minimum_dominating_set.synthesis_options.json
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_cover/set_cover.qmod
  applications/optimization/set_cover/set_cover.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

added electric_grid_opt
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.qmod
  applications/optimization/electric_grid_optimization/electric_grid_optimization.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Quantum Autoencoder more English suggestions
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cr comments + mis model
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/max_independent_set/max_independent_set.qmod
  applications/optimization/max_independent_set/max_independent_set.synthesis_options.json
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  tests/notebooks/test_max_cut.py
  tests/notebooks/test_max_independent_set.py
  tests/notebooks/test_minimum_dominating_set.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update link to maxcut in algorithms readme
  algorithms/README.md
Due: none

removed old maxcut
  applications/optimization/max_cut/max_cut.ipynb
  applications/optimization/max_cut/max_cut.metadata.json
  applications/optimization/max_cut/max_cut.qmod
  applications/optimization/max_cut/max_cut.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed tests
  tests/notebooks/test_electric_grid_optimization.py
  tests/notebooks/test_max_independent_set.py
Due: none

PR comments
  community/basic_examples/logical_qubits/img/swap-test-circuit.png
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

adding papaer implementation project folder
  community/paper_implementation_project/index.md
Due: none

Removed library installation & authentication
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Added logical qubits notebook
  community/basic_examples/logical_qubits/img/swap-test-circuit.png
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Paper Implementation Project #801: A Quantum Algorithm for Solving Linear Differential Equations
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update markdowns
  CONTRIBUTING.md
  community/paper_implementation_project/index.md
Due: none

update markdowns after CR
  CONTRIBUTING.md
Due: none

change: BPDE algorithm implementation notebook
  energy_gradient.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

change: move notebook to Paper Implementation Project folder
  community/paper_implementation_project/quantum_algorithm_for_numerical_energy_gradient_calculations_at_the_full_configuration_interaction_level_of_theory/energy_gradient.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

lint: fix lint
  community/paper_implementation_project/quantum_algorithm_for_numerical_energy_gradient_calculations_at_the_full_configuration_interaction_level_of_theory/energy_gradient.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

change: remove unnecessary files
  qpe_for_molecules.qmod
  qpe_for_molecules.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

updated files adhering contribution guidelines
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.metadata.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add markdowns
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts
