Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

missing constraints
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed failing notebooks
  tests/notebooks/test_mcx.py
  tests/resources/timeouts.yaml
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_depth.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_hardware.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_50_ctrl.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed threshold hhl lanchester
  tests/notebooks/test_hhl_lanchester.py
Due: none

fixed missing import
  tests/notebooks/test_mcx.py
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update updater
  .internal/update_outputs/hook_add_random_seed.py
  .internal/update_outputs/hook_remove_random_seed.py
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

Add update_link_outputs
  .internal/update_outputs/update_links.py
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

delete me
  .internal/update_outputs/update_notebooks.sh
Due: none

Updating notebooks output
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for kidney exchange
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions to Max Clique
  applications/optimization/max_clique/max_clique.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Max Independent
  applications/optimization/max_independent_set/max_independent_set.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Example
  applications/automotive/automotive_example/automotive_example.ipynb
  tests/notebooks/test_automotive_example.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Make some changes
  applications/automotive/automotive_example/automotive_example.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Make sure the readme code works
  README.md
Due: none

Removing the QMOD Workshop
  tests/notebooks/workshops/test_QMOD_Workshop_Part_1.py
  tests/notebooks/workshops/test_QMOD_Workshop_Part_2.py
  tests/notebooks/workshops/test_QMOD_Workshop_Part_3.py
  tests/resources/timeouts.yaml
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_1.ipynb
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_2.ipynb
  tutorials/workshops/QMOD_workshop/QMOD_Workshop_Part_3.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add boilerplate code to exercises
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Install Qmod parser in CI
  .github/workflows/Test-CI-main.yml
Due: none

Add Qmod tests
  .github/workflows/Test-CI-main.yml
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/qmods/test_qmods.py
Due: none

fixed dqi weights calculation
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing headers for improved SEO
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/grover/3_sat_grover/3_sat_grover.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/chemistry/protein_folding/protein_folding.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/max_k_vertex_cover/max_k_vertex_cover.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  functions/function_usage_examples/arithmetic/bitwise_and/bitwise_and_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.ipynb
  functions/function_usage_examples/arithmetic/modular_exp/modular_exp_example.ipynb
  functions/function_usage_examples/arithmetic/modulo/modulo_example.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing headers
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add block encoding verification nb
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/notebooks/test_verify_block_encoding.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update block encoding verification
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add qsvt example
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

add banded be symmetrized
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update verification with new banded sym
  applications/cfd/linear_qls_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add cheb utils file
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_utils.py
Due: none

add cheb_lcu solver
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add readme
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
Due: none

update timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts
