Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

added grover graph-coloring
  tests/notebooks/test_grover_graph_coloring.py
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.ipynb
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.metadata.json
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.qmod
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix test
  tests/notebooks/test_grover_graph_coloring.py
Due: none

Add value at risk files
  applications/finance/value_at_risk/Persik.qmod
  applications/finance/value_at_risk/Persik.synthesis_options.json
  applications/finance/value_at_risk/value_at_risk.ipynb
  applications/finance/value_at_risk/value_at_risk.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add value at risk files
  tests/notebooks/test_value_at_risk.py
Due: none

update batch of timeouts library day
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update missing timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Link to article no TODO
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add more markdowns and png
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/img.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

space
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add markdowns
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add notebook
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Json
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.qmod
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Add test
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

Run Studio
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.metadata.json
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

15 space
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.qmod
Due: qmod-pre-commit, clean-demo-timeouts

test
  tests/notebooks/test_tensor_hypercontraction.py
Due: none

test
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

rm wrong test
  tests/notebooks/test_tensor_hypercontraction.py
Due: none

fixed outputs
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

radio access network
  applications/telecom/radio_access_network/radio_access_network_posisioning_antennas.metadata.json
  applications/telecom/radio_access_network/radio_access_network_positioning_antennas.ipynb
  applications/telecom/radio_access_network/radio_access_network_positioning_antennas.qmod
  applications/telecom/radio_access_network/radio_access_network_positioning_antennas.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

radio access network
  tests/notebooks/test_radio_access_network_positioning_antennas.py
Due: none

change width
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

added new notebook for protein folding with quantum walk
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.ipynb
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.qmod
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.synthesis_options.json
  tests/notebooks/test_qfold.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added image to git
  applications/image_processing/quantum_hadamard_edge_detection/Marina Bay Sands 128.png
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed qmod timeout
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

quantum image edge detection
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
  tests/notebooks/test_quantum_edge_detection.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added metadata
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.metadata.json
  tests/notebooks/test_quantum_image_edge_detection.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed uncomputation bug
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.qmod
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

deleted wrong tests file
  tests/notebooks/test_quantum_edge_detection.py
Due: none

added qmod and options
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.qmod
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

tensor hypercontraction
  applications/chemistry/tensor_hypercontraction/images/prepare_1.png
  applications/chemistry/tensor_hypercontraction/images/prepare_2.png
  applications/chemistry/tensor_hypercontraction/images/select.png
  applications/chemistry/tensor_hypercontraction/images/walk.png
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.ipynb
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.metadata.json
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.qmod
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.synthesis_options.json
  tests/notebooks/test_tensor_hypercontraction.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add notebook
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.metadata.json
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.qmod
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.synthesis_options.json
  tests/notebooks/test_heat_eq_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

rename protein_folding to sub-folder
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.ipynb
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.metadata.json
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.qmod
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
