Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Update qmods
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

add a qiskit notebook for vlasov ampere
  applications/plasma/vlasov_ampere/Implementation of a quantum linear solver for the Vlasov-Ampere equation.pdf
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

add test file
  tests/notebooks/test_vlasov_ampere_qiskit.py
Due: none

Add outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

clear outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Try to correct tests
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

After running pre-commit
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
  tests/notebooks/test_vehicle_rounting_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

vrp notebook
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add tests to VRP notebook
  tests/notebooks/test_vehicle_routing_problem.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Correct mathematical formulation layout
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct title
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add mathematical formulation
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct grammar
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct comments
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct name
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  tests/notebooks/test_vehicle_rounting_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Increase timeout
  tests/notebooks/test_vehicle_routing_problem.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Decomposing_Finite_Abelian_Groups_using_Classiq's_sdk
  Decomposing_Finite_Abelian_Groups_using_Classiq's_sdk.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update phase_kickback
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

English fixes to whitebox fuzzing
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

English changes to rainbow option notebooks
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Minor English fixes to autocallable notebooks
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Round np array to avoid numerical randomness
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add tb.ref_pydantic
  tests/utils_for_testbook.py
Due: none

Clean validate_quantum_program_size with compare_to
  tests/utils_for_testbook.py
Due: none

remove from_qprog an SerializedQuantumProgram leftovers
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replace suzuki_trotter with parametric variant
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix tests
  tests/notebooks/workshops/test_optimize.py
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmod files
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

introduction typo fix
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Qmod files
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.qmod
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix DQI model errors
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed failing notebooks
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tests/notebooks/test_quantum_counting.py
Due: notebook-pre-commit, clean-demo-timeouts

restore test qprog size
  tests/utils_for_testbook.py
Due: none

with quatu counting
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.synthesis_options.json
  algorithms/grover/3_sat_grover/3_sat_grover.ipynb
  algorithms/grover/3_sat_grover/3_sat_grover.qmod
  algorithms/grover/3_sat_grover/3_sat_grover.synthesis_options.json
  algorithms/grover/3_sat_grover/3_sat_grover_large.qmod
  algorithms/grover/3_sat_grover/3_sat_grover_large.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  tests/notebooks/test_qaoa_knapsack.py
  tests/notebooks/test_qsvt_fixed_point_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

updated notebooks
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tests/notebooks/test_dqi_max_xorsat.py
  tests/notebooks/test_grover_max_cut.py
  tests/notebooks/test_oblivious_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts
