Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Remove usages of `from_qprog` method
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/our_solution/classiq_iQuHack_2025_final_sol.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas-Morales.ipynb
  community/basic_examples/entanglement/entanglement.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/superposition/superposition.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
  tutorials/technology_demonstrations/qaoa/qaoa.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "minor change"
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "updated files adhering contribution guidelines"
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.metadata.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Revert "added timeout"
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Revert "Paper Implementation Project #801: A Quantum Algorithm for Solving Linear Differential Equations"
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "updated global and encoding"
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "updated result visualisation and documentation"
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

correct write qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

edited, provided images
  community/paper_implementation_project/Quantum Vision Transformer.ipynb
Due: none

Update combi qmods
  applications/finance/portfolio_optimization/portfolio_optimization.qmod
  applications/optimization/electric_grid_optimization/electric_grid_optimization.qmod
  applications/optimization/minimum_dominating_set/minimum_dominating_set.qmod
Due: qmod-pre-commit, clean-demo-timeouts

update 3sat test
  tests/notebooks/test_3sat_oracles.py
Due: none

update hadamard test and its test
  tests/notebooks/workshops/test_hadamard_test.py
  tutorials/classiq_101/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

update quantum walk paper example
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

correct global t
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix loading of synthesis results into a QuantumProgram in test utils
  tests/utils_for_testbook.py
Due: none

Update QMODs
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Adding paper implementation: Quantum State Preparation without Coherent Arithmetic
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix path err
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Merge notebooks
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix link
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Apply reviews
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

\ket{xxx} -> |xxx\rangle
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
