Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

.
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add missing package installations
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

change from openfermion to classiq chem
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add gqsp example
  algorithms/gqsp/gqsp.ipynb
  algorithms/gqsp/gqsp.metadata.json
  algorithms/gqsp/gqsp.qmod
  algorithms/gqsp/gqsp.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update notebook
  algorithms/gqsp/gqsp.ipynb
  algorithms/gqsp/gqsp.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add test
  algorithms/gqsp/gqsp.ipynb
  tests/notebooks/test_gqsp.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update after bug fix
  algorithms/gqsp/gqsp.ipynb
  algorithms/gqsp/gqsp.qmod
  algorithms/gqsp/gqsp.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update shor notebook
  algorithms/algebraic/shor/doubly_controlled_modular_adder.metadata.json
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update tests
  tests/notebooks/test_shor.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update test
  tests/notebooks/test_shor.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update x size
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

cr fixes
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing spelling errors in QPE notebook. Improving wording
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix Qmod comparison CI
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  tests/config_weekly
  tests/config_weekly.ini
Due: none

fixes for ors cr
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix two typos
  algorithms/algebraic/shor/shor.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated notebooks to use qsvt functions
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

typo fix
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed bugs
  algorithms/gqsp/gqsp.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

reverted mistakenly changed hamiltonian_simulation_notebook
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed logic in test for hamiltonian simulation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

English changes to rainbow option notebooks
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for travelling salesman
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Integer Programming
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions to Max Clique
  applications/optimization/max_clique/max_clique.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Max Independent
  applications/optimization/max_independent_set/max_independent_set.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
