Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

updated timeout in test
  tests/notebooks/test_fermi_hubbard_1D.py
Due: none

advanced the vanishing u limit
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the u=0 limit
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

coded the python code, before tests
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.metadata.json
  tests/notebooks/test_fermi_hubbard_1D.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added state preparation figure and fixed bug
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the analytical solution
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

completed the spin-charge anslysis
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added the spin and charge spreads
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modified fh model
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added text
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added circuit figure
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/gaussian_state_preperation.png
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added non-interacting and non-hopping limits to the model
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added analytical checks
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

updated test file
  tests/notebooks/test_fermi_hubbard_1D.py
Due: none

integrate comments by amir part 1: typo, intro to doc, and ghz generalization
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/hardwares_preferences.py
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/report.pdf
  benchmarking/report/report.tex
  benchmarking/report/sections/quantum_volume.tex
  benchmarking/reporting.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

integrate comments by amir part 2: set section and subsections per benchmark, include num_shots in title, and allow descriptions
  benchmarking/benchmark.py
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/collector.py
  benchmarking/descriptions/adder.tex
  benchmarking/descriptions/state_preparation.txt
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_adder.tex
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/report/sections/_includes.tex
  benchmarking/report/sections/_version.tex
  benchmarking/reporting.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update qubit_op_to_pauli_terms to qubit_op_to_qmod in chemistry notebooks
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix remove orbitals as well
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update qubit_op_to_pauli_terms to qubit_op_to_qmod in exponentiation notebook
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

integrate comments by amir part 3: qprog properties
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/collector.py
  benchmarking/descriptions/state_preparation.txt
  benchmarking/hardware.py
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/storage.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

removed qsvt qmods
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: qmod-pre-commit, validate-metadata-file

add qprog details for all examples and a fixed list of 2q gates
  benchmarking/README.md
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/hardware.py
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/data/10_ghz_003.csv
  benchmarking/report/data/10_grover_004.csv
  benchmarking/report/data/10_qft_004.csv
  benchmarking/report/data/10_state_preparation_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/report/sections/10_ghz_003.tex
  benchmarking/report/sections/10_grover_004.tex
  benchmarking/report/sections/10_qft_004.tex
  benchmarking/report/sections/10_state_preparation_004.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed bugs in protocol.py
  benchmarking/protocols/protocol.py
Due: none

fixed bugs in qv_example
  benchmarking/protocols/qv_example.py
Due: none

added comments to qv_example
  benchmarking/protocols/qv_example.py
Due: none

fix qv code
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/qv_example.py
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/data/20_quantum_volume_summary.csv
  benchmarking/report/data/quantum_volume.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/20_quantum_volume_summary.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add new notebook of QMCI for pi estimation
  tests/notebooks/test_qmci_pi_estimation.ipynb.py
  tests/notebooks/test_qmci_pi_estimation.py
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.metadata.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

final updates for tex files
  benchmarking/benchmark.py
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/localization3.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/descriptions/adder.tex
  benchmarking/descriptions/dynamical_localization.tex
  benchmarking/descriptions/ghz.tex
  benchmarking/descriptions/grover.tex
  benchmarking/descriptions/qft.tex
  benchmarking/descriptions/quantum_volume.tex
  benchmarking/descriptions/state_preparation.tex
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/data/10_grover_004.csv
  benchmarking/report/data/10_localization_003.csv
  benchmarking/report/report.pdf
  benchmarking/report/report.tex
  benchmarking/report/sections/10_adder.tex
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/report/sections/10_ghz.tex
  benchmarking/report/sections/10_grover.tex
  benchmarking/report/sections/10_grover_004.tex
  benchmarking/report/sections/10_localization.tex
  benchmarking/report/sections/10_localization_003.tex
  benchmarking/report/sections/10_qft.tex
  benchmarking/report/sections/10_state_preparation.tex
  benchmarking/report/sections/20_quantum_volume.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Delete test_qmci_pi_estimation.ipynb.py
  tests/notebooks/test_qmci_pi_estimation.ipynb.py
Due: none

Update qmci_pi_estimation.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add print status method for ResultCollector
  benchmarking/benchmarking.py
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add report and reporting files
  benchmarking/report/background.pdf
  benchmarking/report/data/adder_q4.csv
  benchmarking/report/report.pdf
  benchmarking/report/report.tex
  benchmarking/report/sections/_includes.tex
  benchmarking/report/sections/adder_q4.tex
  benchmarking/reporting.py
Due: none

adding qv protocol
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/quantum_volume_protocol.metadata.json
  benchmarking/protocols/qv_example.py
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/protocols/results/quantum_volume/qv_3.csv
  benchmarking/protocols/results/quantum_volume/qv_4.csv
  benchmarking/report/data/quantum_volume.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/quantum_volume.tex
  tests/notebooks/test_quantum_volume_protocol.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add qft and statepreparation benchmarks
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_qft.metadata.json
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.metadata.json
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/report/data/qft_q4.csv
  benchmarking/report/data/state_preparation_q4.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/qft_q4.tex
  benchmarking/report/sections/state_preparation_q4.tex
  tests/notebooks/test_benchmark_qft.py
  tests/notebooks/test_benchmark_state_preparation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add benchmarking python files
  benchmarking/benchmarking.py
  benchmarking/hardwares_preferences.py
Due: none
