Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

removed write_qmod
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add jacobi anger and qsp functions in notebooks
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

remove write_qmod from files
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

hidden shift new native
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
Due: qmod-pre-commit, clean-demo-timeouts

discrete log native
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

native shor with comments
  algorithms/number_theory_and_cryptography/shor/shor.qmod
Due: qmod-pre-commit, clean-demo-timeouts

cr fix
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fix lint
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

improve simon's algorithm
  algorithms/foundational/simon/simon.qmod
Due: qmod-pre-commit, clean-demo-timeouts

lint
  algorithms/foundational/simon/simon.qmod
  algorithms/number_theory_and_cryptography/shor/shor.qmod
Due: qmod-pre-commit, clean-demo-timeouts

discrete log add ons
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

swap test pretty qmod native
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fix comments after cr
  algorithms/foundational/simon/simon.qmod
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Add pre-commit to verify generated links
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Replace "count" with "counts"
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

notebooks detailed descriptions
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

fix some wording
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Remove deprecated use of 'exponentiation_with_depth_constraint'
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/exponentiation/hamiltonian_evolution_exponentiation.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/exponentiation/hamiltonian_evolution_exponentiation.metadata.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/exponentiation/hamiltonian_evolution_exponentiation.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix symmetric walk op to use the block-encoding qfunc and not the walk itself
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update metadata pre-commit
  .internal/pre_commit_tools/metadata_consts.py
  .internal/pre_commit_tools/metadata_utils.py
  .internal/pre_commit_tools/metadata_validate.py
  .internal/pre_commit_tools/utils_for_metadata.py
  .internal/pre_commit_tools/validate_metadata.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Support new metadata fields
  .internal/pre_commit_tools/metadata_consts.py
  .internal/pre_commit_tools/metadata_utils.py
Due: none

rename title and description in function names
  .internal/pre_commit_tools/metadata_utils.py
Due: none

Order metadata fields
  .internal/pre_commit_tools/metadata_utils.py
Due: none

fix
  .internal/pre_commit_tools/metadata_utils.py
Due: none

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
