Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

add qsvt solver example
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add qmods
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add tests placeholders
  tests/notebooks/test_qls_chebyshev_lcu.py
  tests/notebooks/test_qls_qsvt.py
Due: none

add test for qsvt solver
  tests/notebooks/test_qls_qsvt.py
Due: none

minor changes to readme and python files
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
Due: none

update tests
  tests/notebooks/test_verify_block_encoding.py
Due: none

add qmods for qsvt examples
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

rename functions
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add chebyshev solver
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/notebooks/test_qls_chebyshev_lcu.py
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add qmods for cheb
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.metadata.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add mising rhs vector file
  applications/cfd/linear_qls_for_hybrid_solvers/matrices/b_nozzle_small.npy
Due: none

set width optimization
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  tests/notebooks/test_qls_chebyshev_lcu.py
  tests/notebooks/test_qls_qsvt.py
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

rm rr from readme
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
Due: none

update verification with new banded sym
  applications/cfd/linear_qls_for_hybrid_solvers/matrices/nozzle_small_scr.npz
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add block encoding verification nb
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  tests/notebooks/test_verify_block_encoding.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update block encoding verification
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add cheb utils file
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_utils.py
Due: none

update timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

add qsvt example
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add cheb_lcu solver
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add readme
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
Due: none

add banded be symmetrized
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_rr.py
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Increate timeout for HW aware synthesis
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts
