Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Adding paper implementation: Quantum State Preparation without Coherent Arithmetic
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, clean-demo-timeouts

Fix link
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix path err
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Merge notebooks
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Apply reviews
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

\ket{xxx} -> |xxx\rangle
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Use x.size
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

updated result visualisation and documentation
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

updated files adhering contribution guidelines
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.metadata.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.qmod
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Paper Implementation Project #801: A Quantum Algorithm for Solving Linear Differential Equations
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

updated global and encoding
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

minor change
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove generative=True
  algorithms/algebraic/shor/shor.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix notebook bug
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct path reading and add create qmod for big circuit tests.
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

delete all generative true
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

bring back the Pythonic notation
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

correct logical and
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding the image again
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Oblivious Amplitude Amplification: Fixing a few typos Closes Issue #919
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

New PR: Chemistry Protein folding English suggestions
  applications/chemistry/protein_folding/protein_folding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix loading of synthesis results into a QuantumProgram in test utils
  tests/utils_for_testbook.py
Due: none
