Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Fix
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.qmod
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

test file
  tests/notebooks/test_hamming_weights_compilation_workshop.py
Due: none

Add QAOA in QAOA
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.qmod
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added test
  tests/notebooks/test_adaptive_qaoa_lib.py
Due: none

added test
  tests/notebooks/test_adapt_qaoa.py
Due: none

fixed evidence scaling lab test
  tests/notebooks/test_evidence_scaling_labs.py
Due: none

added adapt qaoa
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.metadata.json
  applications/optimization/adapt_qaoa/adapt_qaoa.qmod
  applications/optimization/adapt_qaoa/adapt_qaoa.synthesis_options.json
  applications/optimization/adaptive_qaoa_lib.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update to new IQAE and add comments
  applications/finance/value_at_risk/Persik.metadata.json
  applications/finance/value_at_risk/value_at_risk.ipynb
  applications/finance/value_at_risk/value_at_risk.metadata.json
  applications/finance/value_at_risk/value_at_risk.qmod
  applications/finance/value_at_risk/value_at_risk.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

improved_qhed
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add QAOA in QAOA
  applications/optimization/qaoa_in_qaoa/Karina.qmod
  applications/optimization/qaoa_in_qaoa/Karina.synthesis_options.json
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.metadata.json
  tests/notebooks/test_qaoa_in_qaoa.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add QAOA in QAOA
  tests/notebooks/test_qaoa_in_qaoa.py
Due: none

Add QAOA in QAOA
  applications/optimization/qaoa_in_qaoa/karina.metadata.json
  applications/optimization/qaoa_in_qaoa/karina.qmod
  applications/optimization/qaoa_in_qaoa/karina.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

ran again so no errors
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

VARQITE notebook in a very initial stage, need to make it pretty and understandable
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.ipynb
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.metadata.json
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.qmod
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add test to varqite
  tests/notebooks/test_variational_quantum_imaginary_time_evolution.py
Due: none

modified network traffic optimization
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add the double slit notebook
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.json
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.synthesis_options.json
  tests/notebooks/test_quantum_double_slit_experiment.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

comment out empty
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add notebook
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.metadata.json
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.qmod
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.synthesis_options.json
  tests/notebooks/test_heat_eq_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

comment out deprecated name
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

format
  tests/notebooks/test_hamming_weights_compilation_workshop.py
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

metadata file
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.metadata.json
Due: none

write qmod added
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.qmod
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.synthesis_options.json
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update 1799 sec timeout for new nbs and qmods
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

add the double slit notebook
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod.qmod
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Fix result
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.qmod
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.synthesis_options.json
  tests/notebooks/test_heat_eq_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
