Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

align notebook with new features
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add tests
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix test
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: qmod-pre-commit, clean-demo-timeouts

update test
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: none

fixed wrong equation for a in the european options tutorial, and updated solution in the european options workshop
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Removing a </div> incorrectly closed
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix link within nb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for shor
  algorithms/algebraic/shor/shor.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for dj
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for gqsp
  algorithms/gqsp/gqsp.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for grover
  algorithms/grover/grover.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for simham
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix md intro for qsvt_inv
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hamiltonian evolution notebook to uncomputation
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hadamard test notebook to uncomputation
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum counting notebook to uncomputation
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QPE for unitary matrix notebook for uncomputation
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt 3SAT notebook to uncomputation
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt shor notebook to uncomputation
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QPE for matrix notebook for uncomputation
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt bernsten vazirani notebook to uncomputation
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt whitebox fuzzing notebook to uncomputation
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt approximated state preparation notebook to uncomputation
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt hidden shift notebook to uncomputation
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift_complex.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_simple.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt discrete quantum walk circle notebook to uncomputation
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt example exponentiation notebook to uncomputation
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/exponentiation/example_exponentiation.qmod
  tutorials/basic_tutorials/exponentiation/example_exponentiation_minimize_error.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt auxiliary management notebook to uncomputation
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt simon notebook to uncomputation
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_shallow_example.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QPE for grover notebook to uncomputation
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt flexible QPE notebook to uncomputation
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt swap test notebook to uncomputation
  algorithms/swap_test/swap_test.ipynb
  algorithms/swap_test/swap_test.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt QMC user-defined notebook to uncomputation
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt grover workhsop notebook to uncomputation
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Recreate IQAE Qmod files
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.qmod
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Adapt tanh Qmod to uncomputation
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Adapt BPDE notebook to uncomputation
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum thermal s-p notebook to uncomputation
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt quantum walk notebook to uncomputation
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests
