Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

updating more tests
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.ipynb
  algorithms/search_and_optimization/grover/grover.ipynb
  tests/notebooks/test_dqi_max_xorsat.py
  tests/notebooks/test_grover.py
  tests/notebooks/test_simon.py
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Updating test files
  algorithms/search_and_optimization/grover/grover.ipynb
  applications/CFD/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/physical_systems/hhl_lanchester/hhl_lanchester.ipynb
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
  tests/notebooks/test_brownian_chebyshev_polynomials.py
  tests/notebooks/test_dqi_max_xorsat.py
  tests/notebooks/test_grover.py
  tests/notebooks/test_quantum_drude_oscillator.py
  tests/notebooks/test_quantum_sawtooth_map.py
  tests/notebooks/test_tensor_hypercontraction.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Build the Hamiltonian with Classiq SparsePauliOp algebra
  research/qft_simulation/qft_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Address Tomer review: move to community, drop write_qmod/pass, revert .internal
  community/paper_implementation_project/simulating_quantum_field_theories/qft_simulation.ipynb
  community/paper_implementation_project/simulating_quantum_field_theories/qft_simulation.metadata.json
  community/paper_implementation_project/simulating_quantum_field_theories/qft_simulation.qmod
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

Revert .internal/update_outputs/main.sh to match main
  .internal/update_outputs/main.sh
Due: none

Add an appendix with increment benchmark. Move to new execution inteface, and correct hypercube result reading
  tests/notebooks/test_discrete_quantum_walk.py
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

fix: sum over coin probs, add a comment in the summary
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

style(tutorial): use bare identifiers in code-cell comments
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fixes based on review comments by Tamuz
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add trailing newline to notebooks (fix end-of-file-fixer lint)
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change to unary implementation for qpe with qubitization
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.qmod
  tests/notebooks/test_qpe_for_molecule_with_qubitization.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

rerun notebook for correct output
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

remove problematic outputs
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Rework section 12 on execution parameters; add cross-references
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Overhaul Qmod Tutorial (Part I & II)
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Pin isort to <9 in nbqa-isort hook
  .pre-commit-config.yaml
Due: none

refactor(notebooks): rename result -> df for sample() return values
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/metrology/classical_shadow_tomography.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.ipynb
  applications/physical_systems/hhl_lanchester/hhl_lanchester.ipynb
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix: rename df_dfs -> dfs in classical_shadow_tomography
  algorithms/metrology/classical_shadow_tomography.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix: use correct DataFrame column name "counts" (not "count")
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

refactor(notebooks): migrate hadamard_test_tutorial to new execution API
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix: format source as array of lines for readability
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix: update hadamard test for new execution API
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
Due: none

fix(deps): pin nlft-qsp<2.0.0 to fix broken import
  requirements_tests.txt
Due: none

Replace deprecated apply_phase_table with assign_phase_table
  applications/CFD/QLS_for_hybrid_solvers/pauli_be.py
Due: none

fix: update test to use df_Z5 instead of result_Z5
  tests/notebooks/test_discrete_log.py
Due: none
