Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

CLS-7828: Bind num_kicks via assign_parameters before reading transpiled metrics
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Regenerate exponentiation qmod from notebook
  tutorials/basic_tutorials/exponentiation/example_exponentiation.qmod
  tutorials/basic_tutorials/exponentiation/example_exponentiation.synthesis_options.json
Due: qmod-pre-commit, validate-metadata-file

Fix max width
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update_test_summary_multi_line
  .github/scripts/summarize_test_results.py
Due: none

add_429_to_test_summary
  .github/scripts/summarize_test_results.py
Due: none

removed unessecary bind
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

adjusted test file
  tests/notebooks/test_quantum_oracle_sketching_boolean.py
Due: none

fixed projection function
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added q oracle sketching boolean notebook
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.metadata.json
  tests/notebooks/test_quantum_oracle_sketching_boolean.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reviewed the oracle sketching
  algorithms/quantum_primitives/quantum_oracle_sketching_boolean/quantum_oracle_sketching_boolean.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Avoid using deprecated PauliTerm in quantum thermal notebook
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.qmod
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

removed the complexity file from the pr
  applications/physical_systems/maxwell_equation/Classiq_Synopsys_Complexity_26Mar5.pdf
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reviewed the notebook
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

advanced the maxwell notebook
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modified the test
  tests/notebooks/test_maxwell_2d_simulation.py
Due: none

begining of review
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added the maxwell 2d simulation notebook
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

corrected typo
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added the initial files
  applications/physical_systems/maxwell_equation/Classiq_Synopsys_Complexity_26Mar5.pdf
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.ipynb
  applications/physical_systems/maxwell_equation/maxwell_2d_simulation.metadata.json
  applications/physical_systems/maxwell_equation/maxwell_utils.py
  tests/notebooks/test_maxwell_2d_simulation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Replace max_width with optimization_parameter=width
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Cast type to int
  benchmarking/benchmarks/examples/grover.py
Due: none

add qle example and test
  algorithms/search_and_optimization/quantum_likelihood_estimation/quantum_likelihood_estimation.ipynb
  algorithms/search_and_optimization/quantum_likelihood_estimation/quantum_likelihood_estimation.metadata.json
  tests/notebooks/test_quantum_likelihood_estimation.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Updating the Classiq Tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

On progress update of tutorials
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Replacing simulators in execution tutorial
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Running pre-commit on modified files
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change indentation to 4 spaces to support slack markup
  .github/scripts/summarize_test_results.py
Due: none
