Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Apply pre-commit fixes to ecdlp folder
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added qprog viz
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update algo_design_QCE_tutorial_part_I notebook
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update files in algo_design_QCE_tutorial folder
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added phase further reading to ex 5 and 6
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added exact aa example
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.ipynb
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.metadata.json
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.qmod
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Update qGAN_challenge_solution.ipynb
  tutorials/basic_tutorials/qGAN-state-prep/Solution/qGAN_challenge_solution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qGAN_challenge.ipynb
  tutorials/basic_tutorials/qGAN-state-prep/qGAN_challenge.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add files via upload
  tutorials/basic_tutorials/qGAN-state-prep/tests/notebooks/test_qGAN_challenge.py
  tutorials/basic_tutorials/qGAN-state-prep/tests/notebooks/test_qGAN_challenge_solution.py
Due: none

Add files via upload
  tutorials/basic_tutorials/qGAN-state-prep/tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Add files via upload
  tests/notebooks/test_qGAN_challenge.py
  tests/notebooks/test_qGAN_challenge_solution.py
Due: none

Delete tutorials/basic_tutorials/qGAN-state-prep/tests directory
  tutorials/basic_tutorials/qGAN-state-prep/tests/notebooks/test_qGAN_challenge.py
  tutorials/basic_tutorials/qGAN-state-prep/tests/notebooks/test_qGAN_challenge_solution.py
  tutorials/basic_tutorials/qGAN-state-prep/tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update test_qGAN_challenge.py
  tests/notebooks/test_qGAN_challenge.py
Due: none

Update test_qGAN_challenge_solution.py
  tests/notebooks/test_qGAN_challenge_solution.py
Due: none

Add files via upload
  tutorials/basic_tutorials/qGAN-state-prep/Solution/qGAN.py
Due: none

Add files via upload
  tutorials/basic_tutorials/qGAN-state-prep/qGAN.py
Due: none

Delete tutorials/basic_tutorials/qGAN-state-prep/dependencies directory
  tutorials/basic_tutorials/qGAN-state-prep/dependencies/README.md
  tutorials/basic_tutorials/qGAN-state-prep/dependencies/qGAN.py
Due: none

Delete tutorials/basic_tutorials/qGAN-state-prep/Solution directory
  tutorials/basic_tutorials/qGAN-state-prep/Solution/README.md
  tutorials/basic_tutorials/qGAN-state-prep/Solution/qGAN.py
  tutorials/basic_tutorials/qGAN-state-prep/Solution/qGAN_challenge_solution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Delete tests/notebooks/test_qGAN_challenge_solution.py
  tests/notebooks/test_qGAN_challenge_solution.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
  auto-add-tests: any of: ^\S+\.ipynb$
