Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

remove from_qprog an SerializedQuantumProgram leftovers
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Replace suzuki_trotter with parametric variant
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Qmod files
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.qmod
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

paper_implementation_project setup
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/symmetry-enhanced-variational-spin-eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added script
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/symmetry-enhanced-variational-spin-eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Updating synthesis tutorial to include some visualization features
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

implements Sz ansatz and hardware ansatz
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_10_layers.qmod
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_10_layers.synthesis_options.json
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_15_layers.qmod
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_15_layers.synthesis_options.json
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_5_layers.qmod
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/hwea_5_layers.synthesis_options.json
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/symmetry-enhanced-variational-spin-eigensolver.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

removed error cells
  community/paper_implementation_project/symmetry_enhanced_variational_spin_eigensolver/symmetry-enhanced-variational-spin-eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

ecdlp: update ec_point_addition and tests, improve control syntax and test coverage
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/tests_ec_point_add.py
Due: none

Add ECDLP implementation with modular arithmetic operations (formatted)
  algorithms/algebraic/ecdlp/__init__.py
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/kaliski.py
  algorithms/algebraic/ecdlp/modular_add_constant_modulus.py
Due: none

Update ECDLP implementation with modular arithmetic and Kaliski algorithm improvements
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/kaliski.py
  algorithms/algebraic/ecdlp/modular_arithmetic.py
  algorithms/algebraic/ecdlp/tests.py
Due: none

controlled ec_point working
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/modular_arithmetic.py
  algorithms/algebraic/ecdlp/tests.py
Due: none

Refactor ECC tests, add tinyec verification, and improve point at infinity handling
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/shor_ec.py
  algorithms/algebraic/ecdlp/tests_ec_point_add.py
Due: none

Implement Shor's algorithm for ECDLP with correct QFT usage, EC point arithmetic, and proper argument order for ell_mult_add. Code formatting and trailing whitespace fixed by pre-commit hooks.
  algorithms/__init__.py
  algorithms/algebraic/__init__.py
  algorithms/algebraic/ecdlp/ec_point_addition.py
  algorithms/algebraic/ecdlp/shor_ec.py
  algorithms/algebraic/ecdlp/tests_ec_point_add.py
Due: none

Use param instead of global value
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmod files
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

introduction typo fix
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

adding draft for black box
  community/black_box_entropy.ipynb
  community/generic_function.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Addressing Adam's comments
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

updated notebooks
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tests/notebooks/test_dqi_max_xorsat.py
  tests/notebooks/test_grover_max_cut.py
  tests/notebooks/test_oblivious_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix requirements tests for conflict between numpy and pyomo
  requirements_tests.txt
Due: none

with qsvt notebooks in algorithms
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  tests/notebooks/test_qsvt_fixed_point_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed link
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  community/QClass_2024/Assignments/Preparation_for_Week2_Git_GitHub.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with quatu counting
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.synthesis_options.json
  algorithms/grover/3_sat_grover/3_sat_grover.ipynb
  algorithms/grover/3_sat_grover/3_sat_grover.qmod
  algorithms/grover/3_sat_grover/3_sat_grover.synthesis_options.json
  algorithms/grover/3_sat_grover/3_sat_grover_large.qmod
  algorithms/grover/3_sat_grover/3_sat_grover_large.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  tests/notebooks/test_qaoa_knapsack.py
  tests/notebooks/test_qsvt_fixed_point_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed failing notebooks
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tests/notebooks/test_quantum_counting.py
Due: notebook-pre-commit, clean-demo-timeouts

fixed hidden_shift
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift_complex.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_complex.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_simple.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_simple.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed shor
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fast check links in this repo
  tests/test_links.py
Due: none

hhl
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.synthesis_options.json
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts
