Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Add comments about the decorators
  tests/utils_for_testbook.py
Due: none

added the notebook
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Added the Quantum Vision Transformer Implementation
  community/paper_implementation_project/Quantum Vision Transformer.ipynb
Due: none

Update pull-request template to note about pre-commit
  .github/pull_request_template.md
Due: none

Add `pre-commit` to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Sync PR_template with CONTRIBUTING
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Add documentation to install via requirements.txt (which installs classiq, jupyter, and pre-commit)
  README.md
Due: none

Update pre-commit messages
  .internal/pre_commit_tools/clean_timeouts.py
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

fixed qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

first done
  algorithms/joint_encryption/joint_encryption.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

change: add more descriptions to bpde notebook
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.metadata.json
  community/paper_implementation_project/bpde/bpde_0.qmod
  community/paper_implementation_project/bpde/bpde_0.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_1.qmod
  community/paper_implementation_project/bpde/bpde_1.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_2.qmod
  community/paper_implementation_project/bpde/bpde_2.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_3.qmod
  community/paper_implementation_project/bpde/bpde_3.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_4.qmod
  community/paper_implementation_project/bpde/bpde_4.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_5.qmod
  community/paper_implementation_project/bpde/bpde_5.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_6.qmod
  community/paper_implementation_project/bpde/bpde_6.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_7.qmod
  community/paper_implementation_project/bpde/bpde_7.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_test.qmod
  community/paper_implementation_project/bpde/bpde_test.synthesis_options.json
  community/paper_implementation_project/quantum_algorithm_for_numerical_energy_gradient_calculations_at_the_full_configuration_interaction_level_of_theory/energy_gradient.ipynb
  tests/notebooks/test_bpde.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: fix bpde notebook test
  tests/notebooks/test_bpde.py
Due: none

16th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

update projection
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

add qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  tests/resources/timeouts.yaml
Due: qmod-pre-commit, clean-demo-timeouts

initial commit
  community/paper_implementation_project/Quantum portfolio Optimization/Quantum Portfolio optimization.py
Due: none

change: reduce timeout and rename qmod files
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.metadata.json
  community/paper_implementation_project/bpde/bpde_0.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_3.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_100.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_100.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_20.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_20.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_200.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_200.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2614.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2614.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_361.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_361.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_4.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_4.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_981.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_981.synthesis_options.json
  tests/notebooks/test_bpde.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update with es
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

increase timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update test
  tests/notebooks/test_molecule_eigensolver_using_openfermion.py
Due: none

Update generative models write_qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Increase demo time
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update Qmod files
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Pin qiskit version for tests
  requirements_tests.txt
Due: none

Revert "Increase demo time"
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Revert "Update Qmod files"
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Revert "Update generative models write_qmod"
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "Pin qiskit version for tests"
  requirements_tests.txt
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
