Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

add dynamical localization example
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.metadata.json
  benchmarking/benchmarks/data/localization3.csv
  benchmarking/report/data/localization_q3.csv
  benchmarking/report/sections/localization_q3.tex
  tests/notebooks/test_benchmark_dynamical_localization.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

split benchmarking py file into seperate files
  benchmarking/benchmark.py
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/collector.py
  benchmarking/errors.py
  benchmarking/hardware.py
  benchmarking/report/data/grover_q4.csv
  benchmarking/report/data/state_preparation_q4.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/grover_q4.tex
  benchmarking/report/sections/state_preparation_q4.tex
  benchmarking/storage.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update benchmarking to use try and except, together with error log
  benchmarking/benchmarking.py
Due: none

add readme file
  benchmarking/README.md
Due: none

update report files, with quantum volume data whose code is not commited yet
  benchmarking/report/data/grover_q4.csv
  benchmarking/report/data/quantum_volume.csv
  benchmarking/report/data/state_preparation_q4.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/_includes.tex
  benchmarking/report/sections/grover_q4.tex
  benchmarking/report/sections/quantum_volume.tex
Due: none

add qprog details for all examples and a fixed list of 2q gates
  benchmarking/README.md
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/hardware.py
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/data/10_ghz_003.csv
  benchmarking/report/data/10_grover_004.csv
  benchmarking/report/data/10_qft_004.csv
  benchmarking/report/data/10_state_preparation_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/report/sections/10_ghz_003.tex
  benchmarking/report/sections/10_grover_004.tex
  benchmarking/report/sections/10_qft_004.tex
  benchmarking/report/sections/10_state_preparation_004.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

pretify and align notebooks text and code
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/report/report.pdf
  benchmarking/report/sections/_includes.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update main file, include a max_submitted_jobs_in_dir based on csv files
  benchmarking/benchmarking.py
Due: none

add benchmark ghz notebook and runs
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_ghz.metadata.json
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/report/data/ghz_q3.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/ghz_q3.tex
  tests/notebooks/test_benchmark_ghz.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update class names in notebooks and add grover
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_grover.metadata.json
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  tests/notebooks/test_benchmark_grover.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed bugs in protocol.py
  benchmarking/protocols/protocol.py
Due: none

integrate comments by amir part 3: qprog properties
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/collector.py
  benchmarking/descriptions/state_preparation.txt
  benchmarking/hardware.py
  benchmarking/report/data/10_adder_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_adder_004.tex
  benchmarking/storage.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

integrate comments by amir part 1: typo, intro to doc, and ghz generalization
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/hardwares_preferences.py
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/report.pdf
  benchmarking/report/report.tex
  benchmarking/report/sections/quantum_volume.tex
  benchmarking/reporting.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added comments to qv_example
  benchmarking/protocols/qv_example.py
Due: none

update readme
  benchmarking/README.md
Due: none

fixed bugs in qv_example
  benchmarking/protocols/qv_example.py
Due: none

add benchmark adder
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_adder.metadata.json
  tests/notebooks/test_benchmark_adder.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

completed results
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_3.csv
  benchmarking/protocols/results/quantum_volume/qv_4.csv
  benchmarking/report/data/quantum_volume.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/quantum_volume.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

small corrections to python files and full adder example
  benchmarking/benchmarking.py
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/hardwares_preferences.py
  benchmarking/report/data/adder_q4.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/_includes.tex
  benchmarking/report/sections/adder_q4.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add report lock to benchmarking file
  benchmarking/benchmarking.py
Due: none

removed qsvt qmods
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: qmod-pre-commit, validate-metadata-file

Make the AMD notebook test ready
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

make sure the report is updated every time a width is finished
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/protocols/results/quantum_volume/qv_3.csv
  benchmarking/protocols/results/quantum_volume/qv_4.csv
  benchmarking/report/report.pdf
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

remove unused function
  benchmarking/protocols/protocol.py
Due: none

fix for report generation in qv, not generating a report if the csv did not change
  benchmarking/protocols/protocol.py
  benchmarking/protocols/quantum_volume_protocol.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add reset functions
  benchmarking/project_reset.py
  benchmarking/reporting.py
Due: none

reorder notebooks content
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/benchmarks/data/adder4.csv
  benchmarking/benchmarks/data/ghz3.csv
  benchmarking/benchmarks/data/grover4.csv
  benchmarking/benchmarks/data/localization3.csv
  benchmarking/benchmarks/data/qft4.csv
  benchmarking/benchmarks/data/state_preparation4.csv
  benchmarking/hardwares_preferences.py
  benchmarking/report/data/10_ghz_003.csv
  benchmarking/report/data/10_grover_004.csv
  benchmarking/report/report.pdf
  benchmarking/report/sections/10_ghz_003.tex
  benchmarking/report/sections/10_grover_004.tex
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reorder quantum volume content
  benchmarking/protocols/quantum_volume_protocol.ipynb
  benchmarking/protocols/results/quantum_volume/qv_2.csv
  benchmarking/report/report.pdf
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add a commented out cell for restarting project
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add a commented out cell for restarting example
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Delete community/paper_implementations/hubbard_holstein_gqsp/hubbard_holstein_gqsp.ipynb
  community/paper_implementations/hubbard_holstein_gqsp/hubbard_holstein_gqsp.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add files via upload
  community/paper_implementations/hubbard_holstein_gqsp/hubbard_holstein_gqsp.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update README.md
  community/paper_implementations/hubbard_holstein_gqsp/README.md
Due: none

fixed failing notebooks
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
