Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

fix versioning
  requirements_tests.txt
Due: none

Add option to silence pip update
  .internal/update_outputs/update_notebooks.sh
Due: none

allow silencing git pull
  .internal/update_outputs/update_notebooks.sh
Due: none

trigger circuit creation in backend
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

output updater: track time
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

handle different jupyter kernels (which are probably venv names)
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

Add a unique label to these kinds of PRs
  .internal/update_outputs/update_notebooks.sh
Due: none

Add flags to control execution flow
  .internal/update_outputs/update_notebooks.sh
Due: none

handle notebook failure
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

Also track pip time
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

merge update_single_notebook_links.sh into update_single_notebook.sh
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

Updating notebooks output
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add flag for links-only
  .internal/update_outputs/update_notebooks.sh
Due: none

output updater: fix bug for missing id field for older versions
  .internal/update_outputs/hook_add_random_seed.py
Due: none

Updating notebooks output
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

clean code
  .internal/update_outputs/update_notebooks.sh
Due: none

!
  tests/utils_for_testbook.py
  tests/utils_for_tests.py
Due: none

!
  .github/workflows/Test-CI-daily-notebooks-applications.yml
Due: none

debug
  .github/workflows/Test-CI-main.yml
Due: none

Updating notebooks output
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/shor/shor.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/grover/grover.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/simon/simon.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Updating notebooks output
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/grover/grover.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qsvt/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/simon/simon.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for kidney exchange
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Electric Grid
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions to Vehicle Routing
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English fixes to credit card fraud
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Minor English fixes to autocallable notebooks
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English fixes to whitebox fuzzing
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix error-code checks
  .internal/update_outputs/update_notebooks.sh
Due: none

debug
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-main.yml
Due: none

Updating notebooks output
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

New pre-commit : set nbformat version
  .internal/pre_commit_tools/extra_nbstripout.py
  .internal/pre_commit_tools/set_nbformat.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts
