Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Fix loading of synthesis results into a QuantumProgram in test utils
  tests/utils_for_testbook.py
Due: none

Remove usages of `from_qprog` method
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/our_solution/classiq_iQuHack_2025_final_sol.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas-Morales.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/superposition/superposition.ipynb
  tests/utils_for_testbook.py
  tutorials/basic_tutorials/exponentiation/example_exponentiation.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

revision of notebook 5
  applications/chemistry/adapt_vqe_for_energy_curve.zip
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_for_energy_curve.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, clean-demo-timeouts

reedition for compiling
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

reedition for compiling 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

initial commit
  algorithms/quantum_fully_homomorphic_encryption/qfhe_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

first commit
  community/classiq challenge qaoa/IMPLEMENTATION OF A HYBRID QUANTUM-CLASSICAL.ipynb
  community/classiq challenge qaoa/Readme.md
  community/classiq challenge qaoa/classiq challenge.pdf
  community/classiq challenge qaoa/drug_discovery_qubo.qmod
  community/classiq challenge qaoa/drug_discovery_qubo.synthesis_options.json
  community/classiq challenge qaoa/dti_dataset.csv
Due: none

onehotencoder error fixed
  algorithms/quantum_fully_homomorphic_encryption/qfhe_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify 3sat_oracles for test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix nb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Chemistry Molecule Energy English suggestions
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Chemistry Molecule Eigensolver English suggestions
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

New PR: Chemistry Protein folding English suggestions
  applications/chemistry/protein_folding/protein_folding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

prettify test
  tests/notebooks/test_3sat_oracles.py
Due: none

modify and test quantum volume
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  tests/notebooks/test_quantum_volume.py
Due: notebook-pre-commit, clean-demo-timeouts

cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

additional cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify and test deutsch jozsa
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
  tests/notebooks/test_deutsch_jozsa.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

modify and test glued trees
  algorithms/glued_trees/figures/10_qubits.png
  algorithms/glued_trees/figures/20_qubits.png
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/glued_trees/results/10-qubits/2n+0.json
  algorithms/glued_trees/results/10-qubits/2n+10.json
  algorithms/glued_trees/results/10-qubits/2n+12.json
  algorithms/glued_trees/results/10-qubits/2n+2.json
  algorithms/glued_trees/results/10-qubits/2n+4.json
  algorithms/glued_trees/results/10-qubits/2n+6.json
  algorithms/glued_trees/results/10-qubits/2n+8.json
  algorithms/glued_trees/results/10-qubits/2n-10.json
  algorithms/glued_trees/results/10-qubits/2n-12.json
  algorithms/glued_trees/results/10-qubits/2n-2.json
  algorithms/glued_trees/results/10-qubits/2n-4.json
  algorithms/glued_trees/results/10-qubits/2n-6.json
  algorithms/glued_trees/results/10-qubits/2n-8.json
  algorithms/glued_trees/results/20-qubits/2n+0.json
  algorithms/glued_trees/results/20-qubits/2n+10.json
  algorithms/glued_trees/results/20-qubits/2n+12.json
  algorithms/glued_trees/results/20-qubits/2n+2.json
  algorithms/glued_trees/results/20-qubits/2n+4.json
  algorithms/glued_trees/results/20-qubits/2n+6.json
  algorithms/glued_trees/results/20-qubits/2n+8.json
  algorithms/glued_trees/results/20-qubits/2n-10.json
  algorithms/glued_trees/results/20-qubits/2n-12.json
  algorithms/glued_trees/results/20-qubits/2n-2.json
  algorithms/glued_trees/results/20-qubits/2n-4.json
  algorithms/glued_trees/results/20-qubits/2n-6.json
  algorithms/glued_trees/results/20-qubits/2n-8.json
  tests/notebooks/test_glued_trees.py
Due: notebook-pre-commit, clean-demo-timeouts

modify and test grover max cut
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  tests/notebooks/test_grover_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

modify and test qpe on grover
  tests/notebooks/test_qpe_for_grover_operator.py
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Test-CI-main.yml
  .github/workflows/Test-CI-main.yml
Due: none

Update Test-CI-daily.yml
  .github/workflows/Test-CI-daily.yml
Due: none

modify and test qpe on unitary
  tests/notebooks/test_qpe_for_unitary_matrix.py
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Rename IMPLEMENTATION OF A HYBRID QUANTUM-CLASSICAL.ipynb to quantum_classical_qaoa.ipynb
  community/classiq challenge qaoa/quantum_classical_qaoa.ipynb
Due: none

correct deutsch jozsa constraint
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Renamed folder from 'classiq challenge qaoa' to 'classiq_challenge_qaoa'
  community/classiq challenge qaoa/quantum_classical_qaoa.ipynb
Due: none

Renamed
  community/classiq_challenge_qaoa/Readme.md
  community/classiq_challenge_qaoa/classiq challenge.pdf
  community/classiq_challenge_qaoa/drug_discovery_qubo.qmod
  community/classiq_challenge_qaoa/drug_discovery_qubo.synthesis_options.json
  community/classiq_challenge_qaoa/dti_dataset.csv
  community/classiq_challenge_qaoa/quantum_classical_qaoa.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Renamed
  community/classiq_challenge_qaoa/quantum_classical_qaoa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts
