Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

fixed small explicit t0 definition in ec_point_add
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update ecdlp notebook and modular arithmetic
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adding ecdlp notebook with metadata
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  tests/notebooks/test_elliptic_curve_discrete_log.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Update ecdlp notebook and add resources image
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/resources/ec_point_addition.jpg
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Resolve merge conflict in elliptic_curve_discrete_log.ipynb and update ecdlp folder
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Inline image
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/resources/ec_point_addition.jpg
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Updating Hamiltonian syntax
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fixing typos
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Updating synthesis tutorial to include some visualization features
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Addressing Dror's suggestion
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove phase kwargs
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add ai to readme
  README.md
Due: none

pre commit fix
  README.md
Due: none

updated notebooks according to new features - constant phase and control on constant variable
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.qmod
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Revert "updated notebooks according to new features - constant phase and control on constant variable"
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.qmod
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Modifying the titles of the exec tutorials to keep the standard
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr comments
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr comments
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added exact aa example
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.ipynb
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.metadata.json
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.qmod
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Apply pre-commit fixes to ecdlp folder
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added qprog viz
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add workshop baseline versions
  tests/resources/timeouts.yaml
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add notebook tests
  tests/notebooks/test_algo_design_QCE_tutorial_part_I.py
  tests/notebooks/test_algo_design_QCE_tutorial_part_II.py
Due: none
