Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

fix tests
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

increase timeout
  tests/notebooks/test_hamiltonian_evolution.py
Due: none

rebase two notebooks
  tests/notebooks/test_approximated_state_preparation.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_approximated_state_preparation.py
Due: none

rebase with sp
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with arith tech_demo
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_12_qubits.synthesis_options.json
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_9_qubits.synthesis_options.json
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with q_walk tech_demo
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

minor fix
  tests/notebooks/test_qpe_for_matrix.py
Due: none

with hhl tech_demo
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with classiq paper walk
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with aux managment tech_demo
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with vqls
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  tests/notebooks/test_vqls_with_lcu.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with sp approx tech_demo
  tests/notebooks/classiq_paper/test_classiq_discrete_quantum_walk.py
  tests/notebooks/classiq_paper/test_classiq_qsvt.py
  tests/notebooks/test_auxiliary_management.py
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

test qpe
  tests/notebooks/test_qpe_for_matrix.py
Due: none

with mcx demo
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.qmod
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.qmod
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with classiq paper qsvt
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

change params in qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix hhl and qpe
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/notebooks/test_qpe_for_matrix.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with ham sim tech_demo
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix hhl and qpe
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/notebooks/test_qpe_for_matrix.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with hhl
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with hamiltonian sim tech_demo
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add transforming func in nb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

upgraded patch management
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
  applications/cybersecurity/patching_management/patch_min_vertex_cover.qmod
  applications/cybersecurity/patching_management/patch_min_vertex_cover.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed bug
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
  applications/cybersecurity/patching_management/patch_min_vertex_cover.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

fixed test
  tests/notebooks/test_patch_min_vertex_cover.py
Due: none

upgraded vlasov_ampere and discrete_log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.qmod
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere.json
  tests/notebooks/test_vlasov_ampere.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with oblivious demo
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

refactored hamiltonian simulation, fixed bug in qaoa_knapsack
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.qmod
  algorithms/qaoa/knapsack/qaoa_knapsack.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.metadata.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/test.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix notebooks
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmods
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.qmod
  applications/plasma/vlasov_ampere/plasma_kinetic_block_encoding.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.qmod
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts
