Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

completed intros for the folders
  algorithms/newReadMes.md
Due: none

updated readme file, completed qml and number theoretic algos
  algorithms/newReadMes.md
Due: none

completed quantum differential equation solvers
  algorithms/newReadMes.md
Due: none

completed quantum linear solvers
  algorithms/newReadMes.md
Due: none

completed search and optimization, quantum primatives and QPE algorithms
  algorithms/newReadMes.md
Due: none

modified the main readme file
  algorithms/README.md
Due: none

Add AMD verion of the notebook
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add pre-commit to verify generated links
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Exclude old notebook
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Remove old qmod ci actions
  .github/actions/send_qmods_slack_notification/action.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Move tests/qmods to its own ci workflow
  .github/workflows/Test-CI-main.yml
  .github/workflows/Test-CI-qmod.yml
  tests/config_notebook_execute_tests.ini
Due: none

Unify naming of pre-commit steps
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Move readme resources to .internal
  .internal/README_resources/Execution_Screenshot_3_plus_5.png
  .internal/README_resources/Jobs_Screenshot_3_plus_5.png
  .internal/README_resources/Model_Screenshot_3_plus_5.png
  .internal/README_resources/Program_Screenshot_3_plus_5.png
  .internal/README_resources/classiq-logo.svg
  .internal/README_resources/writing_models.png
  README.md
Due: none

replace checkout code in CI
  .github/workflows/Test-CI-main.yml
Due: none

delete me
  .github/workflows/Test-CI-main.yml
Due: none

delete me
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix link for amd notebook
  .internal/pre_commit_tools/metadata_consts.py
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add test file
  tests/notebooks/test_resiliency_planning_AMD.py
Due: none

skip amd example properly in tests
  tests/notebooks/test__community_and_functions.py
  tests/test_all_notebooks_are_tested.py
Due: none

set dummy test file
  tests/notebooks/test_resiliency_planning_AMD.py
Due: none

updated requirements_test with nlft-qsp
  requirements_tests.txt
Due: none

Update max_width of QSVT notebook
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed gqsp notebook
  algorithms/quantum_primitives/gqsp/gqsp.ipynb
  tests/notebooks/test_gqsp.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed hamiltonian simulation notebook
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed hamiltonian simulation notebook
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

revised the readme file after review
  algorithms/amplitude_amplification_and_estimation/readme.md
  algorithms/foundational/readme.md
  algorithms/hamiltonian_simulation/readme.md
  algorithms/number_theory_and_cryptography/readme.md
  algorithms/qml/readme.md
  algorithms/quantum_differential_equations_solvers/readme.md
  algorithms/quantum_linear_solvers/readme.md
  algorithms/quantum_phase_estimation/readme.md
  algorithms/quantum_state_preparation/readme.md
  algorithms/quantum_walks/readme.md
  algorithms/search_and_optimization/readme.md
Due: none

updated newReadMe
  algorithms/newReadMes.md
Due: none

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
