Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Enforce pre-commit in CI
  .github/workflows/Lint.yml
Due: none

work with pathlib
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add auto_add_tests.py as pre-commit
  .internal/pre_commit_tools/auto_add_tests.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Update test_notebooks to only run the notebooks that don't have a special test in `tests/notebooks`
  tests/test_notebooks.py
Due: none

Add documentation to install via requirements.txt (which installs classiq, jupyter, and pre-commit)
  README.md
Due: none

Add `pre-commit` to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Sync PR_template with CONTRIBUTING
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

6th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction.qmod
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_cleaned.qmod
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/interaction_length_analysis.qmod
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/minimum_vertex_cover.qmod
Due: qmod-pre-commit, clean-demo-timeouts

7th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_prediction.qmod
Due: qmod-pre-commit, clean-demo-timeouts

8th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

9th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

10th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

11th done
  community/paper_implementation_project/Quantum_drugs_interaction/Drug_Interactions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

12th done
  community/paper_implementation_project/Quantum_drugs_interaction/Drug_Interactions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

13th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

14th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

15th done
  community/paper_implementation_project/Quantum_drugs_interaction/qmodfiles/drug_interaction_exploration.qmod
Due: qmod-pre-commit, clean-demo-timeouts

cleaning and code adding
  applications/chemistry/adapt_vqe_for_energy_curve.zip
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  applications/chemistry/adapt_vqe_for_energy_curve/lih.xyz
Due: none

cleaning and code adding 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

cleaning and code adding 3
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

cleaning and code adding 4
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update RNG seed in DQI notebook
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove RNG seed in DQI notebook
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

updating images in notebook
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added prepare exponential state partial
  .internal/pre_commit_tools/auto_add_tests.py
  .internal/pre_commit_tools/clean_timeouts.py
  .pre-commit-config.yaml
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  tests/notebooks/test_partial_exponential_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

fixes
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  tests/notebooks/test_partial_exponential_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

typo
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix writing of qprog
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Resolved the required comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Delete Symmetric_compression_algorithm.py
  algorithms/Symmetric_compression_algorithm.py
Due: none

Add files via upload
  algorithms/Symmetric_compression_algorithm.py
Due: none

Uptaded the files corresponding to the comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts
