Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Remove qmod in tests
  tests/notebooks/workshops/test_Option_Pricing_Workshop.py
  tests/notebooks/workshops/test_combi_workshop_Inequality_constriants_PO.py
  tests/notebooks/workshops/test_combi_workshop_equality_constriants_PO.py
  tests/notebooks/workshops/test_combinatorial_qmod_workshop_for_maxcut.py
Due: none

Update qmods
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type1.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type2.qmod
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst_type2.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_type2.synthesis_options.json
  functions/qmod_library_reference/classiq_open_library/qct_qst/qst_type2.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix unused parameter
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Delete tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tests/notebooks/workshops/test_Qmod_workshop4finance.py
  tests/resources/timeouts.yaml
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb without iqae
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.qmod
  tutorials/workshops/grover_workshop/grover_workshop.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Use model_dump_json instead of json.dump
  algorithms/glued_trees/glued_trees.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update generated files
  algorithms/glued_trees/figures/10_qubits.png
  algorithms/glued_trees/figures/20_qubits.png
  algorithms/glued_trees/results/10-qubits/2n+0.json
  algorithms/glued_trees/results/10-qubits/2n+10.json
  algorithms/glued_trees/results/10-qubits/2n+12.json
  algorithms/glued_trees/results/10-qubits/2n+2.json
  algorithms/glued_trees/results/10-qubits/2n+4.json
  algorithms/glued_trees/results/10-qubits/2n+6.json
  algorithms/glued_trees/results/10-qubits/2n+8.json
  algorithms/glued_trees/results/10-qubits/2n-10.json
  algorithms/glued_trees/results/10-qubits/2n-12.json
  algorithms/glued_trees/results/10-qubits/2n-2.json
  algorithms/glued_trees/results/10-qubits/2n-4.json
  algorithms/glued_trees/results/10-qubits/2n-6.json
  algorithms/glued_trees/results/10-qubits/2n-8.json
  algorithms/glued_trees/results/20-qubits/2n+0.json
  algorithms/glued_trees/results/20-qubits/2n+10.json
  algorithms/glued_trees/results/20-qubits/2n+12.json
  algorithms/glued_trees/results/20-qubits/2n+2.json
  algorithms/glued_trees/results/20-qubits/2n+4.json
  algorithms/glued_trees/results/20-qubits/2n+6.json
  algorithms/glued_trees/results/20-qubits/2n+8.json
  algorithms/glued_trees/results/20-qubits/2n-10.json
  algorithms/glued_trees/results/20-qubits/2n-12.json
  algorithms/glued_trees/results/20-qubits/2n-2.json
  algorithms/glued_trees/results/20-qubits/2n-4.json
  algorithms/glued_trees/results/20-qubits/2n-6.json
  algorithms/glued_trees/results/20-qubits/2n-8.json
Due: none

Increase Shor width constraint
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update jsons
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: none

Add B92 Quantum Key Distribution Protocol implementation
  community/paper_implementation_project/b92/b92_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add image file required for the B92 QKD protocol
  community/paper_implementation_project/b92/images/2ywUZTB2gFXH7PDerI72rrMH7GO.jpg
Due: none

Fix image path in B92 implementation notebook
  community/paper_implementation_project/b92/b92_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add metadata file for B92 Quantum Key Distribution Protocol implementation
  community/paper_implementation_project/b92/b92_implementation.metadata.json
Due: none

Add B92 implementation synthesis options configuration
  community/paper_implementation_project/b92/b92_implementation.synthesis_options.json
Due: none

Add initial implementation of B92 Quantum Key Distribution protocol
  community/paper_implementation_project/b92/b92_implementation.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Refactor B92 implementation
  community/paper_implementation_project/b92/b92_implementation.ipynb
  community/paper_implementation_project/b92/b92_implementation.qmod
  community/paper_implementation_project/b92/b92_implementation.synthesis_options.json
  community/paper_implementation_project/b92/images/2ywUZTB2gFXH7PDerI72rrMH7GO.jpg
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

English suggestions for QPE for molecules
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with vqe for potential curve
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with vqe vanilla
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

resolve conflict
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

post release run
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

with tutorial
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/lih.xyz
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.qmod
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with second quantized hamiltonian
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.qmod
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add new test
  tests/notebooks/test_classiq_chemistry_application.py
Due: none

fix tests
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
  tests/notebooks/test_molecule_eigensolver.py
  tests/notebooks/test_qpe_for_molecules.py
  tests/notebooks/test_second_quantized_hamiltonian.py
Due: notebook-pre-commit, clean-demo-timeouts

align qpe with main
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qpe for molecule
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

correct st
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
