Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

with vqls
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  tests/notebooks/test_vqls_with_lcu.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with hhl
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with arith tech_demo
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_12_qubits.synthesis_options.json
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_9_qubits.synthesis_options.json
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix hhl and qpe
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/notebooks/test_qpe_for_matrix.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with ham sim tech_demo
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with mcx demo
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.qmod
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.qmod
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with classiq paper walk
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with q_walk tech_demo
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with approx_sp tech_demo
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with classiq paper qsvt
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with aux managment tech_demo
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  algorithms/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  tests/notebooks/test_approximated_state_preparation.py
Due: notebook-pre-commit, clean-demo-timeouts

with hhl tech_demo
  tutorials/technology_demonstrations/hhl/hhl_example.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

increase timeout
  tests/notebooks/test_hamiltonian_evolution.py
Due: none

fix hhl and qpe
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/notebooks/test_qpe_for_matrix.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with sp approx tech_demo
  tests/notebooks/classiq_paper/test_classiq_discrete_quantum_walk.py
  tests/notebooks/classiq_paper/test_classiq_qsvt.py
  tests/notebooks/test_approximated_state_preparation.py
  tests/notebooks/test_auxiliary_management.py
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

rebase two notebooks
  tests/notebooks/test_approximated_state_preparation.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with hamiltonian sim tech_demo
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with approximated sp tech_demo
  tests/notebooks/test_approximated_state_preparation.py
  tutorials/technology_demonstrations/approximated_state_preparation/approximated_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_approximated_state_preparation.py
Due: none

add transforming func in nb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

change params in qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qpe
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_approx.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix_exact.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

test qpe
  tests/notebooks/test_qpe_for_matrix.py
Due: none

minor fix
  tests/notebooks/test_qpe_for_matrix.py
Due: none

with sp approx tech_demo
  tests/notebooks/classiq_paper/test_classiq_discrete_quantum_walk.py
  tests/notebooks/classiq_paper/test_classiq_qsvt.py
  tests/notebooks/test_auxiliary_management.py
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/auxiliary_managment/auxiliary_management.ipynb
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
