Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

fix hamiltonian simulation with be test and nb, due to change of inplace xor implementation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate ground_state_and_spectral_methods dir
  algorithms/ground_state_and_spectral_methods/adapt_vqe/adapt_vqe.ipynb
  algorithms/ground_state_and_spectral_methods/adapt_vqe/adapt_vqe.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_linear_solvers dir
  algorithms/quantum_linear_solvers/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/aqc/solving_qlsp/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.ipynb
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.qmod
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.synthesis_options.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  algorithms/quantum_linear_solvers/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/quantum_linear_solvers/vqls/lcu_vqls/vqls_with_lcu.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate foundational dir
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.qmod
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.synthesis_options.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.qmod
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.synthesis_options.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.qmod
  algorithms/foundational/quantum_teleportation/quantum_teleportation.synthesis_options.json
  algorithms/foundational/simon/simon.ipynb
  algorithms/foundational/simon/simon.metadata.json
  algorithms/foundational/simon/simon.qmod
  algorithms/foundational/simon/simon.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix shor with new mod arith function and width constraint
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/number_theory_and_cryptography/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

correct proj_cnot in qsvt in hamiltonian simulation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr fixes
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.ipynb
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.qmod
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.synthesis_options.json
  algorithms/quantum_linear_solvers/aqc/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/aqc/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.ipynb
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.qmod
  algorithms/quantum_linear_solvers/hhl/hhl.synthesis_options.json
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update links
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/quantum_differential_equations_solvers/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate amplitude_amplification dir
  algorithms/amplitude_amplification/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/amplitude_amplification/oblivious_amplitude_amplification/oblivious_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate search_and_optimization dir
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.ipynb
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover_small.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover_small.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_small.synthesis_options.json
  algorithms/search_and_optimization/grover/grover.ipynb
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.qmod
  algorithms/search_and_optimization/grover/grover_max_cut.synthesis_options.json
  algorithms/search_and_optimization/qaoa/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/search_and_optimization/qaoa/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.ipynb
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.qmod
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_primitives dir
  algorithms/quantum_primitives/gqsp/gqsp.ipynb
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.qmod
  algorithms/quantum_primitives/swap_test/swap_test.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix algorithms readme
  algorithms/README.md
Due: none

fix missing link
  algorithms/README.md
Due: none

Add qmod file to arithmetic expression
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression.qmod
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression.synthesis_options.json
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

remove the screenshot of the probably wrong probabilities
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

increase the number of iterations to actually measure c with higher probability
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

We avoide to use yfinance python packages. It sometimes affects the matrix of HHL.
  applications/finance/new_portfolio_optimization_hhl/new_HHL_portfolio.ipynb
  applications/finance/new_portfolio_optimization_hhl/test_new_HHL_portfolio.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

We avoide to use yfinance python packages. It sometimes affects the matrix of HHL.
  applications/finance/new_portfolio_optimization_hhl/new_HHL_portfolio.ipynb
  applications/finance/new_portfolio_optimization_hhl/new_HHL_portfolio.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

We avoide to use yfinance python packages. It sometimes affects the matrix of HHL.
  applications/finance/new_portfolio_optimization_hhl/test_new_HHL_portfolio.py
Due: none

change the URL in Defining HHL Algorithm for the Quantum Solution
  applications/finance/new_portfolio_optimization_hhl/new_HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

feat(block-encoding): added paper implementation as per Issue1267
  applications/block_encoding/2D_Lap.png
  applications/block_encoding/2D_Laplacian_circuit.png
  applications/block_encoding/General_BE.png
  applications/block_encoding/checkerboard.png
  applications/block_encoding/checkerboard_BE_N8.qmod
  applications/block_encoding/checkerboard_BE_N8.synthesis_options.json
  applications/block_encoding/checkerboard_circuit.png
  applications/block_encoding/laplacian_BE_Nx4_Ny4.qmod
  applications/block_encoding/laplacian_BE_Nx4_Ny4.synthesis_options.json
  applications/block_encoding/select_structures_BE.ipynb
  applications/block_encoding/symmetric_tridiagonal.png
  applications/block_encoding/toeplitz_BE_N16.qmod
  applications/block_encoding/toeplitz_BE_N16.synthesis_options.json
  applications/block_encoding/toeplitz_circuit.png
  applications/block_encoding/tridiagonal_BE_size16.qmod
  applications/block_encoding/tridiagonal_BE_size16.synthesis_options.json
  applications/block_encoding/tridiagonal_symmetric_circuit.png
  tests/notebooks/test_select_structures_BE.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

docs(block-encoding): fix nbstripout normalization
  applications/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

resolved timeout conflicts feat(block-encoding): added paper implementation as per Issue 1268
  applications/Block_encoding-ND_Laplacian/1D_Lap_BE.png
  applications/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.qmod
  applications/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.synthesis_options.json
  applications/Block_encoding-ND_Laplacian/1D_structure.png
  applications/Block_encoding-ND_Laplacian/1d_discretization.png
  applications/Block_encoding-ND_Laplacian/2D_Lap_structure.png
  applications/Block_encoding-ND_Laplacian/3D_Lap_structure.png
  applications/Block_encoding-ND_Laplacian/Ddim_Lap_BE.png
  applications/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  applications/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.qmod
  applications/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.synthesis_options.json
  tests/notebooks/test_ND_Laplacian_BE.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

docs(block-encoding): fix broken_link
  applications/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Reviews Addressed and changed notebook location
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Lap_BE.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.qmod
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.synthesis_options.json
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1d_discretization.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/2D_Lap_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/3D_Lap_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/Ddim_Lap_BE.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.qmod
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.synthesis_options.json
  community/paper_implementation_project/block_encoding/2D_Lap.png
  community/paper_implementation_project/block_encoding/2D_Laplacian_circuit.png
  community/paper_implementation_project/block_encoding/General_BE.png
  community/paper_implementation_project/block_encoding/checkerboard.png
  community/paper_implementation_project/block_encoding/checkerboard_BE_N8.qmod
  community/paper_implementation_project/block_encoding/checkerboard_BE_N8.synthesis_options.json
  community/paper_implementation_project/block_encoding/checkerboard_circuit.png
  community/paper_implementation_project/block_encoding/laplacian_BE_Nx4_Ny4.qmod
  community/paper_implementation_project/block_encoding/laplacian_BE_Nx4_Ny4.synthesis_options.json
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  community/paper_implementation_project/block_encoding/symmetric_tridiagonal.png
  community/paper_implementation_project/block_encoding/toeplitz_BE_N16.qmod
  community/paper_implementation_project/block_encoding/toeplitz_BE_N16.synthesis_options.json
  community/paper_implementation_project/block_encoding/toeplitz_circuit.png
  community/paper_implementation_project/block_encoding/tridiagonal_BE_size16.qmod
  community/paper_implementation_project/block_encoding/tridiagonal_BE_size16.synthesis_options.json
  community/paper_implementation_project/block_encoding/tridiagonal_symmetric_circuit.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add Rei modified notebook
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

remove yfinance from requirment tests
  requirements_tests.txt
Due: none

update timeouts file
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

fix notebook
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix the test
  tests/notebooks/test_whitebox_fuzzing.py
Due: none
