Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

add qsp install to qsvt_inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix qmod in qsvt inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Allow running qmod comparison last
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  tests/utils_for_testbook.py
Due: none

Replace testbook decorator with context manager
  tests/utils_for_testbook.py
Due: none

Add qmod comparison to notebook tests
  tests/utils_for_testbook.py
Due: none

update vlasov_ampere with qsp
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update time-marching example with new qsp app
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.qmod
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update notebook
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

align with classiq version
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix typo in grover
  algorithms/grover/grover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

refine test
  tests/notebooks/test_time_marching.py
Due: none

Remove QArray iteration
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Fix cooling notebook
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add ref in readme
  applications/cfd/linear_qls_for_hybrid_solvers/README.md
Due: none

move qmod compare decorator to another file
  tests/utils_for_qmod.py
  tests/utils_for_testbook.py
Due: none

Add option to silence pip update
  .internal/update_outputs/update_notebooks.sh
Due: none

Add flags to control execution flow
  .internal/update_outputs/update_notebooks.sh
Due: none

Add a unique label to these kinds of PRs
  .internal/update_outputs/update_notebooks.sh
Due: none

trigger circuit creation in backend
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

handle different jupyter kernels (which are probably venv names)
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

handle notebook failure
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

merge update_single_notebook_links.sh into update_single_notebook.sh
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
  .internal/update_outputs/update_single_notebook_links.sh
Due: none

allow silencing git pull
  .internal/update_outputs/update_notebooks.sh
Due: none

fix versioning
  requirements_tests.txt
Due: none

Fixing Broken Link
  tutorials/basic_tutorials/the_classiq_tutorial/classiq_overview_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

output updater: track time
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

Also track pip time
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

Updating notebooks output
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
  auto-add-tests: any of: ^\S+\.ipynb$
