Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

Update elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Manually edit the auto-generated metadata
  algorithms/hhl/hhl/hhl.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/simon/simon.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.metadata.json
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.metadata.json
  tutorials/basic_tutorials/mcx/mcx.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.metadata.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.metadata.json
  tutorials/technology_demonstrations/hhl/hhl_example.metadata.json
  tutorials/workshops/hhl_workshop/hhl_workshop.metadata.json
Due: none

Remove latex
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/pennylane_cat_qsvt_example.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/qiskit_qsvt.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/tket_qsvt_example.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/pennylane_catalyst_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/qiskit_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/tket_discrete_quantum_walk.metadata.json
  tutorials/technology_demonstrations/hhl/hhl_example.metadata.json
Due: none

Update qmod files
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.qmod
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

fix link
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

organized adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
  algorithms/adapt_vqe/basic_test.ipynb
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified test and timeout files
  tests/notebooks/test_adapt_vqe.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

added adapt_vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt_vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added adapt_vqe test
  tests/notebooks/test_adapt_vqe.py
Due: none

modified adapt vqe test
  tests/notebooks/test_adapt_vqe.py
Due: none

modified adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
  tests/notebooks/test_adapt_vqe.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

removed basic test
  algorithms/adapt_vqe/basic_test.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/adapt_vqe.qmod
  algorithms/adapt_vqe/adapt_vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified test adapt vqe
  tests/notebooks/test_adapt_vqe.py
Due: none

modified adapt_qaoa
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/vqe.qmod
  algorithms/adapt_vqe/vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified adapt_vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/vqe.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

seperate to pauli and banded be
  applications/cfd/qls_for_hybrid_solvers/banded_be.py
  applications/cfd/qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/qls_for_hybrid_solvers/pauli_be.py
Due: none

updated notebooks after change
  applications/cfd/qls_for_hybrid_solvers/banded_be.py
  applications/cfd/qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/cfd/qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update qpe for molecule
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

revised adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix outputs
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
  algorithms/adapt_vqe/vqe.synthesis_options.json
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  tests/notebooks/test_basic_test.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated qaoa
  algorithms/qaoa/knapsack/qaoa_knapsack.ipynb
  algorithms/qaoa/knapsack/qaoa_knapsack.metadata.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/qaoa.ipynb
  algorithms/qaoa/qaoa_knapsack.qmod
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
  algorithms/qaoa/qaoa_max_cut.metadata.json
  algorithms/qaoa/qaoa_max_cut.qmod
  algorithms/qaoa/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_demonstration.py
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/qaoa/qaoa_demonstration.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed test qaoa demonstration
  algorithms/qaoa/qaoa.ipynb
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
  algorithms/qaoa/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa.py
  tests/notebooks/test_qaoa_demonstration.py
  tests/notebooks/test_qaoa_knapsack.py
  tests/notebooks/test_qaoa_max_cut.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified the qaoa notebooks
  tests/notebooks/test_qaoa.py
Due: none

fixed review comments of qaoa
  algorithms/qaoa/qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added gaps to adapt vqe
  algorithms/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified test qaoa
  tests/notebooks/test_qaoa.py
Due: none
