Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

modified hadamard_test
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fixed typo in q counting qpe
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_qpe.qmod
Due: qmod-pre-commit, clean-demo-timeouts

added quantum counting qpe
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_qpe.qmod
Due: qmod-pre-commit, clean-demo-timeouts

revised q counting iqae qmod
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_iqae.qmod
Due: qmod-pre-commit, clean-demo-timeouts

added comments to add bell states and hadamard test
  tutorials/basic_tutorials/add_bell_states/add_bell_states.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

capatized states in add bell states qmod
  tutorials/basic_tutorials/add_bell_states/add_bell_states.qmod
Due: qmod-pre-commit, clean-demo-timeouts

revised hadamard test qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

revised quantum counting qmods
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_iqae.qmod
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_qpe.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Beautify prepare state qmod
  tutorials/basic_tutorials/prepare_state/prepare_state.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Beautify quantum walks qmod's
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

revised quantum counting iqae and hadamard test
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_iqae.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

add standalone hhl qmod
  algorithms/quantum_linear_solvers/hhl/hhl.qmod
Due: qmod-pre-commit, clean-demo-timeouts

rm write qmod
  algorithms/quantum_linear_solvers/hhl/hhl.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

moved qpe with qubitization to algorithm/quantum_phase_estimation and created a qpe_for_matrix folder
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

renamed elliptic curve
  algorithms/number_theory_and_cryptography/elliptic_curve/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/elliptic_curve/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curve/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/elliptic_curve/elliptic_curve_discrete_log.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

moved hhl lanchester to applications/physical_systems
  applications/physical_systems/hhl_lanchester/hhl_lanchester.ipynb
  applications/physical_systems/hhl_lanchester/hhl_lanchester.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

renamed aqc to adiabatic quantum computing
  algorithms/quantum_linear_solvers/adiabatic_quantum_computing/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/adiabatic_quantum_computing/solving_qlsp_with_aqc.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

renamed adiabatic quantum computing and elliptic curve folders
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update qpe with qubitization example
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed add bell states
  tutorials/basic_tutorials/add_bell_states/add_bell_states.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fixed a bug in the hadamard test
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Beautify 4 qmods (switch 3-sat grover from small to large)
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.qmod
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_large.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_small.qmod
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Add the missing QAOA knapsack example
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.qmod
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Beautify grover-max-cut example
  algorithms/search_and_optimization/grover/grover_max_cut.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
