Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

test commit
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

test after pre commit
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  tests/notebooks/test_quantum_teleportation.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

space
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

once again
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/quantum_teleportation/quantum_teleportation_circuit.png
  algorithms/quantum_teleportation/qunatum_teleportation.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

small fixes
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

quantum teleportation protocol
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/quantum_teleportation/quantum_teleportation_circuit.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modify test2
  tests/notebooks/test_quantum_teleportation.py
Due: none

adding qmod2
  algorithms/quantum_teleportation/quantum_teleportation.qmod
  algorithms/quantum_teleportation/quantum_teleportation.synthesis_options.json
  tests/resources/timeouts.yaml
Due: qmod-pre-commit, clean-demo-timeouts

fixed allocation order
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update notebook according to new code
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update skip control in gray code
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
Due: none

update classical and quantum functions according to new features
  applications/cfd/linear_qls_for_hybrid_solvers/classical_functions_be.py
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
Due: none

update qmods
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

add chebyshev approx test
  tests/notebooks/test_chebyshev_approximation.py
Due: none

updated chebyshev utils and a notebook for analysis
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_utils.py
  applications/cfd/linear_qls_for_hybrid_solvers/chebyshev_approximation.ipynb
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

revert implementation of banded diagonal be
  applications/cfd/linear_qls_for_hybrid_solvers/quantum_functions_be.py
Due: none

update nbs and qmods
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/banded_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/cheb_lcu_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/pauli_sym_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qls_qsvt.ipynb
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.qmod
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_banded_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/qsvt_solver_pauli_be.synthesis_options.json
  applications/cfd/linear_qls_for_hybrid_solvers/verify_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

cr comment
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed a square
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix phrasing
  algorithms/quantum_teleportation/quantum_teleportation.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Adapt arithmetic expressions notebook to uncomputation
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_12_qubits.qmod
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_demo_9_qubits.qmod
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add an option to truncate long errors. disabled by default. set SHOULD_TRUNCATE_SHORT_CELL_ERROR=true to enable.
  tests/utils_for_testbook.py
Due: none

add drop call for trash variables
  algorithms/qml/quantum_autoencoder/autoencoder.qmod
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

updated notebook according to uncomputation feature
  applications/automotive/cooling_systems_optimization/block_encoding.qmod
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.qmod
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

pre_commit additions
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qdrift calls
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Using 200 snapshots for better accuracy
  community/paper_implementation_project/classical_shadows/classical_shadows.ipynb
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adaptive qaoa
  algorithms/qaoa/adaptive_qaoa_lib.ipynb
  tests/notebooks/test_adaptive_qaoa_lib.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

adaptive qaoa
  applications/optimization/adaptive_qaoa_lib.ipynb
  tests/notebooks/test_adaptive_qaoa_lib.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update qdrift qmods
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_exponentiation.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.synthesis_options.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.qmod
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Remove *=
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/our_solution/classiq_iQuHack_2025_final_sol.ipynb
  community/Hackathons/iQuHack_2025/Workshop/WS_iQuHack_2025_final.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove *=
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/hhl/hhl/hhl.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
