Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

updated notebooks
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
  algorithms/differential_equations/time_marching/time_marching.ipynb
  algorithms/differential_equations/time_marching/time_marching.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/option_pricing/option_pricing.qmod
  applications/finance/option_pricing/option_pricing.synthesis_options.json
  tests/notebooks/test_dqi_max_xorsat.py
  tests/notebooks/test_grover_max_cut.py
  tests/notebooks/test_oblivious_amplitude_amplification.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed shor
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed hidden_shift
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift_complex.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_complex.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_no_dual.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift_simple.qmod
  algorithms/algebraic/hidden_shift/hidden_shift_simple.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

restore test qprog size
  tests/utils_for_testbook.py
Due: none

export duplicate code to a function
  tests/utils_for_testbook.py
Due: none

Update test - discrete_quantum_walk_circle
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/utils_for_testbook.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update test - rectangles_packing_grid
  tests/notebooks/test_rectangles_packing_grid.py
Due: none

Update test - hhl_lanchester
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  tests/notebooks/test_hhl_lanchester.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - qaoa_max_cut
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - rainbow_options_direct_method
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  tests/notebooks/test_rainbow_options_direct_method.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - time_marching
  algorithms/differential_equations/time_marching/time_marching.ipynb
  tests/notebooks/test_time_marching.py
Due: notebook-pre-commit, clean-demo-timeouts

Add warnings for validations on non-transpiled circuits
  tests/utils_for_testbook.py
Due: none

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

with all function usage examples
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.qmod
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.synthesis_options.json
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_and/bitwise_and_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_example.ipynb
  functions/function_usage_examples/arithmetic/comparator/comparator_example.ipynb
  functions/function_usage_examples/arithmetic/extremum/extremum_example.ipynb
  functions/function_usage_examples/arithmetic/modulo/modulo_example.ipynb
  functions/function_usage_examples/arithmetic/multiplication/multiplication.ipynb
  functions/function_usage_examples/arithmetic/negation/negation_example.ipynb
  functions/function_usage_examples/arithmetic/subtraction/subtraction_example.ipynb
  functions/function_usage_examples/mcx/mcx_example.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.qmod
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add comprehensive quantum-classical ECDLP testing framework
  algorithms/algebraic/ecdlp/shor_ec.py
  algorithms/algebraic/ecdlp/tests_ec_point_add.py
  algorithms/algebraic/ecdlp/tests_shor_ec.py
Due: none

with bv
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/bernstein_vazirani/bernstein_vazirani_example.qmod
  algorithms/bernstein_vazirani/bernstein_vazirani_example.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with classiq qw
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.qmod
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/quantum_walk_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with simon
  algorithms/simon/simon.ipynb
  algorithms/simon/simon_example.qmod
  algorithms/simon/simon_example.synthesis_options.json
  algorithms/simon/simon_shallow_example.qmod
  algorithms/simon/simon_shallow_example.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with dj
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with q_walk tutorial
  tutorials/advanced_tutorials/discrete_quantum_walk/discrete_quantum_walk.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_circle_balanced_coin.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk/quantum_walk_hypercube.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with aqc
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.qmod
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qmci
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.qmod
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

witg hhl
  algorithms/hhl/hhl/figures/hhl_circuit.png
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/hhl/hhl/hhl_exact.qmod
  algorithms/hhl/hhl/hhl_exact.synthesis_options.json
  algorithms/hhl/hhl/hhl_trotter.qmod
  algorithms/hhl/hhl/hhl_trotter.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix two unrelated pr links
  algorithms/swap_test/swap_test.ipynb
  tutorials/classiq_101/getting_started/part4_ghz_state.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb without iqae
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
  tutorials/workshops/grover_workshop/grover_workshop.qmod
  tutorials/workshops/grover_workshop/grover_workshop.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb without iqae
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Delete tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tests/notebooks/workshops/test_Qmod_workshop4finance.py
  tests/resources/timeouts.yaml
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
  tutorials/workshops/hhl_workshop/hhl_workshop.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

minor fix
  algorithms/amplitude_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update Shor's algorithm implementation and comprehensive testing framework
  algorithms/algebraic/ecdlp/shor_ec.py
  algorithms/algebraic/ecdlp/tests_shor_ec.py
Due: none

with rainbow
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.qmod
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
  applications/finance/rainbow_options/rainbow_options_direct_method.qmod
  applications/finance/rainbow_options/rainbow_options_direct_method.synthesis_options.json
  applications/finance/rainbow_options/rainbow_options_integration_method.ipynb
  applications/finance/rainbow_options/rainbow_options_integration_method.qmod
  applications/finance/rainbow_options/rainbow_options_integration_method.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts
