Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

with ae metadata and test
  algorithms/qml/quantum_autoencoder/autoencoder.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.metadata.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  tests/notebooks/test_quantum_autoencoder.py
Due: notebook-pre-commit, clean-demo-timeouts

with auto encoder
  algorithms/qml/quantum_autoencoder/autoencoder.qmod
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix: update broken links to LCU tutorial
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Delete dummy test
  tests/test_dummy.py
Due: none

Create test for readme file
  tests/test_readme_file.py
Due: none

Fix readme
  README.md
Due: none

with poisson
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.qmod
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with hybrid qnn
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

align with version
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/differential_equations/discrete_poisson_solver/discrete_poisson_solver.synthesis_options.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qgan
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with qsvm
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm/qsvm.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixing tests
  tests/notebooks/test_execution_tutorial_part2.py
Due: none

Fix QML with Classiq guide pic name
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

fix ae
  algorithms/qml/quantum_autoencoder/autoencoder.qmod
  algorithms/qml/quantum_autoencoder/autoencoder.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_network.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_network.synthesis_options.json
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.qmod
  algorithms/qml/quantum_autoencoder/autoencoder_verifier.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

change a link in unrelated notebook
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

adding ecdlp notebook with metadata
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  tests/notebooks/test_elliptic_curve_discrete_log.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update timeouts for ecdlp notebook
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

update test file after rebase
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

Fix auto_add_tests old syntax
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Forbid space in file names
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

Fix test name
  tests/internal/test_pre_commit.py
Due: none

Improve is_valid_qmod error message
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  tests/internal/test_pre_commit.py
Due: none

Expand error message on notebook without test
  tests/test_all_notebooks_are_tested.py
Due: none

Update test - discrete_quantum_walk_circle
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/utils_for_testbook.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
