Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
        exclude: '\.internal/app-store/mkdocs\.yml'
      - id: check-yaml
        name: Check MkDocs YAML
        files: .internal/app-store/mkdocs.yml
        args:
          - "--unsafe"
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

Add Qmod tests
  .github/workflows/Test-CI-main.yml
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/qmods/test_qmods.py
Due: none

Install Qmod parser in CI
  .github/workflows/Test-CI-main.yml
Due: none

Test commit #1
  functions/function_usage_examples/mcx/mcx_example.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Fix environment variable setting
  .github/workflows/Test-CI-main.yml
Due: none

Test qmod tests
  functions/function_usage_examples/mcx/mcx_example.qmod
Due: qmod-pre-commit, clean-demo-timeouts

test curl
  .github/workflows/Test-CI-main.yml
Due: none

Fix CLASSIQ_HOST value in workflows
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
  .github/workflows/Test-CI-main.yml
Due: none

temp
  functions/function_usage_examples/mcx/mcx_example.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Fix changed Qmod filtering
  tests/qmods/test_qmods.py
Due: none

update qsvt for inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update test
  tests/notebooks/test_qsvt_matrix_inversion.py
Due: none

Install couenne from online source
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-main.yml
Due: none

add notebook
  algorithms/grover/grover.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

remove two grover examples
  algorithms/grover/3_sat_grover/3_sat_grover.ipynb
  algorithms/grover/3_sat_grover/3_sat_grover.metadata.json
  algorithms/grover/3_sat_grover/3_sat_grover.qmod
  algorithms/grover/3_sat_grover/3_sat_grover.synthesis_options.json
  algorithms/grover/3_sat_grover/3_sat_grover_large.metadata.json
  algorithms/grover/3_sat_grover/3_sat_grover_large.qmod
  algorithms/grover/3_sat_grover/3_sat_grover_large.synthesis_options.json
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.metadata.json
  algorithms/grover/grover_max_cut/grover_max_cut.qmod
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

add figure to notebook
  algorithms/grover/3_sat_grover_large.synthesis_options.json
  algorithms/grover/3_sat_grover_small.synthesis_options.json
  algorithms/grover/grover.ipynb
  algorithms/grover/grover_max_cut.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add qmods
  algorithms/grover/3_sat_grover_large.qmod
  algorithms/grover/3_sat_grover_large.synthesis_options.json
  algorithms/grover/3_sat_grover_small.metadata.json
  algorithms/grover/3_sat_grover_small.qmod
  algorithms/grover/3_sat_grover_small.synthesis_options.json
  algorithms/grover/grover_max_cut.metadata.json
  algorithms/grover/grover_max_cut.qmod
  algorithms/grover/grover_max_cut.synthesis_options.json
  tests/resources/timeouts.yaml
Due: qmod-pre-commit, clean-demo-timeouts

add test to notebook
  algorithms/grover/3_sat_grover_large.synthesis_options.json
  algorithms/grover/3_sat_grover_small.synthesis_options.json
  algorithms/grover/grover.ipynb
  algorithms/grover/grover_max_cut.synthesis_options.json
  tests/notebooks/test_3_sat_grover.py
  tests/notebooks/test_grover.py
  tests/notebooks/test_grover_max_cut.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix typos
  algorithms/grover/grover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix test
  algorithms/grover/3_sat_grover_large.synthesis_options.json
  algorithms/grover/3_sat_grover_small.synthesis_options.json
  algorithms/grover/grover_max_cut.synthesis_options.json
  tests/notebooks/test_grover.py
Due: none

Separate test and notebook requirements
  requirements.txt
  requirements_notebooks.txt
  requirements_tests.txt
Due: none

Replace testbook decorator with context manager
  tests/utils_for_testbook.py
Due: none

Add qmod comparison to notebook tests
  tests/utils_for_testbook.py
Due: none

add gqsp example
  algorithms/gqsp/gqsp.ipynb
  algorithms/gqsp/gqsp.metadata.json
  algorithms/gqsp/gqsp.qmod
  algorithms/gqsp/gqsp.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add test
  algorithms/gqsp/gqsp.ipynb
  tests/notebooks/test_gqsp.py
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests
