Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

with some community notebooks updates
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Addressing Matan's review
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

feat: enhance entanglement tutorial with GHZ states
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  community/basic_examples/entanglement/entanglement.ipynb
  tests/notebooks/test_entanglement.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.qmod
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/classiq_101/getting_started/part2_state_preparation.ipynb
  tutorials/classiq_101/getting_started/part3_deutsch_jozsa.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

cleanup: remove orphaned test files for deleted classiq_101 notebooks
  tests/notebooks/workshops/test_part1_arithmetic.py
  tests/notebooks/workshops/test_part2_state_preparation.py
  tests/notebooks/workshops/test_part3_deutsch_jozsa.py
  tests/notebooks/workshops/test_part4_ghz_state.py
  tests/notebooks/workshops/test_part5_grover.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

fix: update entanglement test to match standard pattern
  tests/notebooks/test_entanglement.py
Due: none

fix: resolve TestbookObjectReference TypeError in entanglement test
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: none

fix: resolve entanglement test TypeError by using ref_pydantic
  tests/notebooks/test_entanglement.py
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
  tutorials/basic_tutorials/entanglement/entanglement.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Remove redundant whats_classiq tutorial
  tests/notebooks/workshops/test_whats_classiq.py
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.ipynb
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.qmod
  tutorials/classiq_101/hello_many_worlds/hello_many_worlds.synthesis_options.json
  tutorials/classiq_101/whats_classiq/whats_classiq.ipynb
  tutorials/classiq_101/whats_classiq/whats_classiq.metadata.json
  tutorials/classiq_101/whats_classiq/whats_classiq.qmod
  tutorials/classiq_101/whats_classiq/whats_classiq.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qaoa notebooks and dataframe usage for qsvt inversion
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/qsvt/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/facility_location/facility_location.qmod
  applications/logistics/facility_location/facility_location.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_saleman_problem.synthesis_options.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.qmod
  applications/optimization/min_graph_coloring/min_graph_coloring.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qaoa notebooks and dataframe usage for qsvt inversion
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

with tsp qmods
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.metadata.json
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.qmod
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

test
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed tests
  tests/notebooks/test_facility_location.py
  tests/notebooks/test_min_graph_coloring.py
Due: none

Remove redundant classiq_concepts tutorial folder
  tests/resources/timeouts.yaml
  tutorials/classiq_101/classiq_concepts/analyze/analyze.ipynb
  tutorials/classiq_101/classiq_concepts/analyze/analyze.metadata.json
  tutorials/classiq_101/classiq_concepts/analyze/analyze.qmod
  tutorials/classiq_101/classiq_concepts/analyze/analyze.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.ipynb
  tutorials/classiq_101/classiq_concepts/design/design/design.metadata.json
  tutorials/classiq_101/classiq_concepts/design/design/design.qmod
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/execute/execute.ipynb
  tutorials/classiq_101/classiq_concepts/execute/execute.metadata.json
  tutorials/classiq_101/classiq_concepts/execute/execute.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
  tutorials/classiq_101/classiq_concepts/optimize/optimize.metadata.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.qmod
  tutorials/classiq_101/classiq_concepts/optimize/optimize.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix CI failures: Remove obsolete file references
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

Remove orphaned test files for deleted notebooks
  tests/notebooks/workshops/test_analyze.py
  tests/notebooks/workshops/test_classical_variables_and_operations.py
  tests/notebooks/workshops/test_design.py
  tests/notebooks/workshops/test_execute.py
  tests/notebooks/workshops/test_hello_many_worlds.py
  tests/notebooks/workshops/test_optimize.py
  tests/notebooks/workshops/test_quantum_operations.py
  tests/notebooks/workshops/test_quantum_variables_and_functions.py
Due: none

Remove redundant classiq_concepts tutorial folder
  tests/resources/timeouts.yaml
  tutorials/classiq_101/classiq_concepts/analyze/analyze.ipynb
  tutorials/classiq_101/classiq_concepts/analyze/analyze.metadata.json
  tutorials/classiq_101/classiq_concepts/analyze/analyze.qmod
  tutorials/classiq_101/classiq_concepts/analyze/analyze.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.ipynb
  tutorials/classiq_101/classiq_concepts/design/design/design.metadata.json
  tutorials/classiq_101/classiq_concepts/design/design/design.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.qmod
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.ipynb
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.metadata.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.ipynb
  tutorials/classiq_101/classiq_concepts/execute/execute.metadata.json
  tutorials/classiq_101/classiq_concepts/execute/execute.qmod
  tutorials/classiq_101/classiq_concepts/execute/execute.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.ipynb
  tutorials/classiq_101/classiq_concepts/optimize/optimize.metadata.json
  tutorials/classiq_101/classiq_concepts/optimize/optimize.qmod
  tutorials/classiq_101/classiq_concepts/optimize/optimize.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fixing errors
  tests/notebooks/test_execution_tutorial.py
Due: none

Fix tests
  tests/notebooks/test_execution_tutorial.py
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Complete classiq_101 cleanup: Move quantum primitives to basic_tutorials
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.ipynb
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.metadata.json
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.qmod
  tutorials/basic_tutorials/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.ipynb
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.metadata.json
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.qmod
  tutorials/basic_tutorials/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_variables_and_functions/quantum_variables_and_functions.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update path for docs from classiq 101 to tutorials/basic_tutorials
  .internal/paths_for_docs.yaml
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: clean-demo-timeouts
