Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

create and populate ground_state_and_spectral_methods dir
  algorithms/ground_state_and_spectral_methods/adapt_vqe/adapt_vqe.ipynb
  algorithms/ground_state_and_spectral_methods/adapt_vqe/adapt_vqe.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_linear_solvers dir
  algorithms/quantum_linear_solvers/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/aqc/solving_qlsp/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.ipynb
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.qmod
  algorithms/quantum_linear_solvers/hhl/hhl/hhl.synthesis_options.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.qmod
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.synthesis_options.json
  algorithms/quantum_linear_solvers/vqls/lcu_vqls/vqls_with_lcu.ipynb
  algorithms/quantum_linear_solvers/vqls/lcu_vqls/vqls_with_lcu.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_primitives dir
  algorithms/quantum_primitives/gqsp/gqsp.ipynb
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.qmod
  algorithms/quantum_primitives/swap_test/swap_test.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_walks_and_graph_problems dir
  algorithms/quantum_walks_and_graph_problems/glued_trees/figures/10_qubits.png
  algorithms/quantum_walks_and_graph_problems/glued_trees/figures/20_qubits.png
  algorithms/quantum_walks_and_graph_problems/glued_trees/figures/A_matrix.png
  algorithms/quantum_walks_and_graph_problems/glued_trees/figures/glued_trees_diagram.png
  algorithms/quantum_walks_and_graph_problems/glued_trees/glued_trees.ipynb
  algorithms/quantum_walks_and_graph_problems/glued_trees/glued_trees.metadata.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/glued_trees_cache.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+0.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+10.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+12.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+2.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+4.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+6.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n+8.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-10.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-12.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-2.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-4.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-6.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/10-qubits/2n-8.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+0.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+10.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+12.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+2.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+4.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+6.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n+8.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-10.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-12.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-2.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-4.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-6.json
  algorithms/quantum_walks_and_graph_problems/glued_trees/results/20-qubits/2n-8.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate quantum_state_preparation dir
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate amplitude_amplification dir
  algorithms/amplitude_amplification/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
  algorithms/amplitude_amplification/oblivious_amplitude_amplification/oblivious_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.qmod
  algorithms/amplitude_amplification/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

rename differential equations dir
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.metadata.json
  algorithms/quantum_differential_equations_solvers/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/quantum_differential_equations_solvers/hhl_lanchester/hhl_lanchester.metadata.json
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update links
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/quantum_differential_equations_solvers/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update links in readme file
  README.md
Due: none

fixed a typo in plasma notebook
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update vizualization of notebook results
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update vizualization of notebook results better import cell
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update vizualization of notebook results better intro cell
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed matrix
  applications/plasma/vlasov_ampere/vlasov_ampere.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

cr fixes
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.ipynb
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.metadata.json
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.qmod
  algorithms/ground_state_and_spectral_methods/qpe/qpe_for_matrix.synthesis_options.json
  algorithms/quantum_linear_solvers/aqc/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/aqc/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.ipynb
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.qmod
  algorithms/quantum_linear_solvers/hhl/hhl.synthesis_options.json
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update links following cr fixes
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.ipynb
  algorithms/quantum_differential_equations_solvers/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

rm qaoa knapsack write qmod since it is not commited
  algorithms/search_and_optimization/qaoa/qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix shor with new mod arith function and width constraint
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/number_theory_and_cryptography/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix hamiltonian simulation with be test and nb, due to change of inplace xor implementation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

with output cells for the last notebook
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

correct proj_cnot in qsvt in hamiltonian simulation
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tests/notebooks/test_hamiltonian_simulation_with_block_encoding.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update links
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/search_and_optimization/grover/grover.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

feat(block-encoding): added paper implementation as per Issue1267
  applications/block_encoding/2D_Lap.png
  applications/block_encoding/2D_Laplacian_circuit.png
  applications/block_encoding/General_BE.png
  applications/block_encoding/checkerboard.png
  applications/block_encoding/checkerboard_BE_N8.qmod
  applications/block_encoding/checkerboard_BE_N8.synthesis_options.json
  applications/block_encoding/checkerboard_circuit.png
  applications/block_encoding/laplacian_BE_Nx4_Ny4.qmod
  applications/block_encoding/laplacian_BE_Nx4_Ny4.synthesis_options.json
  applications/block_encoding/select_structures_BE.ipynb
  applications/block_encoding/symmetric_tridiagonal.png
  applications/block_encoding/toeplitz_BE_N16.qmod
  applications/block_encoding/toeplitz_BE_N16.synthesis_options.json
  applications/block_encoding/toeplitz_circuit.png
  applications/block_encoding/tridiagonal_BE_size16.qmod
  applications/block_encoding/tridiagonal_BE_size16.synthesis_options.json
  applications/block_encoding/tridiagonal_symmetric_circuit.png
  tests/notebooks/test_select_structures_BE.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

docs(block-encoding): fix broken_link
  applications/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

docs(block-encoding): fix nbstripout normalization
  applications/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

resolved timeout conflicts feat(block-encoding): added paper implementation as per Issue 1268
  applications/Block_encoding-ND_Laplacian/1D_Lap_BE.png
  applications/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.qmod
  applications/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.synthesis_options.json
  applications/Block_encoding-ND_Laplacian/1D_structure.png
  applications/Block_encoding-ND_Laplacian/1d_discretization.png
  applications/Block_encoding-ND_Laplacian/2D_Lap_structure.png
  applications/Block_encoding-ND_Laplacian/3D_Lap_structure.png
  applications/Block_encoding-ND_Laplacian/Ddim_Lap_BE.png
  applications/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  applications/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.qmod
  applications/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.synthesis_options.json
  tests/notebooks/test_ND_Laplacian_BE.py
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Reviews Addressed and changed notebook location
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Lap_BE.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.qmod
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_Periodic_Laplacian_BE.synthesis_options.json
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1D_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/1d_discretization.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/2D_Lap_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/3D_Lap_structure.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/Ddim_Lap_BE.png
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.qmod
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Periodic_Laplacian_BE.synthesis_options.json
  community/paper_implementation_project/block_encoding/2D_Lap.png
  community/paper_implementation_project/block_encoding/2D_Laplacian_circuit.png
  community/paper_implementation_project/block_encoding/General_BE.png
  community/paper_implementation_project/block_encoding/checkerboard.png
  community/paper_implementation_project/block_encoding/checkerboard_BE_N8.qmod
  community/paper_implementation_project/block_encoding/checkerboard_BE_N8.synthesis_options.json
  community/paper_implementation_project/block_encoding/checkerboard_circuit.png
  community/paper_implementation_project/block_encoding/laplacian_BE_Nx4_Ny4.qmod
  community/paper_implementation_project/block_encoding/laplacian_BE_Nx4_Ny4.synthesis_options.json
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  community/paper_implementation_project/block_encoding/symmetric_tridiagonal.png
  community/paper_implementation_project/block_encoding/toeplitz_BE_N16.qmod
  community/paper_implementation_project/block_encoding/toeplitz_BE_N16.synthesis_options.json
  community/paper_implementation_project/block_encoding/toeplitz_circuit.png
  community/paper_implementation_project/block_encoding/tridiagonal_BE_size16.qmod
  community/paper_implementation_project/block_encoding/tridiagonal_BE_size16.synthesis_options.json
  community/paper_implementation_project/block_encoding/tridiagonal_symmetric_circuit.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

rename algebraic to number_theory_and_cryptography
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.synthesis_options.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.ipynb
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.synthesis_options.json
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/number_theory_and_cryptography/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
