Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

two typos
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with vqe vanilla
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

resolve conflict
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with qpe for molecule
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

post release run
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

align qpe with main
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

with vqe for potential curve
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add new test
  tests/notebooks/test_classiq_chemistry_application.py
Due: none

fix tests
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
  tests/notebooks/test_molecule_eigensolver.py
  tests/notebooks/test_qpe_for_molecules.py
  tests/notebooks/test_second_quantized_hamiltonian.py
Due: notebook-pre-commit, clean-demo-timeouts

correct st
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.ipynb
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with tutorial
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/classiq_chemistry_application/lih.xyz
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.qmod
  applications/chemistry/classiq_chemistry_application/vqe_uccLiH.synthesis_options.json
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.qmod
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

with second quantized hamiltonian
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.qmod
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Rename kidney exchange files from plural to singular (kidney_exchange_problem)
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  tests/notebooks/test_kidney_exchange_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

kidney exchange -temp commit
  applications/kidney_exchange/kidney_exchange_problem.qmod
  applications/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/kidney_exchange/kidney_exchange_problems.ipynb
  tests/notebooks/test_kidney_exchange_problems.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update kidney exchange timeout to 300 and remove QClass_2024 folder
  applications/optimization/kidney_exchange/kidney_exchange_problem.qmod
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/optimization/kidney_exchange/kidney_exchange_problems.ipynb
  community/QClass_2024/Algorithm_Implementation/kidney_transplant_problems_Bill_Wisotsky.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas_Morales.ipynb
  community/QClass_2024/Assignments/HW1_QClass2024.ipynb
  community/QClass_2024/Assignments/HW2_QClass2024.ipynb
  community/QClass_2024/Assignments/Preparation_for_Week2_Git_GitHub.ipynb
  community/QClass_2024/README.md
  community/QClass_2024/Sessions/week1_QClass_workshop_with_sol.ipynb
  tests/notebooks/test_kidney_exchange_problems.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update kidney exchange problem synthesis options and requirements
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  requirements_tests.txt
Due: none

Fix pre-commit hook to exclude .git directory from notebook name validation
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Fix kidney exchange test to properly deserialize quantum program object
  tests/notebooks/test_kidney_exchange_problem.py
Due: none

English suggestions for cyber link monitoring
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove Intro heading
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixing test
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tests/notebooks/test_kidney_exchange_problem.py
Due: none

English suggestions for patch management kill chains
  applications/cybersecurity/patching_management/patch_min_vertex_cover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Change max iterations to int
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Update depth in test
  tests/notebooks/test_task_scheduling_problem.py
Due: none

fixing test
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  tests/notebooks/test_kidney_exchange_problem.py
Due: notebook-pre-commit, clean-demo-timeouts

minor fix
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
