Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Updated the notebook with the latest comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

completed the last comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

fixe type of list passing to prepare_amplitudes
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add url allow list
  .internal/url_allow_list.txt
  tests/test_links.py
Due: none

Add a decorator to help `test_notebook` represent which notebook it's testing
  tests/utils_for_testbook.py
Due: none

Add comments about the decorators
  tests/utils_for_testbook.py
Due: none

Extend the timeout of newly generated notebook tests from 20 to 60 seconds
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Sync PR_template with CONTRIBUTING
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Remove trailing comma in HHL Lanchester model array
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Updated the notebook according to the last comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Modified the last issue
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

The commit for Quantum Compression Algorithm for Symmetric States - Project #763
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Resolved the required comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add files via upload
  algorithms/Symmetric_compression_algorithm.py
Due: none

Delete Symmetric_compression_algorithm.py
  algorithms/Symmetric_compression_algorithm.py
Due: none

Uptaded the files corresponding to the comments
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix timeouts.yaml after rebase
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Enforce pre-commit in CI
  .github/workflows/Lint.yml
Due: none

Apply hook - qmod-pre-commit
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Apply hook - end-of-file-fixer & prettier
  CITATION.bib
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor_modular_exponentiation.synthesis_options.json
  algorithms/swap_test/swap_test.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/design/design.synthesis_options.json
  tutorials/classiq_101/classiq_concepts/design/quantum_operations/quantum_operations.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/linear_combination_of_unitaries/linear_combination_of_unitaries.synthesis_options.json
  tutorials/classiq_101/quantum_primitives/phase_kickback/phase_kickback.synthesis_options.json
Due: none

Apply hook - black-jupyter
  algorithms/dqi/dqi_max_xorsat.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
  tests/internal/test_paths_for_docs.py
  tests/notebooks/test_quantum_autocallable_option_pricing.py
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Apply hook - end-of-file-fixer
  tests/notebooks/test_quantum_autocallable_option_pricing.py
Due: none

Apply hook - nbqa-isort
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update pre-commit: run file-editing hooks using a single process
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Update pre-commit: sync auto-add-tests with test_all_notebooks_are_tested
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Apply all hooks
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas_Morales.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Update `update_notebooks` script
  .internal/update_outputs/fake_browser.sh
  .internal/update_outputs/hook_add_random_seed.py
  .internal/update_outputs/hook_remove_random_seed.py
  .internal/update_outputs/update_notebooks.sh
  .internal/update_outputs/update_single_notebook.sh
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
