Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Fix notebooks
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update qmods
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.synthesis_options.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.qmod
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.synthesis_options.json
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.qmod
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.synthesis_options.json
  applications/automotive/cooling_systems_optimization/block_encoding.synthesis_options.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.qmod
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.synthesis_options.json
  applications/automotive/cooling_systems_optimization/matrix_inverse.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Update qmods
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  algorithms/vqls/lcu_vqls/vqls_with_lcu.qmod
  algorithms/vqls/lcu_vqls/vqls_with_lcu.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.qmod
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_hwea.synthesis_options.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver_ucc.synthesis_options.json
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.qmod
  applications/chemistry/qpe_for_molecules/qpe_for_molecules.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/bb84/bb84_implementation.qmod
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix notebooks
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

English fixes to credit card fraud
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Create basic app-store documentation site
  .internal/app-store/.gitignore
  .internal/app-store/docs/algorithms/index.md
  .internal/app-store/docs/applications/index.md
  .internal/app-store/docs/community/index.md
  .internal/app-store/docs/css/page_format.css
  .internal/app-store/docs/index.md
  .internal/app-store/docs/overrides/.icons/classiq.svg
  .internal/app-store/docs/pages.yml
  .internal/app-store/docs/resources/images/ClassiqFavicon.png
  .internal/app-store/docs/resources/images/classiq-logo.svg
  .internal/app-store/docs/tutorials/index.md
  .internal/app-store/mkdocs-plugins/app_store_plugins/__init__.py
  .internal/app-store/mkdocs-plugins/app_store_plugins/conversion_fixes.py
  .internal/app-store/mkdocs-plugins/app_store_plugins/external_links.py
  .internal/app-store/mkdocs-plugins/app_store_plugins/jupyter_to_markdown.py
  .internal/app-store/mkdocs-plugins/pyproject.toml
  .internal/app-store/mkdocs-plugins/uv.lock
  .internal/app-store/mkdocs.yml
  .internal/app-store/pyproject.toml
  .internal/app-store/uv.lock
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Add link to documentation
  .internal/app-store/docs/pages.yml
Due: none

Create script for cleaning environment
  .internal/app-store/clear_build.sh
Due: none

Use pathlib over os
  .internal/app-store/mkdocs-plugins/app_store_plugins/jupyter_to_markdown.py
Due: none

Improve resource handling
  .internal/app-store/mkdocs-plugins/app_store_plugins/jupyter_to_markdown.py
Due: none

English suggestions for Estimating European Option Price
  applications/finance/option_pricing/option_pricing.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Explain the normalization coefficients
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Exclude internal documentation from pre-commit hooks
  .pre-commit-config.yaml
Due: clean-demo-timeouts

update learning optimization notebook to the new functionality
  tests/notebooks/test_learning_optimization.py
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Directed graph and final polishing
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

clear outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

vrp notebook
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct comments
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add mathematical formulation
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct comments second time
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct title
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct name
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  tests/notebooks/test_vehicle_rounting_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Try to correct tests
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct grammar
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Correct mathematical formulation layout
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add tests to VRP notebook
  tests/notebooks/test_vehicle_routing_problem.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

After running pre-commit
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
  tests/notebooks/test_vehicle_rounting_problem.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Increase timeout
  tests/notebooks/test_vehicle_routing_problem.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Add outputs
  applications/logistics/vehicle_routing_problem/vehicle_rounting_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Split test_links to run twice, based on env-var
  .github/workflows/Test-CI-main.yml
  tests/config_notebook_execute_tests.ini
  tests/test_links.py
Due: none

collect all broken_links errors in one pass
  tests/test_links.py
Due: none

Update README.md - Fix "Downloads" badge
  README.md
Due: none

Format and update test_elliptic_curve_discrete_log.py
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
