Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

support metadata for notebooks
  .github/scripts/join_qmod_metadata.py
Due: none

delete old timeouts
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

added timeouts data
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added timeouts data
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

fixed issues with gm_qaoa and grover_graph_coloring
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.synthesis_options.json
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add the double slit notebook
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

reduce number of iterations and improve printing
  applications/telecom/resiliency_planning/resiliency_planning.ipynb
  applications/telecom/resiliency_planning/resiliency_planning.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

reduce to 1 iteration and remove double backend preferences
  applications/telecom/resiliency_planning/resiliency_planning.ipynb
  applications/telecom/resiliency_planning/resiliency_planning.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add metadata file for notebook without qmod
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.metadata.json
Due: none

add the double slit notebook
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.json
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.synthesis_options.json
  tests/notebooks/test_quantum_double_slit_experiment.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add the double slit notebook
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod.qmod
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.qmod.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Fix pic and test
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  tests/notebooks/test_heat_eq_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

support metadata for notebooks - fixes
  .github/scripts/join_qmod_metadata.py
Due: none

removed uncessary comment
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified discrete log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.qmod
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.qmod
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

final classical shadows changes
  community/paper_implementation_project/classical_shadows/classical_shadows.ipynb
  community/paper_implementation_project/classical_shadows/classical_shadows.metadata.json
  community/paper_implementation_project/classical_shadows/classical_shadows.qmod
  community/paper_implementation_project/classical_shadows/classical_shadows.synthesis_options.json
  tests/resources/timeouts.yaml
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added measurement plots to discrete log
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/discrete_log/discrete_log.qmod
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/discrete_log/discrete_log_large.qmod
  algorithms/algebraic/discrete_log/discrete_log_large.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed review comments of qaoa
  algorithms/qaoa/qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed typos in OAA
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update ECDLP notebook: integrate Classiq Open Library functions and remove local modular_arithmetic.py
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified network traffic optimization
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
