Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

upgrade-nbformat:
  name: format nbformat upgrade
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: format nbformat strip
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

verify-notebook-format-execution-count:
  name: format nbformat execution-count
  language: pygrep
  entry: '"execution_count": -'

verify-platform-links-nightly:
  name: Forbid links to nightly.platform
  language: pygrep
  entry: https://nightly\.platform\.classiq\.io

verify-platform-links-dev:
  name: Forbid links with dev version
  language: pygrep
  entry: '[?&]version=[^ \t\n]*\.dev'

verify-platform-links-old:
  name: Forbid links from older versions
  language: pygrep
  entry: '"Opening:\s+https://'

notebook-pre-commit:
  name: Validate naming notebooks
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Validate naming qmods
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

validate-metadata-file:
  name: Validate Metadata file
  description: Add file if non existant and validate value otherwise
  entry: .internal/pre_commit_tools/metadata_validate.py
  language: python
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

refactor(conventions): improve title_case detector to reach 100%
  .internal/conventions/points/point_title_case.py
  .internal/conventions/title_case_proper_names.txt
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix(notebooks): title-case headings in Qmod tutorial parts 1 and 2
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

feat(conventions): detect the execution-API migration as a signal family
  .internal/conventions/STATUS.md
  .internal/conventions/points/_exec_signals.py
  .internal/conventions/points/_model.py
  .internal/conventions/points/point_execution_interface.py
  .internal/conventions/report.py
Due: none

docs(conventions): cover estimate/minimize + batch in the migration agent
  .internal/conventions/agents/notebook-execution-api.md
Due: none

fix(notebooks): convert title-cased sentence headings to plain text in select_structures_BE
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix(notebooks): replace stray unicode in Qmod tutorials with ASCII/LaTeX
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part1.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

ci: run notebook execution only when code cells change
  .github/workflows/Test-CI-main.yml
Due: none

test(ci): markdown-only edit to verify execution is skipped
  tutorials/basic_tutorials/entanglement/entanglement.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix(notebooks): normalize heading hierarchy across 29 notebooks
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  benchmarking/benchmarks/benchmark_adder.ipynb
  benchmarking/benchmarks/benchmark_dynamical_localization.ipynb
  benchmarking/benchmarks/benchmark_ghz.ipynb
  benchmarking/benchmarks/benchmark_grover.ipynb
  benchmarking/benchmarks/benchmark_qft.ipynb
  benchmarking/benchmarks/benchmark_state_preparation.ipynb
  benchmarking/protocols/quantum_volume_protocol.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/our_solution/classiq_iQuHack_2025_final_sol.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/vqe/vqe.ipynb
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  functions/function_usage_examples/arithmetic/bitwise_and/bitwise_and_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_or/bitwise_or_example.ipynb
  functions/function_usage_examples/arithmetic/bitwise_xor/bitwise_xor_example.ipynb
  functions/function_usage_examples/arithmetic/comparator/comparator_example.ipynb
  functions/function_usage_examples/arithmetic/extremum/extremum_example.ipynb
  functions/function_usage_examples/arithmetic/modulo/modulo_example.ipynb
  functions/function_usage_examples/arithmetic/multiplication/multiplication.ipynb
  functions/function_usage_examples/arithmetic/subtraction/subtraction_example.ipynb
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.ipynb
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
  functions/qmod_library_reference/qmod_core_library/standard_gates/standard_gates.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add Fault-Tolerance Engine end-to-end tutorial
  tests/notebooks/test_fault_tolerance_engine_end_to_end.py
  tutorials/technology_demonstrations/fault_tolerance_engine_end_to_end/fault_tolerance_engine_end_to_end.ipynb
  tutorials/technology_demonstrations/fault_tolerance_engine_end_to_end/fault_tolerance_engine_end_to_end.metadata.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Edits
  tutorials/technology_demonstrations/fault_tolerance_engine_end_to_end/fault_tolerance_engine_end_to_end.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add execution-API convention detector + exceptions doc
  .internal/conventions/agents/notebook-execution-api.md
  .internal/conventions/execution_api_migration_exceptions.md
  .internal/conventions/points/point_execution_interface.py
Due: none

Migrate combinatorial-optimization notebooks to CombinatorialProblem
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/low_autocorrelation_binary_sequences_problem/evidence_scaling_labs.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_k_vertex_cover/max_k_vertex_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  applications/physical_systems/ising_model/ising_model.ipynb
  applications/telecom/radio_access_network/radio_access_network_positioning_antennas.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate statevector runs to calculate_state_vector
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_gqsp.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qsvt.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_qubitization.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_utils.py
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Migrate notebooks to the free execution API
  algorithms/QML/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/QML/qgan/qgan_bars_and_strips.ipynb
  algorithms/metrology/classical_shadow_tomography.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.synthesis_options.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/quantum_primitives/gqsp/gqsp.ipynb
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.ipynb
  applications/CFD/qlbm/qlbm.ipynb
  applications/CFD/qlbm/reflection_scheme.png
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  applications/chemistry/second_quantized_hamiltonian/second_quantized_hamiltonian.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/logistics/vehicle_routing_problem/vehicle_routing_problem.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
  applications/optimization/variational_quantum_imaginary_time_evolution/variational_quantum_imaginary_time_evolution.ipynb
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
  applications/physical_systems/quantum_chaos/quantum_sawtooth_map.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/vqe/vqe.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
  tutorials/basic_tutorials/prepare_state/prepare_state.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Resolve TODOs and expand FT end-to-end tutorial
  tutorials/technology_demonstrations/fault_tolerance_engine_end_to_end/fault_tolerance_engine_end_to_end.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Use public classiq.error_correction imports (released in 1.29.0)
  tutorials/technology_demonstrations/fault_tolerance_engine_end_to_end/fault_tolerance_engine_end_to_end.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

modified observe to include many observables simultaneously
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fixed max width
  applications/physical_systems/hhl_lanchester/hhl_lanchester.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

verified that the plots appear
  applications/physical_systems/fermi_hubbard_model_1D/fermi_hubbard_1D.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

ignore specific warning that fails the test
  tests/config_quick_tests.ini
Due: none

update adapt qaoa with estimate over observables, remove commented code, use classiq built in pauli sparse operations
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix test
  tests/notebooks/test_adapt_qaoa.py
Due: none

update adapt_vqe with classiq commutator and estimate on observables
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

update test of adapt vqe
  tests/notebooks/test_adapt_vqe.py
Due: none

small fix
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

minor fixes for some depr. warnings
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

rebase and small fix
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Add antenna tilt optimization QAOA demo (telecom application)
  applications/telecom/antenna_tilt_optimization/antenna_tilt_optimization.ipynb
  applications/telecom/antenna_tilt_optimization/antenna_tilt_optimization.metadata.json
  applications/telecom/antenna_tilt_optimization/antenna_tilt_optimization.qmod
  applications/telecom/antenna_tilt_optimization/antenna_tilt_optimization.synthesis_options.json
  tests/notebooks/test_antenna_tilt_optimization.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: \.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-notebook-format-execution-count: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-platform-links-nightly: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-dev: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-old: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  notebook-pre-commit: any of: \.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: \.qmod$, but not: ^\.internal/docs/.*
  validate-metadata-file: any of: \.(qmod|ipynb)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: \.ipynb$, but not: ^\.internal/docs/.*
