Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        name: format end of file
      - id: trailing-whitespace
        name: format trailing whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: format prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
        name: format notebook black
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort
        name: format notebook isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: format nbformat upgrade
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: format nbformat strip
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: verify-notebook-format-execution-count
        name: format nbformat execution-count
        language: pygrep
        files: \.ipynb$
        entry: '"execution_count": -'

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        name: format nbformat nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: verify-platform-links-nightly
        name: Forbid links to nightly.platform
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: https://nightly\.platform\.classiq\.io
      - id: verify-platform-links-dev
        name: Forbid links with dev version
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '[?&]version=[^ \t\n]*\.dev'
      - id: verify-platform-links-old
        name: Forbid links from older versions
        language: pygrep
        files: \.ipynb$
        exclude: (^|/)logical_qubits_by_alice_and_bob\.ipynb$
        entry: '"Opening:\s+https://'

      - id: notebook-pre-commit
        name: Validate naming notebooks
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: \.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Validate naming qmods
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: \.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: validate-metadata-file
        name: Validate Metadata file
        description: Add file if non existant and validate value otherwise
        entry: .internal/pre_commit_tools/metadata_validate.py
        language: python
        files: \.(qmod|ipynb)$
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: \.ipynb$
        require_serial: true

added lchs notebook
  algorithms/quantum_differential_equations_solvers/lchs/lchs.ipynb
  algorithms/quantum_differential_equations_solvers/lchs/lchs.metadata.json
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

added test file
  tests/notebooks/test_lchs.py
Due: none

Update community metadata
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bpde/bpde.metadata.json
  community/paper_implementation_project/classical_shadows/classical_shadows.metadata.json
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.metadata.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
Due: none

Update functions metadata
  functions/function_usage_examples/arithmetic/arithmetic_expression/arithmetic_expression_example.metadata.json
  functions/function_usage_examples/arithmetic/bitwise_invert/bitwise_invert_example.metadata.json
  functions/function_usage_examples/arithmetic/modular_exp/modular_exp_example.metadata.json
  functions/function_usage_examples/arithmetic/modulo/modulo_example.metadata.json
  functions/function_usage_examples/arithmetic/negation/negation_example.metadata.json
  functions/function_usage_examples/mcx/mcx_example.metadata.json
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.metadata.json
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.metadata.json
  functions/qmod_library_reference/classiq_open_library/hadamard_transform/hadamard_transform.metadata.json
  functions/qmod_library_reference/classiq_open_library/linear_pauli_rotations/linear_pauli_rotations.metadata.json
  functions/qmod_library_reference/classiq_open_library/qft/qft.metadata.json
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.metadata.json
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_bell_state.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_exponential_state.metadata.json
  functions/qmod_library_reference/classiq_open_library/special_state_preparations/prepare_ghz_state.metadata.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/qdrift/qdrift.metadata.json
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.metadata.json
  functions/qmod_library_reference/qmod_core_library/unitary/unitary.metadata.json
Due: none

fix some wording
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

batch 2
  algorithms/amplitude_amplification_and_estimation/oblivious_amplitude_amplification/oblivious_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.metadata.json
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/simon/simon.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.metadata.json
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.metadata.json
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.metadata.json
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_linear_solvers/qsvt_matrix_inversion/qsvt_matrix_inversion.metadata.json
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.metadata.json
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.metadata.json
  algorithms/quantum_walks/glued_trees/glued_trees.metadata.json
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

notebooks detailed descriptions
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

Update algorithms metadata
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_iqae.metadata.json
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting_qpe.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_qdrift.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_guide/hamiltonian_simulation_guide_trotter.metadata.json
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/quantum_linear_solvers/hhl/hhl.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/quantum_primitives/gqsp/gqsp.metadata.json
  algorithms/quantum_primitives/swap_test/swap_test.metadata.json
  algorithms/quantum_state_preparation/adapt_vqe/adapt_vqe.metadata.json
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.metadata.json
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
Due: none

Update pre-commit
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/simon/simon.metadata.json
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
Due: none

add metadata
  applications/telecom/resiliency_planning/resiliency_planning_AMD.metadata.json
Due: none

run notebook and apply pre-commit
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
  tests/notebooks/test_resiliency_planning_AMD.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

add qiskit_aer to testing requirments
  requirements_tests.txt
Due: none

increase timeout
  tests/notebooks/test_resiliency_planning_AMD.py
Due: none

add missing packages to testing requirments and notebook
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
  requirements_tests.txt
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update links
  .internal/url_allow_list.txt
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  applications/finance/option_pricing/option_pricing.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
  community/Hackathons/iQuHack_2025/Workshop/WS_iQuHack_2025_final.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/Qmod_tutorial_part2.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Update descriptions
  algorithms/amplitude_amplification_and_estimation/oblivious_amplitude_amplification/oblivious_amplitude_amplification.metadata.json
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.metadata.json
  algorithms/quantum_walks/glued_trees/glued_trees.metadata.json
Due: none

Update notebooks after removing couenne
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.ipynb
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/max_k_vertex_cover/max_k_vertex_cover.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Remove couenne
  .github/actions/setup_classiq_on_nightly/action.yml
  .github/workflows/Test-CI-main.yml
  applications/chemistry/protein_folding/protein_folding_with_qaoa/protein_folding.ipynb
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
  applications/logistics/facility_location/facility_location.ipynb
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_independent_set/max_independent_set.ipynb
  applications/optimization/max_k_vertex_cover/max_k_vertex_cover.ipynb
  applications/optimization/minimum_dominating_set/minimum_dominating_set.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  requirements_tests.txt
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Updating Grover's algorithm
  tutorials/workshops/grover_workshop/grover_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix logical qubits notebook: replace unsupported LOGICAL_TARGET with LOGICAL_EARLY
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

Upgrade grover notebook
  algorithms/search_and_optimization/grover/grover.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

cr fixes
  algorithms/quantum_differential_equations_solvers/lchs/lchs.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

cr fix 2
  algorithms/quantum_differential_equations_solvers/lchs/lchs.ipynb
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests
