Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

QSVM minor corrections
  algorithms/qml/qsvm/qsvm.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed qml notebook
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qnn_with_pytorch.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

fixed few notebooks tests
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
  tests/notebooks/test_hhl_example.py
  tests/notebooks/test_randomized_benchmarking.py
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

removed duplicate bv tutorial
  tests/notebooks/test_bernstein_vazirani_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/bernstein_vazirani/bernstein_vazirani_tutorial.ipynb
  tutorials/basic_tutorials/bernstein_vazirani/bv_tutorial.qmod
  tutorials/basic_tutorials/bernstein_vazirani/bv_tutorial.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Quantum volume English suggestions
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Chemistry Molecule Energy English suggestions
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify 3sat_oracles for test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix nb
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix test
  tests/notebooks/test_3sat_oracles.py
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "Pin osqp version"
  requirements_tests.txt
Due: none

Chemistry Molecule Eigensolver English suggestions
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

modify and test quantum volume
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
  tests/notebooks/test_quantum_volume.py
Due: notebook-pre-commit, clean-demo-timeouts

prettify test
  tests/notebooks/test_3sat_oracles.py
Due: none

modify and test deutsch jozsa
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.qmod
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
  tests/notebooks/test_deutsch_jozsa.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

modify and test glued trees
  algorithms/glued_trees/figures/10_qubits.png
  algorithms/glued_trees/figures/20_qubits.png
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/glued_trees/results/10-qubits/2n+0.json
  algorithms/glued_trees/results/10-qubits/2n+10.json
  algorithms/glued_trees/results/10-qubits/2n+12.json
  algorithms/glued_trees/results/10-qubits/2n+2.json
  algorithms/glued_trees/results/10-qubits/2n+4.json
  algorithms/glued_trees/results/10-qubits/2n+6.json
  algorithms/glued_trees/results/10-qubits/2n+8.json
  algorithms/glued_trees/results/10-qubits/2n-10.json
  algorithms/glued_trees/results/10-qubits/2n-12.json
  algorithms/glued_trees/results/10-qubits/2n-2.json
  algorithms/glued_trees/results/10-qubits/2n-4.json
  algorithms/glued_trees/results/10-qubits/2n-6.json
  algorithms/glued_trees/results/10-qubits/2n-8.json
  algorithms/glued_trees/results/20-qubits/2n+0.json
  algorithms/glued_trees/results/20-qubits/2n+10.json
  algorithms/glued_trees/results/20-qubits/2n+12.json
  algorithms/glued_trees/results/20-qubits/2n+2.json
  algorithms/glued_trees/results/20-qubits/2n+4.json
  algorithms/glued_trees/results/20-qubits/2n+6.json
  algorithms/glued_trees/results/20-qubits/2n+8.json
  algorithms/glued_trees/results/20-qubits/2n-10.json
  algorithms/glued_trees/results/20-qubits/2n-12.json
  algorithms/glued_trees/results/20-qubits/2n-2.json
  algorithms/glued_trees/results/20-qubits/2n-4.json
  algorithms/glued_trees/results/20-qubits/2n-6.json
  algorithms/glued_trees/results/20-qubits/2n-8.json
  tests/notebooks/test_glued_trees.py
Due: notebook-pre-commit, clean-demo-timeouts

modify and test grover max cut
  algorithms/grover/grover_max_cut/grover_max_cut.ipynb
  algorithms/grover/grover_max_cut/grover_max_cut.synthesis_options.json
  tests/notebooks/test_grover_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

modify and test qpe on grover
  tests/notebooks/test_qpe_for_grover_operator.py
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

correct deutsch jozsa constraint
  algorithms/deutsch_jozsa/complex_deutsch_jozsa.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/deutsch_jozsa/simple_deutsch_jozsa.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

modify and test qpe on unitary
  tests/notebooks/test_qpe_for_unitary_matrix.py
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

additional cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cr fixes
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Added a notebook for the Quantum Thermal State Preparation algorithm
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  tests/notebooks/test_quantum_thermal_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

fixed typo in link
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

cr fix3
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

update test requirements
  requirements_tests.txt
Due: none

work with pathlib
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add auto_add_tests.py as pre-commit
  .internal/pre_commit_tools/auto_add_tests.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

add test
  tests/notebooks/test_molecule_eigensolver_using_openfermion.py
Due: none

add vqe with of
  applications/chemistry/molecule_eigensolver_using_openfermion/lih.xyz
  applications/chemistry/molecule_eigensolver_using_openfermion/molecule_eigensolver_using_openfermion.ipynb
  applications/chemistry/molecule_eigensolver_using_openfermion/vqe_uccLiH.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

updating images in notebook
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update RNG seed in DQI notebook
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Remove RNG seed in DQI notebook
  algorithms/dqi/dqi_max_xorsat.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update test_notebooks to only run the notebooks that don't have a special test in `tests/notebooks`
  tests/test_notebooks.py
Due: none

typo
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixes
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  tests/notebooks/test_partial_exponential_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

added prepare exponential state partial
  .internal/pre_commit_tools/auto_add_tests.py
  .internal/pre_commit_tools/clean_timeouts.py
  .pre-commit-config.yaml
  applications/finance/autocallable_options/partial_exponential_state_preparation.ipynb
  tests/notebooks/test_partial_exponential_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Fix writing of qprog
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
Due: notebook-pre-commit, clean-demo-timeouts
