Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

add qpe with qubitization including qmod and metadata
  applications/chemistry/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.metadata.json
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.qmod
  applications/chemistry/qpe_with_qubitization/qpe_on_walk_operator.synthesis_options.json
  tests/notebooks/test_qpe_for_molecule_with_qubitization.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added grover mixer qaoa
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.metadata.jsona
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.qmod
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.synthesis_options.json
  tests/notebooks/test_gm_qaoa.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed timeout
  tests/notebooks/test_gm_qaoa.py
Due: none

fixed output
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed gmqaoa test
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.metadata.jsona
  tests/notebooks/test_gm_qaoa.py
Due: none

added metadata
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.metadata.json
Due: none

labs problem with 13 qubits
  applications/optimization/ low_autocorrelation_binary_sequences_problem/evidence_scaling_labs.ipynb
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.metadata.json
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.qmod
  applications/optimization/ low_autocorrelation_binary_sequences_problem/labs_qaoa.qmod.synthesis_options.json
Due: none

added gm-qaoa
  applications/optimization/adaptive_qaoa_lib.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added network traffic optimization
  applications/telecom/network_traffic_optimization/network traffic optimization.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.qmod
  applications/telecom/network_traffic_optimization/network_traffic_optimization.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

add hybrid hhl example
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.metadata.json
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.qmod
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.synthesis_options.json
  tests/notebooks/test_portfolio_optimization_with_hhl.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

quantum image edge detection
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
  tests/notebooks/test_quantum_edge_detection.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add robust posture optimization
  applications/optimization/robust_posture_optimization/posture_optimization.qmod
  applications/optimization/robust_posture_optimization/posture_optimization.synthesis_options.json
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

posture optimization metadata
  applications/optimization/robust_posture_optimization/posture_optimization.metadata.json
  tests/notebooks/test_robust_posture_optimization.py
Due: none

test for evidence labs
  tests/notebooks/evidence_scaling_labs.py
Due: none

removed unecessary files
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.qmod
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.synthesis_options.json
  applications/optimization/adaptive_qaoa_lib.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed git issues
  algorithms/qaoa/grover_mixer_qaoa/gm_qaoa.qmod
Due: qmod-pre-commit, clean-demo-timeouts

added network traffic optimization
  applications/telecom/network_traffic_optimization/network traffic optimization.ipynb
Due: none

added network traffic optimization
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

added image to git
  applications/image_processing/quantum_hadamard_edge_detection/Marina Bay Sands 128.png
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Change pre-commit regex to file .extension$
  .pre-commit-config.yaml
Due: clean-demo-timeouts

correct name of test
  tests/notebooks/test_evidence_scaling_labs.py
Due: none

fix imports
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.ipynb
  applications/finance/hybrid_hhl_for_portfolio_optimization/portfolio_optimization_with_hhl.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add discrete qauntum walk on lattices
  tests/notebooks/test_discrete_time_quantum_walk.py
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.metadata.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/1d_quantumwalk.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.metadata.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.qmod
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/2d_quantumwalk.synthesis_options.json
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added qmod and options
  applications/image_processing/quantum_hadamard_edge_detection/quantum_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.qmod
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified test file
  applications/telecom/network_traffic_optimization/network_traffic_optimization.ipynb
  applications/telecom/network_traffic_optimization/network_traffic_optimization.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add discrete qauntum walk on lattices without unnecessary comments
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified test file and added metadata file
  applications/telecom/network_traffic_optimization/network_traffic_optimization.metadata.json
  tests/notebooks/test_network_traffic_optimization.py
Due: none

added metadata
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.metadata.json
  tests/notebooks/test_quantum_image_edge_detection.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
