Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

enable metadata verification
  .internal/pre_commit_tools/utils_for_metadata.py
  .internal/pre_commit_tools/validate_metadata.py
Due: none

fixup - ignore files for metadata creation
  .internal/pre_commit_tools/validate_metadata.py
Due: none

move single qmods - 1) move the qmods
  algorithms/algebraic/discrete_log/discrete_log.qmod
  algorithms/algebraic/hidden_shift/hidden_shift.qmod
  algorithms/deutsch_jozsa/deutsch_jozsa.qmod
  algorithms/hhl/hhl/hhl.qmod
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.qmod
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/simon/simon.qmod
Due: qmod-pre-commit, clean-demo-timeouts

remove old qmod
  algorithms/qaoa/qaoa_knapsack.qmod
  algorithms/qaoa/qaoa_knapsack.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

move single qmods - 4) move metadata of qmods
  algorithms/algebraic/discrete_log/discrete_log_large.metadata.json
  algorithms/algebraic/hidden_shift/hidden_shift.metadata.json
  algorithms/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/hhl/hhl/hhl.metadata.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/simon/simon.metadata.json
Due: none

update allowed metadata fields
  .internal/pre_commit_tools/utils_for_metadata.py
  algorithms/hhl/hhl/hhl.metadata.json
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.metadata.json
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.metadata.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.metadata.json
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.metadata.json
  applications/optimization/rectangles_packing/rectangles_packing_grid.metadata.json
Due: none

sort metadata when dumping
  .internal/pre_commit_tools/utils_for_metadata.py
  .internal/pre_commit_tools/validate_metadata.py
Due: none

Manual fix for metadata
  algorithms/adapt_vqe/adapt_vqe.metadata.json
  algorithms/algebraic/hidden_shift/hidden_shift.metadata.json
  algorithms/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/hhl/hhl/hhl.metadata.json
  algorithms/qaoa/qaoa.metadata.json
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.metadata.json
  algorithms/simon/simon.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.metadata.json
  applications/cfd/qls_for_hybrid_solvers/qls_qsvt.metadata.json
  applications/optimization/adapt_qaoa/adapt_qaoa.metadata.json
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.metadata.json
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.metadata.json
  tutorials/basic_tutorials/exponentiation/example_exponentiation.metadata.json
  tutorials/basic_tutorials/mcx/mcx.metadata.json
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  tutorials/technology_demonstrations/classiq_paper/qsvt/classiq_qsvt.metadata.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.metadata.json
  tutorials/technology_demonstrations/hhl/hhl_example.metadata.json
  tutorials/technology_demonstrations/oracle_generation/3sat_oracles.metadata.json
  tutorials/technology_demonstrations/qaoa/qaoa_demonstration.metadata.json
  tutorials/technology_demonstrations/qpe/qpe_for_unitary_matrix/qpe_for_unitary_matrix.metadata.json
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.metadata.json
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.metadata.json
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.metadata.json
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.metadata.json
  tutorials/workshops/hhl_workshop/hhl_workshop.metadata.json
Due: none

Manual tag addition for metadata
  algorithms/qml/qgan/qgan_bars_and_strips.metadata.json
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.metadata.json
  applications/chemistry/molecule_eigensolver/molecule_eigensolver.metadata.json
  applications/chemistry/qpe_with_qubitization/qpe_for_molecule_with_qubitization.metadata.json
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.metadata.json
Due: none

move single qmods - 3) rename the generation of qmods
  algorithms/algebraic/discrete_log/discrete_log.ipynb
  algorithms/algebraic/hidden_shift/hidden_shift.ipynb
  algorithms/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/hhl/hhl/hhl.ipynb
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.ipynb
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/simon/simon.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

move single qmods - 2) move the synthesis options
  algorithms/algebraic/discrete_log/discrete_log.synthesis_options.json
  algorithms/algebraic/hidden_shift/hidden_shift.synthesis_options.json
  algorithms/deutsch_jozsa/deutsch_jozsa.synthesis_options.json
  algorithms/hhl/hhl/hhl.synthesis_options.json
  algorithms/qml/quantum_autoencoder/quantum_autoencoder.synthesis_options.json
  algorithms/qpe/qpe_for_matrix/qpe_for_matrix.synthesis_options.json
  algorithms/simon/simon.synthesis_options.json
Due: none

revised qsvm notebook
  algorithms/qml/qsvm/qsvm.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

rebased and removed qmods
  algorithms/qml/qsvm/qsvm.metadata.json
  algorithms/qml/qsvm/qsvm.qmod
  algorithms/qml/qsvm/qsvm.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.metadata.json
Due: qmod-pre-commit, clean-demo-timeouts

updated qsvm test
  tests/notebooks/test_qsvm.py
Due: none

deleted test_qsvm_pauli_feature_map
  tests/notebooks/test_qsvm_pauli_feature_map.py
Due: none

modified qsvm
  algorithms/qml/qsvm/qsvm.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

rename algebraic to number_theory_and_cryptography
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.ipynb
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.synthesis_options.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.metadata.json
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/number_theory_and_cryptography/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.ipynb
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.metadata.json
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.synthesis_options.json
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.metadata.json
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/number_theory_and_cryptography/shor/shor.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate foundational dir
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.metadata.json
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.qmod
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.synthesis_options.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.ipynb
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.metadata.json
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.qmod
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.synthesis_options.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.ipynb
  algorithms/foundational/quantum_teleportation/quantum_teleportation.metadata.json
  algorithms/foundational/quantum_teleportation/quantum_teleportation.qmod
  algorithms/foundational/quantum_teleportation/quantum_teleportation.synthesis_options.json
  algorithms/foundational/simon/simon.ipynb
  algorithms/foundational/simon/simon.metadata.json
  algorithms/foundational/simon/simon.qmod
  algorithms/foundational/simon/simon.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

create and populate search_and_optimization dir
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.ipynb
  algorithms/search_and_optimization/dqi/dqi_max_xorsat.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover_small.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover_small.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_small.synthesis_options.json
  algorithms/search_and_optimization/grover/grover.ipynb
  algorithms/search_and_optimization/grover/grover.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.metadata.json
  algorithms/search_and_optimization/grover/grover_max_cut.qmod
  algorithms/search_and_optimization/grover/grover_max_cut.synthesis_options.json
  algorithms/search_and_optimization/qaoa/grover_mixer_qaoa/gm_qaoa.ipynb
  algorithms/search_and_optimization/qaoa/grover_mixer_qaoa/gm_qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa.ipynb
  algorithms/search_and_optimization/qaoa/qaoa.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.qmod
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
