Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

edits_requested_made
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/BE_Sparse_Classiq.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

edits_requested_made
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/notebooks/test_quantum_walks_via_efficient_blockencoding.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/second_quantized_hamiltonian.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/second_quantized_hamiltonian.synthesis_options.json
  applications/chemistry/molecular_energy_curve/molecular_energy_curve.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/lih.xyz
  applications/chemistry/adapt_vqe_for_energy_curve/second_quantized_hamiltonian.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/second_quantized_hamiltonian.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

initial-commit
  community/paper_implementation_project/management_of_sugarcane_pathogens/qmlpredict.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed quantum counting, shor
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.metadata.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
  algorithms/algebraic/shor/shor_modular_exponentiation.ipynb
  algorithms/algebraic/shor/shor_modular_exponentiation.metadata.json
  algorithms/algebraic/shor/shor_modular_exponentiation.qmod
  algorithms/algebraic/shor/shor_modular_exponentiation.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_iqae.synthesis_options.json
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.qmod
  algorithms/amplitude_estimation/quantum_counting/quantum_counting_qpe.synthesis_options.json
  tests/notebooks/test_shor.py
  tests/notebooks/test_shor_modular_exponentiation.py
  tests/resources/timeouts.yaml
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed test
  algorithms/algebraic/shor/shor.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed test
  tests/notebooks/test_shor.py
Due: none

starting_fresh
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/BE_Sparse_Classiq.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata copy.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.qmod
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/notebooks/test_BE_Sparse_Classiq.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

test_edits
  tests/notebooks/test_BE_Sparse_Classiq.py
Due: none

test_edits
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/BE_Sparse_Classiq.ipynb
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata copy.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/Explicit_quantum_circuits_for_Block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/notebooks/test_BE_Sparse_Classiq.py
Due: notebook-pre-commit, clean-demo-timeouts

fixed timeouts
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.metadata.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/extended_binary_tree_matrix_block_encoding.synthesis_options.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.metadata.json
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.qmod
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/stochastic_bandedcirculant_matrix_block_encoding.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

update missing image & update syntax in monitoring_links nb
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add metadata to maxcut algo
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  algorithms/qaoa/maxcut/qaoa_max_cut.metadata.json
  algorithms/qaoa/maxcut/qaoa_max_cut.qmod
  algorithms/qaoa/maxcut/qaoa_max_cut.synthesis_options.json
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_qaoa_maxcut.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

re-run notebooks
  applications/cybersecurity/link_monitoring/link_monitoring.ipynb
  applications/cybersecurity/link_monitoring/link_monitoring.synthesis_options.json
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix duplication of imports
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix shor write_qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.ipynb
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Cooling system full notebook
  applications/automotive/cooling_systems_optimization/cooling_system.png
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/data/costs.npy
Due: notebook-pre-commit, clean-demo-timeouts

Adding tests including qsvt matrix inversion
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/notebooks/test_cooling_systems_optimization.py
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 4
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 5
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

rm .py file and add .ipynb file
  community/paper_implementation_project/Quantum portfolio Optimization/Quantum Portfolio optimization.py
  community/paper_implementation_project/Quantum portfolio Optimization/Quantum_Portfolio_Optimization.ipynb
Due: none

Addressing all Samimi comments accept using phase
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/notebooks/test_cooling_systems_optimization.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Adding solutions to the notebook
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

federated learning implementation
  community/paper_implementation_project/federated_learning/qfl.py
Due: none

Adding phase function
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
