Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

upgrade-nbformat:
  name: Upgrade notebooks nbformat
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: Strip further stuff from notebooks
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

correct uncomputation issue
  applications/finance/value_at_risk/Persik.metadata.json
  applications/finance/value_at_risk/Persik.qmod
  applications/finance/value_at_risk/Persik.synthesis_options.json
  applications/finance/value_at_risk/value_at_risk.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

support metadata for notebooks
  .github/scripts/join_qmod_metadata.py
Due: none

Add QAOA in QAOA
  applications/optimization/qaoa_in_qaoa/Karina.qmod
  applications/optimization/qaoa_in_qaoa/Karina.synthesis_options.json
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.metadata.json
  tests/notebooks/test_qaoa_in_qaoa.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add value at risk files
  Persik.qmod
  Persik.synthesis_options.json
  value_at_risk.ipynb
  value_at_risk.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add value at risk files
  tests/notebooks/test_value_at_risk.py
Due: none

Add value at risk files
  applications/finance/value_at_risk/Persik.qmod
  applications/finance/value_at_risk/Persik.synthesis_options.json
  applications/finance/value_at_risk/value_at_risk.ipynb
  applications/finance/value_at_risk/value_at_risk.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

15 space
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Add notebook
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

test
  tests/notebooks/test_tensor_hypercontraction.py
Due: none

Json
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.qmod
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

rm wrong test
  tests/notebooks/test_tensor_hypercontraction.py
Due: none

test
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

Link to article no TODO
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.metadata.json
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add more markdowns and png
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/img.png
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

space
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add test
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

Add markdowns
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Run Studio
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

change width
  tests/notebooks/test_brownian_chebyshev_polynomials.py
Due: none

Add QAOA in QAOA
  tests/notebooks/test_qaoa_in_qaoa.py
Due: none

remove qmod due to over 3000 lines of code
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.ipynb
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.metadata.json
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.qmod
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update more timeouts and change 1801 to 1799
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

tensor hypercontraction
  applications/chemistry/tensor_hypercontraction/images/prepare_1.png
  applications/chemistry/tensor_hypercontraction/images/prepare_2.png
  applications/chemistry/tensor_hypercontraction/images/select.png
  applications/chemistry/tensor_hypercontraction/images/walk.png
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.ipynb
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.metadata.json
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.qmod
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.synthesis_options.json
  tests/notebooks/test_tensor_hypercontraction.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Add quantum walk on complex network phase 2
  tutorials/basic_tutorials/quantumwalk_complex_network/dt_quantumwalk_complex_network.synthesis_options.json
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed evidence scaling lab test
  tests/notebooks/test_evidence_scaling_labs.py
Due: none

added adapt qaoa
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.metadata.json
  applications/optimization/adapt_qaoa/adapt_qaoa.qmod
  applications/optimization/adapt_qaoa/adapt_qaoa.synthesis_options.json
  applications/optimization/adaptive_qaoa_lib.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added test
  tests/notebooks/test_adapt_qaoa.py
Due: none

added test
  tests/notebooks/test_adaptive_qaoa_lib.py
Due: none

Add QAOA in QAOA
  applications/optimization/qaoa_in_qaoa/karina.metadata.json
  applications/optimization/qaoa_in_qaoa/karina.qmod
  applications/optimization/qaoa_in_qaoa/karina.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix results and test
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.qmod
  applications/cfd/heat_eq_qsvt/heat_eq_qsvt.synthesis_options.json
  tests/notebooks/test_heat_eq_qsvt.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

format
  tests/notebooks/test_hamming_weights_compilation_workshop.py
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

write qmod added
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.qmod
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights.synthesis_options.json
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

metadata file
  tutorials/workshops/equal_hamming_weights_workshop/hamming_weights_compilation_workshop.metadata.json
Due: none

Path conditions:
  upgrade-nbformat: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  notebook-pre-commit: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: ^\S+\.qmod$, but not: ^\.internal/docs/.*
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: ^\S+\.ipynb$, but not: ^\.internal/docs/.*
