Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, qmod-pre-commit, validate-metadata-file, auto-add-tests

upgrade-nbformat:
  name: format nbformat upgrade
  entry: .internal/pre_commit_tools/set_nbformat.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

extra-nbstripout:
  name: format nbformat strip
  entry: .internal/pre_commit_tools/extra_nbstripout.py
  language: python
  additional_dependencies:
  - nbformat
  require_serial: true

verify-notebook-format-execution-count:
  name: format nbformat execution-count
  language: pygrep
  entry: '"execution_count": -'

verify-platform-links-nightly:
  name: Forbid links to nightly.platform
  language: pygrep
  entry: https://nightly\.platform\.classiq\.io

verify-platform-links-dev:
  name: Forbid links with dev version
  language: pygrep
  entry: '[?&]version=[^ \t\n]*\.dev'

verify-platform-links-old:
  name: Forbid links from older versions
  language: pygrep
  entry: '"Opening:\s+https://'

notebook-pre-commit:
  name: Validate naming notebooks
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Validate naming qmods
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

validate-metadata-file:
  name: Validate Metadata file
  description: Add file if non existant and validate value otherwise
  entry: .internal/pre_commit_tools/metadata_validate.py
  language: python
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

change max_width according to size in quantum walk
  tutorials/technology_demonstrations/classiq_paper/quantum_walk/classiq_discrete_quantum_walk.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change max_width according to size in laplacian be
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix test
  tests/notebooks/test_ND_Laplacian_BE.py
Due: none

change max_width in mcx
  tutorials/basic_tutorials/mcx/mcx.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in grover operator
  functions/qmod_library_reference/classiq_open_library/grover_operator/grover_operator.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in grover
  algorithms/search_and_optimization/grover/grover.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in qsvt
  functions/qmod_library_reference/classiq_open_library/qsvt/qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in poisson solver
  algorithms/quantum_differential_equations_solvers/discrete_poisson_solver/discrete_poisson_solver.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in quantum counting
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

fix max_width to 24 in graph coloring
  tutorials/basic_tutorials/grover_graph_coloring/grover_graph_coloring.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change max width according to problem size in qmci
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in qsvt fixed point
  algorithms/amplitude_amplification_and_estimation/qsvt_fixed_point_amplitude_amplification/qsvt_fixed_point_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

change width constraint to optimization in heat qsvt eq
  applications/CFD/heat_eq_qsvt/heat_eq_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Fix alice and bob
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  tests/notebooks/test__community_and_functions.py
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, notebook-pre-commit, validate-metadata-file, auto-add-tests

reduce max width in rainbow workshop bf
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reduce max width in rainbow bf
  applications/finance/rainbow_options/rainbow_options_bruteforce_method.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

reduce max width in dj
  algorithms/foundational/deutsch_jozsa/deutsch_jozsa.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

listify
  tests/notebooks/test__community_and_functions.py
  tests/test_all_notebooks_are_tested.py
Due: none

Add notebook uniformity report tool
  .internal/notebook_uniformity_report.py
Due: none

Add .internal/conventions resume-kit for the notebook-uniformity effort
  .internal/conventions/README.md
  .internal/conventions/STATUS.md
  .internal/conventions/agents/notebook-heading-hierarchy.md
  .internal/conventions/agents/notebook-math-notation.md
  .internal/conventions/agents/notebook-unicode-cleanup.md
  .internal/conventions/one_off_fixes/analyze_create_model.py
  .internal/conventions/one_off_fixes/check_fences.py
  .internal/conventions/one_off_fixes/collapse_synthesize.py
  .internal/conventions/one_off_fixes/fix_result_value.py
  .internal/conventions/one_off_fixes/fix_single_h1.py
  .internal/conventions/one_off_fixes/h1_outline.py
  .internal/conventions/tools/heading_outline.py
  .internal/conventions/tools/heading_stats.py
  .internal/conventions/tools/math_lint.py
  .internal/conventions/tools/md_replace.py
  .internal/conventions/tools/nonascii.py
  .internal/conventions/tools/unicode_audit.py
Due: none

Enforce result_value() in notebook-uniformity hook
  .internal/pre_commit_tools/notebook_uniformity.py
Due: none

Add notebook-uniformity pre-commit (plural References)
  .internal/pre_commit_tools/notebook_uniformity.py
  .pre-commit-config.yaml
  algorithms/QML/qsvm/qsvm.ipynb
  algorithms/foundational/simon/simon.ipynb
  algorithms/search_and_optimization/grover_mixer_qaoa/gm_qaoa.ipynb
  applications/chemistry/protein_folding/protein_folding_with_quantum_walk/qfold.ipynb
  applications/finance/portfolio_optimization_hhl/HHL_portfolio.ipynb
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
  community/paper_implementation_project/Block_encoding-ND_Laplacian/ND_Laplacian_BE.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Use result_value() instead of result()[0].value
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  applications/image_processing/quantum_hadamard_edge_detection/quantum_image_edge_detection.ipynb
  applications/optimization/qaoa_in_qaoa/qaoa_in_qaoa.ipynb
  community/paper_implementation_project/block_encoding/select_structures_BE.ipynb
  community/paper_implementation_project/explicit_quantum_circuits_for_block_encoding/quantum_walks_via_efficient_blockencoding.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Enforce show(qprog) over qprog.show() in notebook-uniformity hook
  .internal/pre_commit_tools/notebook_uniformity.py
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Repair corrupted accented names in citation references
  algorithms/quantum_differential_equations_solvers/time_marching/time_marching.ipynb
  algorithms/quantum_state_preparation/gibbs/quantum_thermal_state_preparation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Strip whitespace around the opening markdown cell so the H1 title renders
  .internal/pre_commit_tools/extra_nbstripout.py
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.ipynb
  algorithms/quantum_linear_solvers/vqls/vqls_with_lcu.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/max_clique/max_clique.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  applications/optimization/set_cover/set_cover.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  applications/telecom/resiliency_planning/resiliency_planning.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_2nd_place_submission.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/superposition/superposition.ipynb
  community/basic_examples/vqe/vqe.ipynb
  functions/qmod_library_reference/classiq_open_library/hadamard_transform/hadamard_transform.ipynb
  functions/qmod_library_reference/classiq_open_library/qct_qst/qct_qst.ipynb
  functions/qmod_library_reference/classiq_open_library/variational_data_encoding/variational_data_encoding.ipynb
  functions/qmod_library_reference/qmod_core_library/hamiltonian_evolution/suzuki_trotter/suzuki_trotter.ipynb
  tutorials/advanced_tutorials/discrete_quantum_walk_2d/discrete_time_quantum_walk.ipynb
  tutorials/basic_tutorials/optimization/learning_optimization.ipynb
  tutorials/basic_tutorials/qmci_pi_estimation/qmci_pi_estimation.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Accept a leading logo cell before the H1 in the uniformity report
  .internal/notebook_uniformity_report.py
Due: none

Fix three notebook titles: unescape heading, H2 to H1, add missing H1
  applications/plasma/vlasov_ampere/vlasov_ampere_qiskit.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  tutorials/workshops/combinatorial_workshop/combinatorial_qmod_workshop_for_maxcut.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Enforce opening H1 title in notebook-uniformity hook
  .internal/pre_commit_tools/notebook_uniformity.py
Due: none

notebook_uniformity_report: restore fence-fix + list offending vars (points 2/2b)
  .internal/notebook_uniformity_report.py
Due: none

Normalize heading hierarchy in the single-H1 notebooks
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Use a single H1 per notebook (demote section H1s to H2)
  applications/CFD/heat_eq_qsvt/heat_eq_qsvt.ipynb
  applications/chemistry/tensor_hypercontraction/tensor_hypercontraction.ipynb
  applications/cybersecurity/whitebox_fuzzing/whitebox_fuzzing.ipynb
  applications/finance/brownian_chebyshev_polynomials/brownian_chebyshev_polynomials.ipynb
  applications/optimization/adapt_qaoa/adapt_qaoa.ipynb
  applications/optimization/robust_posture_optimization/robust_posture_optimization.ipynb
  applications/telecom/resiliency_planning/resiliency_planning_AMD.ipynb
  community/Hackathons/iQuHack_2025/Challenge/classiq_iQuHack_2025_final.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/our_solution/classiq_iQuHack_2025_final_sol.ipynb
  community/Hackathons/iQuHack_2025/Challenge_solution/winning_solution/classiq_iQuHack_2025_quantum_tree_sol.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  tutorials/technology_demonstrations/arithmetic_expressions/arithmetic_expressions.ipynb
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
  tutorials/workshops/finance_workshops/rainbow_options_workshop_bruteforce.ipynb
  tutorials/workshops/oracle_workshop/oracles_workshop.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Strip opening markdown cell of two rebased notebooks
  applications/optimization/rectangles_packing/rectangles_packing_grid.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
Due: upgrade-nbformat, extra-nbstripout, verify-notebook-format-execution-count, verify-platform-links-nightly, verify-platform-links-dev, verify-platform-links-old, notebook-pre-commit, validate-metadata-file, auto-add-tests

Path conditions:
  upgrade-nbformat: any of: \.ipynb$, but not: ^\.internal/docs/.*
  extra-nbstripout: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-notebook-format-execution-count: any of: \.ipynb$, but not: ^\.internal/docs/.*
  verify-platform-links-nightly: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-dev: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  verify-platform-links-old: any of: \.ipynb$ and not ((^|/)logical_qubits_by_alice_and_bob\.ipynb$) and not (^\.internal/docs/.*)
  notebook-pre-commit: any of: \.ipynb$, but not: ^\.internal/docs/.*
  qmod-pre-commit: any of: \.qmod$, but not: ^\.internal/docs/.*
  validate-metadata-file: any of: \.(qmod|ipynb)$, but not: ^\.internal/docs/.*
  auto-add-tests: any of: \.ipynb$, but not: ^\.internal/docs/.*
