Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

renamed test file
  tests/notebooks/test_hadamard_test_tutorial.py
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
Due: none

updated the readme file
  algorithms/quantum_primitives/readme.md
Due: none

modified hadamard test
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  algorithms/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  algorithms/quantum_primitives/hadamard_test/hadamard_test.qmod
  algorithms/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tests/notebooks/test_hadamard_test_tutorial.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.synthesis_options_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed tests
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tests/notebooks/test_hadamard_test.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed broken link
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Remove old qmod ci actions
  .github/actions/send_qmods_slack_notification/action.yml
  .github/workflows/Test-CI-daily-internal.yml
  .github/workflows/Test-CI-daily-notebooks-algorithms.yml
  .github/workflows/Test-CI-daily-notebooks-applications.yml
  .github/workflows/Test-CI-daily-notebooks-other.yml
  .github/workflows/Test-CI-daily-notebooks-tutorials.yml
Due: none

Move tests/qmods to its own ci workflow
  .github/workflows/Test-CI-main.yml
  .github/workflows/Test-CI-qmod.yml
  tests/config_notebook_execute_tests.ini
Due: none

Unify naming of pre-commit steps
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Move readme resources to .internal
  .internal/README_resources/Execution_Screenshot_3_plus_5.png
  .internal/README_resources/Jobs_Screenshot_3_plus_5.png
  .internal/README_resources/Model_Screenshot_3_plus_5.png
  .internal/README_resources/Program_Screenshot_3_plus_5.png
  .internal/README_resources/classiq-logo.svg
  .internal/README_resources/writing_models.png
  README.md
Due: none

update fix to amd notebook
  tests/notebooks/test_resiliency_planning_AMD.py
  tests/test_all_notebooks_are_tested.py
Due: none

delete me
  .github/workflows/Test-CI-main.yml
Due: none

delete me
  algorithms/foundational/bernstein_vazirani/bernstein_vazirani.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

replace checkout code in CI
  .github/workflows/Test-CI-main.yml
Due: none

add qdo notebook
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.metadata.json
  tests/notebooks/test_quantum_drude_oscillator.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add qw_fmo notebook
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.metadata.json
  tests/notebooks/test_quantum_walk_fmo.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

change test expected_depth
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  tests/notebooks/test_quantum_drude_oscillator.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

run pre-commit
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.metadata.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fix url in qw_fmo notebook
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update qw_fmo notebook and test
  applications/chemistry/quantum_walk_fmo/quantum_walk_fmo.ipynb
  tests/notebooks/test_quantum_walk_fmo.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update caching
  .github/workflows/Test-CI-main.yml
Due: none

Update pytest config to be relative to rootdir
  .github/workflows/Test-CI-main.yml
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

move aws CI step near where it's needed
  .github/workflows/Test-CI-main.yml
Due: none

add fix to pytest rootdir typo
  .github/workflows/Test-CI-main.yml
Due: none

Speedup test to cache rglob once
  tests/test_all_notebooks_are_tested.py
Due: none

change qdo notebook and test (fix ongoing)
  applications/chemistry/quantum_drude_oscillator/quantum_drude_oscillator.ipynb
  tests/notebooks/test_quantum_drude_oscillator.py
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update quantumwalk complex notebook.
  tutorials/basic_tutorials/quantumwalk_complex_network/quantumwalk_complex_network.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
