Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

Update README: Update getting-started link
  README.md
Due: none

Update README: Update example to use `synthesize(main)` directly
  README.md
Due: none

Update README: Update example execution syntax
  README.md
Due: none

Update README: Update example execution output to DataFrame
  README.md
Due: none

Update README: Update example title
  README.md
Due: none

Update README: Shorten example import
  README.md
Due: none

Update README: Rename example functions to 'prepare' to follow the naming of 'state preparation'
  README.md
Due: none

Update README: Rename example variable to 'var' to avoid 'X(x)' confusion
  README.md
Due: none

Update README: Rename example comment
  README.md
Due: none

Update README: Update text
  README.md
Due: none

Update README: Link to state preparation docs
  README.md
Due: none

Update test_elliptic_curve_discrete_log.py
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

Fixing typos
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Updating synthesis tutorial to include some visualization features
  tutorials/basic_tutorials/the_classiq_tutorial/synthesis_tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Update README: Add DOI
  README.md
Due: none

Update README.md
  README.md
Due: none

Updating Hamiltonian syntax
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Format and update ecdlp files and test_elliptic_curve_discrete_log.py
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Format and update all files in ecdlp folder
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Format and update ecdlp files after recent changes
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Uploading challenge notebook files
  tutorials/basic_tutorials/qGAN-state-prep/README.md
  tutorials/basic_tutorials/qGAN-state-prep/Solution/README.md
  tutorials/basic_tutorials/qGAN-state-prep/Solution/qGAN_challenge_solution.ipynb
  tutorials/basic_tutorials/qGAN-state-prep/dependencies/README.md
  tutorials/basic_tutorials/qGAN-state-prep/dependencies/qGAN.py
  tutorials/basic_tutorials/qGAN-state-prep/qGAN_challenge.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Updated qGAN_challenge.ipynb
  tutorials/basic_tutorials/qGAN-state-prep/qGAN_challenge.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

rebasing branch with small edits
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

added uncomputationl catagories and some more small fixes to the notebook
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

further changes to elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update ecdlp notebook and related files
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

update ecdlp notebook based on Or S remarks
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
  algorithms/algebraic/ecdlp/modular_arithmetic.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fix t0 again....
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

changed post processing to be similar to discrete_log notbook, changed main_ecdlp function name, fixed refrences and wordings
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.ipynb
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.qmod
  algorithms/algebraic/ecdlp/elliptic_curve_discrete_log.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

Format and update test_elliptic_curve_discrete_log.py
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

update test file after rebase
  tests/notebooks/test_elliptic_curve_discrete_log.py
Due: none

update timeouts for ecdlp notebook
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
  auto-add-tests: any of: ^\S+\.ipynb$
