Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Stabilize test_links
  tests/test_links.py
Due: none

delete me
  tests/notebooks/test_bernstein_vazirani.py
Due: none

Send changed test files to the tests
  .github/workflows/Test-CI-main.yml
Due: none

Invoke tests based on changed tests
  tests/utils_for_tests.py
Due: none

Adding paper implementation: Quantum State Preparation without Coherent Arithmetic
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, clean-demo-timeouts

Use x.size
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix link
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

\ket{xxx} -> |xxx\rangle
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Change timeout
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  tests/notebooks/test_stateprep_guassian_using_qsvt.py
Due: none

Merge notebooks
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image1.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/attachment/image2.png
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add timeout
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.metadata.json
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Fix path err
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Apply reviews
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.qmod
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix images
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixed figure numbering
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

remove duplicate test
  tests/all_notebooks/test_notebooks.py
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

Update part5_grover.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Don't force tests on certain notebooks
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Update tests
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/notebooks/test_hamiltonian_evolution.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Enforce pre-commit in CI
  .github/workflows/Lint.yml
Due: none

Apply pre-commit hooks
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/finance/autocallable_options/quantum_autocallable_option_pricing.ipynb
  applications/logistics/traveling_salesman_problem/traveling_salesman_problem.ipynb
  applications/optimization/set_partition/set_partition.ipynb
  community/Hackathons/QInnovision_2025/advection_equation/advection_equation_winning_submission.ipynb
  community/QClass_2024/Algorithm_Implementation/qnn_for_XOR_problem_Claudia_Zendejas_Morales.ipynb
  community/basic_examples/hw_aware_synthesis/hw_aware_synthesis.ipynb
  community/basic_examples/logical_qubits/logical_qubits_by_alice_and_bob.ipynb
  community/basic_examples/superposition/superposition.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/quantum_algo_for_solving_linear_differential_equations/harmonic_oscillator.ipynb
  functions/qmod_library_reference/classiq_open_library/qpe/qpe.ipynb
  tests/notebooks/test_hamiltonian_evolution.py
  tests/resources/timeouts.yaml
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/hamiltonian_evolution/hamiltonian_evolution.ipynb
  tutorials/technology_demonstrations/qpe/qpe_for_grover_operator/qpe_for_grover_operator.ipynb
  tutorials/workshops/finance_workshops/Option_Pricing_Workshop.ipynb
  tutorials/workshops/finance_workshops/Qmod_workshop4finance.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_Inequality_constriants_PO.ipynb
  tutorials/workshops/finance_workshops/combi_workshop_equality_constriants_PO.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Run pre-commit on updates
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Revert "remove duplicate test"
  tests/all_notebooks/test_notebooks.py
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
Due: none

Move test community and functions
  tests/config_notebook_execute_tests.ini
  tests/config_quick_tests.ini
  tests/notebooks/test__community_and_functions.py
  tests/utils_for_tests.py
Due: none

Clean validate_quantum_program_size with compare_to
  tests/utils_for_testbook.py
Due: none

Add tb.ref_pydantic
  tests/utils_for_testbook.py
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
