Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0
  require_serial: true

auto-add-tests:
  name: Auto add test
  description: Automatically adding a test to new notebooks
  entry: .internal/pre_commit_tools/auto_add_tests.py
  language: python
  require_serial: true

English suggestions for Task Scheduling
  applications/logistics/task_scheduling_problem/task_scheduling_problem.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for portfolio optimization
  applications/finance/portfolio_optimization/portfolio_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Including classiq_tutorial on paths_for_docs
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

Update README.md
  README.md
Due: none

Add test of specific notebook
  .github/workflows/Test-CI-daily-notebooks-alice-and-bob.yml
  tests/notebooks/test__alice_and_bob.py
Due: none

English suggestions for Electric Grid
  applications/optimization/electric_grid_optimization/electric_grid_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed failing notebooks
  tests/notebooks/test_mcx.py
  tests/resources/timeouts.yaml
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
  tutorials/basic_tutorials/mcx/mcx.ipynb
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_cx.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_depth.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_14_ctrl_hardware.synthesis_options.json
  tutorials/basic_tutorials/mcx/mcx_50_ctrl.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

English suggestions for Integer Programming
  applications/optimization/integer_linear_programming/integer_linear_programming.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

fixed missing import
  tests/notebooks/test_mcx.py
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

missing constraints
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Apply cleanups enabled by version 0.91
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Modify exercise 6A, and fix a couple of glitches
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_I.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Improve explanation of hard-constraints
  tutorials/workshops/algo_design_QCE_tutorial/algo_design_QCE_tutorial_part_II.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Simplify path handling
  algorithms/glued_trees/glued_trees.ipynb
  algorithms/qml/hybrid_qnn/hybrid_qnn_for_subset_majority.ipynb
  algorithms/qml/qgan/qgan_bars_and_strips.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/chemistry/classiq_chemistry_application/classiq_chemistry_application.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
  tutorials/technology_demonstrations/qaoa/qaoa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Bump width/depth tests
  tests/notebooks/test_3_sat_grover.py
  tests/notebooks/test_hardware_aware_mcx.py
  tests/notebooks/test_hidden_shift.py
  tests/notebooks/test_ising_model.py
  tests/notebooks/test_patch_min_vertex_cover.py
  tests/notebooks/test_shor.py
Due: none

fixed hhl lanchester test
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  tests/notebooks/test_hhl_lanchester.py
  tests/notebooks/test_high_level_modeling_flexible_qpe.py
  tutorials/advanced_tutorials/high_level_modeling_flexible_qpe/high_level_modeling_flexible_qpe.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Skip test of specific notebook
  tests/notebooks/test__community_and_functions.py
Due: none

Change workflow to get amount of changed notebooks to not require checkout
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Add debug prints
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

delete me
  algorithms/algebraic/hidden_shift/hidden_shift_new.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  algorithms/bernstein_vazirani/bernstein_vazirani_moved.ipynb
Due: notebook-pre-commit, clean-demo-timeouts, auto-add-tests

delete me
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

fixed threshold hhl lanchester
  tests/notebooks/test_hhl_lanchester.py
Due: none

Add permissions to labeler
  .github/workflows/Notification-detect-new-notebooks.yml
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
  auto-add-tests: any of: ^\S+\.ipynb$
