Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

revised the readme file after review
  algorithms/quantum_state_preparation/readme.md
Due: none

completed quantum differential equation solvers
  algorithms/newReadMes.md
Due: none

completed intros for the folders
  algorithms/newReadMes.md
Due: none

modified the main readme file
  algorithms/README.md
Due: none

added newReadMes file
  algorithms/newReadMes.md
Due: none

completed search and optimization, quantum primatives and QPE algorithms
  algorithms/newReadMes.md
Due: none

added readme files to all the folders
  algorithms/amplitude_amplification_and_estimation/readme.md
  algorithms/foundational/readme.md
  algorithms/hamiltonian_simulation/readme.md
  algorithms/newReadMes.md
  algorithms/number_theory_and_cryptography/readme.md
  algorithms/qml/readme.md
  algorithms/quantum_differential_equations_solvers/readme.md
  algorithms/quantum_linear_solvers/readme.md
  algorithms/quantum_phase_estimation/readme.md
  algorithms/quantum_primitives/readme.md
  algorithms/quantum_state_preparation/readme.md
  algorithms/quantum_walks/readme.md
  algorithms/search_and_optimization/readme.md
Due: none

updated readme file, completed qml and number theoretic algos
  algorithms/newReadMes.md
Due: none

completed quantum linear solvers
  algorithms/newReadMes.md
Due: none

updated newReadMe
  algorithms/newReadMes.md
Due: none

replace reflect_about_zero in walk operators in notebooks
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

modified qml readme
  algorithms/qml/readme.md
Due: none

revised the readme file after review
  algorithms/amplitude_amplification_and_estimation/readme.md
  algorithms/foundational/readme.md
  algorithms/hamiltonian_simulation/readme.md
  algorithms/number_theory_and_cryptography/readme.md
  algorithms/qml/readme.md
  algorithms/quantum_differential_equations_solvers/readme.md
  algorithms/quantum_linear_solvers/readme.md
  algorithms/quantum_phase_estimation/readme.md
  algorithms/quantum_state_preparation/readme.md
  algorithms/quantum_walks/readme.md
  algorithms/search_and_optimization/readme.md
Due: none

fixed a bug
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
  applications/cfd/qls_for_hybrid_solvers/qls_chebyshev_lcu.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_using_qsvt.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

renamed hadamard test in tutorial
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.qmod
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

modified hadamard test
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  algorithms/quantum_primitives/hadamard_test/hadamard_test.metadata.json
  algorithms/quantum_primitives/hadamard_test/hadamard_test.qmod
  algorithms/quantum_primitives/hadamard_test/hadamard_test.synthesis_options.json
  tests/notebooks/test_hadamard_test_tutorial.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.synthesis_options_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

fixed tests
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tests/notebooks/test_hadamard_test.py
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test.metadata_tutorial.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.metadata.json
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.synthesis_options.json
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

updated the readme file
  algorithms/quantum_primitives/readme.md
Due: none

fixed hadamard test tutorial test
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
Due: none

renamed test file
  tests/notebooks/test_hadamard_test_tutorial.py
  tests/notebooks/workshops/test_hadamard_test_tutorial.py
Due: none

fixed broken link
  algorithms/quantum_primitives/hadamard_test/hadamard_test.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test_tutorial/hadamard_test_tutorial.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
