Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

QSVM_implementation
  community/paper_implementation_project/enhancing_genomics/Classiq challenge (1).ipynb
Due: none

Solving Pycharm notebook bug
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

2done
  algorithms/joint_encryption/tests/test_joint_encryption.py
Due: none

first
  community/classiq_challenge_qaoa/quantum_classical_qaoa.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Update test_pre_commit.py
  tests/internal/test_pre_commit.py
Due: none

With improved accuracy
  community/paper_implementation_project/enhancing_genomics/Classiq challenge (1).ipynb
  community/paper_implementation_project/enhancing_genomics/Classiq_challenge.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding expected with and change hamiltonian function name to polynomial expression
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/notebooks/test_cooling_systems_optimization.py
Due: notebook-pre-commit, clean-demo-timeouts

Adding tests including qsvt matrix inversion
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/notebooks/test_cooling_systems_optimization.py
Due: notebook-pre-commit, clean-demo-timeouts

Adding phase function
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding solutions to the notebook
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Addressing all Samimi comments accept using phase
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  tests/notebooks/test_cooling_systems_optimization.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Cooling system full notebook
  applications/automotive/cooling_systems_optimization/cooling_system.png
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/automotive/cooling_systems_optimization/data/costs.npy
Due: notebook-pre-commit, clean-demo-timeouts

Update Shor Qmod files
  algorithms/algebraic/shor/doubly_controlled_modular_adder.qmod
  algorithms/algebraic/shor/doubly_controlled_modular_adder.synthesis_options.json
  algorithms/algebraic/shor/shor.qmod
  algorithms/algebraic/shor/shor.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Change max timing to 1800
  tests/notebooks/test_cooling_systems_optimization.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Change to inline figure
  applications/automotive/cooling_systems_optimization/cooling_system.png
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 6
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 7
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 8
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 8
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE 9
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 10
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 11
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 12
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 13
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 14
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 15
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 16
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 17
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 18
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 19
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Implementation of qubit-adaptVQE 20
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Remove generative=True
  algorithms/algebraic/shor/shor.ipynb
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  tutorials/classiq_101/classiq_concepts/design/classical_variables_and_operations/classical_variables_and_operations.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix notebook bug
  applications/automotive/cooling_systems_optimization/cooling_systems_optimization.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Implementation of qubit-adaptVQE v2 1
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: qmod-pre-commit, clean-demo-timeouts
