Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
exclude: '^\.internal/docs/.*' # exclude docs from pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: upgrade-nbformat
        name: Upgrade notebooks nbformat
        entry: .internal/pre_commit_tools/set_nbformat.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true
      - id: extra-nbstripout
        name: Strip further stuff from notebooks
        entry: .internal/pre_commit_tools/extra_nbstripout.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "nbformat"
        require_serial: true

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        args:
          [
            --keep-output,
            --keep-count,
            --drop-empty-cells,
            --keep-metadata-keys=cell.metadata.scrolled,
          ]

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"
        require_serial: true
      - id: auto-add-tests
        name: Auto add test
        description: Automatically adding a test to new notebooks
        entry: .internal/pre_commit_tools/auto_add_tests.py
        language: python
        files: ^\S+\.ipynb$
        require_serial: true

Beautify tanh piecewise-linear approximation
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Rename grover example and add synth options file
  algorithms/search_and_optimization/grover/3_sat_grover.metadata.json
  algorithms/search_and_optimization/grover/3_sat_grover.qmod
  algorithms/search_and_optimization/grover/3_sat_grover.synthesis_options.json
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Fix CR comments
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_large.qmod
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.qmod
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Remove 'write_qmod' calls for modified qmods
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.ipynb
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.ipynb
  algorithms/search_and_optimization/grover/grover.ipynb
  algorithms/search_and_optimization/qaoa/qaoa.ipynb
  tutorials/advanced_tutorials/linear_approximation_of_tanh/tanh.qmod
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts, auto-add-tests

add thumbnail path to qlsp-aqc metadatafile
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.metadata.json
Due: none

update qpe with qubitization example
  algorithms/quantum_phase_estimation/qpe_with_qubitization/qpe_for_molecule_with_qubitization.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

Beautify 4 qmods (switch 3-sat grover from small to large)
  algorithms/amplitude_amplification_and_estimation/qmc_user_defined/qmc_user_defined.qmod
  algorithms/quantum_phase_estimation/qpe_for_matrix/qpe_for_matrix.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_large.qmod
  algorithms/search_and_optimization/grover/3_sat_grover_small.qmod
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_max_cut.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Add the missing QAOA knapsack example
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.metadata.json
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.qmod
  algorithms/search_and_optimization/qaoa/qaoa_knapsack.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

Beautify grover-max-cut example
  algorithms/search_and_optimization/grover/grover_max_cut.qmod
Due: qmod-pre-commit, clean-demo-timeouts

added newReadMes file
  algorithms/newReadMes.md
Due: none

cr fixes
  algorithms/quantum_linear_solvers/hhl/hhl.qmod
Due: qmod-pre-commit, clean-demo-timeouts

rm write qmod
  algorithms/quantum_linear_solvers/hhl/hhl.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add standalone hhl qmod
  algorithms/quantum_linear_solvers/hhl/hhl.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Allow replacing notebooks variables
  tests/utils_for_testbook.py
Due: none

Allow replacing notebooks content pre-test
  tests/utils_for_testbook.py
Due: none

updated newReadMe
  algorithms/newReadMes.md
Due: none

Patch allow 'thumbnail' field
  .internal/pre_commit_tools/validate_metadata.py
Due: none

improve simon's algorithm
  algorithms/foundational/simon/simon.qmod
Due: qmod-pre-commit, clean-demo-timeouts

swap test pretty qmod native
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

discrete log native
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

remove write_qmod from files
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  algorithms/quantum_primitives/swap_test/swap_test.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

discrete log add ons
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

hidden shift new native
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
Due: qmod-pre-commit, clean-demo-timeouts

native shor with comments
  algorithms/number_theory_and_cryptography/shor/shor.qmod
Due: qmod-pre-commit, clean-demo-timeouts

cr fix
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

lint
  algorithms/foundational/simon/simon.qmod
  algorithms/number_theory_and_cryptography/shor/shor.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fix lint
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
Due: qmod-pre-commit, clean-demo-timeouts

fix comments after cr
  algorithms/foundational/simon/simon.qmod
  algorithms/number_theory_and_cryptography/discrete_log/discrete_log.qmod
  algorithms/number_theory_and_cryptography/hidden_shift/hidden_shift.qmod
  algorithms/number_theory_and_cryptography/shor/shor.qmod
  algorithms/quantum_primitives/swap_test/swap_test.qmod
Due: qmod-pre-commit, clean-demo-timeouts

Update solving_qlsp_with_aqc.metadata.json
  algorithms/quantum_linear_solvers/adiabatic_linear_solvers/solving_qlsp_with_aqc.metadata.json
Due: none

Replace "count" with "counts"
  algorithms/number_theory_and_cryptography/elliptic_curves/elliptic_curve_discrete_log.ipynb
  algorithms/number_theory_and_cryptography/shor/shor.ipynb
  functions/qmod_library_reference/classiq_open_library/amplitude_amplification/exact_amplitude_amplification.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

add jacobi anger and qsp functions in notebooks
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
  algorithms/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  applications/cfd/double_slit_experiment/quantum_double_slit_experiment.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests

removed write_qmod
  algorithms/amplitude_amplification_and_estimation/quantum_counting/quantum_counting.ipynb
Due: upgrade-nbformat, extra-nbstripout, notebook-pre-commit, clean-demo-timeouts, auto-add-tests
