Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Update test - rectangles_packing_grid
  tests/notebooks/test_rectangles_packing_grid.py
Due: none

Add warnings for validations on non-transpiled circuits
  tests/utils_for_testbook.py
Due: none

test
  algorithms/bernstein_vazirani/bernstein_vazirani.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

test
  hack
Due: none

Update test - discrete_quantum_walk_circle
  tests/notebooks/test_discrete_quantum_walk_circle.py
  tests/utils_for_testbook.py
  tutorials/technology_demonstrations/discrete_quantum_walk_circle/discrete_quantum_walk_circle.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add '
  .github/workflows/Test-CI-main.yml
Due: none

fix add '
  .github/workflows/Test-CI-main.yml
Due: none

Update test - hhl_lanchester
  algorithms/differential_equations/hhl_lanchester/hhl_lanchester.ipynb
  tests/notebooks/test_hhl_lanchester.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - qaoa_max_cut
  algorithms/qaoa/maxcut/qaoa_max_cut.ipynb
  tests/notebooks/test_qaoa_max_cut.py
Due: notebook-pre-commit, clean-demo-timeouts

Update test - rainbow_options_direct_method
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

Update test - time_marching
  algorithms/differential_equations/time_marching/time_marching.ipynb
  tests/notebooks/test_time_marching.py
Due: notebook-pre-commit, clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
Due: none

fix tests
  tests/notebooks/test_qaoa_max_cut.py
Due: none

rebase fix
  applications/finance/rainbow_options/rainbow_options_direct_method.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix auto_add_tests old syntax
  .internal/pre_commit_tools/auto_add_tests.py
Due: none

Fix test name
  tests/internal/test_pre_commit.py
Due: none

Improve is_valid_qmod error message
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
  tests/internal/test_pre_commit.py
Due: none

Forbid space in file names
  .internal/pre_commit_tools/notebook_pre_commit_collection.py
  .internal/pre_commit_tools/qmod_pre_commit_collection.py
Due: none

Expand error message on notebook without test
  tests/test_all_notebooks_are_tested.py
Due: none

Use image wildcard instead of explicit names
  .internal/paths_for_docs.yaml
Due: clean-demo-timeouts

fix tests
  tests/notebooks/test_qaoa_max_cut.py
  tests/notebooks/test_rainbow_options_direct_method.py
  tests/utils_for_testbook.py
Due: none

Documented and improved classical shadows on correct branch.
  community/paper_implementation_project/classical_shadows/classical_shadows.ipynb
  community/paper_implementation_project/classical_shadows/classical_shadows.metadata.json
  community/paper_implementation_project/classical_shadows/classical_shadows.qmod
  community/paper_implementation_project/classical_shadows/classical_shadows.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Explicitly test for image wildcard
  tests/internal/test_paths_for_docs.py
Due: none

added max induced coloring
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.qmod
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.qmod
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.synthesis_options.json
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  tutorials/basic_tutorials/hamiltonian_simulation/hamiltonian_simulation_with_block_encoding/hamiltonian_simulation_with_block_encoding.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fixed url
  .internal/url_allow_list.txt
Due: none

fixed small error in kidney notebook
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Addressing Matan's comments
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.ipynb
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2.synthesis_options.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.metadata.json
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.qmod
  tutorials/basic_tutorials/the_classiq_tutorial/execution_tutorial_part2_bell.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Remove IBM references
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

added max induced coloring
  applications/optimization/kidney_exchange/kidney_exchange_problem.ipynb
  applications/optimization/kidney_exchange/kidney_exchange_problem.qmod
  applications/optimization/kidney_exchange/kidney_exchange_problem.synthesis_options.json
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.ipynb
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.qmod
  applications/optimization/max_induced_k_color_subgraph/max_induced_k_color_subgraph.synthesis_options.json
  applications/optimization/min_graph_coloring/min_graph_coloring.ipynb
  tutorials/basic_tutorials/quantum_primitives/hadamard_test/hadamard_test.ipynb
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
