Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

.pre-commit-config.yaml:

default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.8.4
    hooks:
      - id: nbqa-isort

  - repo: local
    hooks:
      - id: notebook-pre-commit
        name: Notebook pre commit collection
        description: Ensure notebooks conventions
        entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
        language: python
        files: ^\S+\.ipynb$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: qmod-pre-commit
        name: Qmod pre commit collection
        description: Ensure qmods conventions
        entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
        language: python
        files: ^\S+\.qmod$
        additional_dependencies:
          - "pyyaml==6.0"
      - id: clean-demo-timeouts
        name: Clean demo timeouts
        description: Remove unexisting entries and verify unique keys
        entry: .internal/pre_commit_tools/clean_timeouts.py
        language: python
        files: ^\S+\.(qmod|ipynb|yaml)$
        additional_dependencies:
          - "pyyaml==6.0"

Testing if the code compiles 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Testing if the code compiles 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Testing if the code compiles. Now with tests!
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Testing if the code compiles. Now with tests! 2
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Testing if the code compiles. Now with tests! 3
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Testing if the code compiles. Now with tests! 4
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Testing if the code compiles. Now with tests! 5
  tests/notebooks/test_adapt_vqe_energy_curve.py
Due: none

Testing if the code compiles. Now with tests! 6
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

QSVM minor corrections
  algorithms/qml/qsvm/qsvm.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Quantum volume English suggestions
  applications/benchmarking/quantum_volume/quantum_volume.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fixed few notebooks tests
  applications/benchmarking/randomized_benchmarking/randomized_benchmarking.ipynb
  tests/notebooks/test_hhl_example.py
  tests/notebooks/test_randomized_benchmarking.py
  tests/resources/timeouts.yaml
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx.ipynb
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_all_to_all.synthesis_options.json
  tutorials/technology_demonstrations/hardware_aware_mcx/hardware_aware_mcx_linear.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Oblivious Amplitude Amplification: Fixing a few typos Closes Issue #919
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

comment authenticate for testing
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

comment authenticate for testing 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

comment authenticate for testing 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

comment authenticate for testing 4
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

revision of notebook
  applications/chemistry/adapt_vqe_for_energy_curve/README
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

revision of notebook 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

revision of notebook 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

revision of notebook 4
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

revision of notebook 5
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_for_energy_curve.json
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_for_energy_curve.json~
Due: notebook-pre-commit, clean-demo-timeouts

remove hardcoded bases
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

intial commit
  algorithms/joint_encryption/joint_encryption.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add display function
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

increase timeout for notebook
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Modify tests
  algorithms/bb84/test_bb84_implementation.py
Due: none

add timeout for qmod file
  algorithms/bb84/test_bb84_implementation.py
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Fix loading of synthesis results into a QuantumProgram in test utils
  tests/utils_for_testbook.py
Due: none

fixed qml notebook
  tutorials/basic_tutorials/qml_with_classiq_guide/qml_with_classiq_guide.ipynb
  tutorials/basic_tutorials/qml_with_classiq_guide/qnn_with_pytorch.synthesis_options.json
  tutorials/basic_tutorials/qml_with_classiq_guide/vqe_primitive.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

removed duplicate bv tutorial
  tests/notebooks/test_bernstein_vazirani_tutorial.py
  tests/resources/timeouts.yaml
  tutorials/basic_tutorials/bernstein_vazirani/bernstein_vazirani_tutorial.ipynb
  tutorials/basic_tutorials/bernstein_vazirani/bv_tutorial.qmod
  tutorials/basic_tutorials/bernstein_vazirani/bv_tutorial.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Revert "Pin osqp version"
  requirements_tests.txt
Due: none
