Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

Revert "Pin qiskit version for tests"
  requirements_tests.txt
Due: none

Revert "Update generative models write_qmod"
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "Increase demo time"
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Revert "Revert "Update generative models write_qmod""
  algorithms/aqc/solving_qlsp/solving_qlsp_with_aqc.ipynb
  algorithms/dqi/dqi_max_xorsat.ipynb
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.ipynb
  applications/finance/credit_card_fraud/credit_card_fraud.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Revert "Revert "Update Qmod files""
  algorithms/dqi/dqi_max_xorsat.qmod
  algorithms/dqi/dqi_max_xorsat.synthesis_options.json
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.qmod
  algorithms/qml/qsvm_pauli_feature_map/qsvm_pauli_feature_map.synthesis_options.json
  applications/finance/credit_card_fraud/credit_card_fraud.qmod
  applications/finance/credit_card_fraud/credit_card_fraud.synthesis_options.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

change: remove qmod files
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_100.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_100.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_20.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_20.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_200.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_200.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_2614.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_361.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_361.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_4.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_4.synthesis_options.json
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_981.qmod
  community/paper_implementation_project/bpde/bpde_suzuki_trotter_reps_981.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

change: add BPDE notebook to paper implementation challenge
  community/paper_implementation_project/bpde/bpde.ipynb
  community/paper_implementation_project/bpde/bpde.metadata.json
  community/paper_implementation_project/bpde/bpde.qmod
  community/paper_implementation_project/bpde/bpde.synthesis_options.json
  tests/notebooks/test_bpde.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Revert "Revert "Pin qiskit version for tests""
  requirements_tests.txt
Due: none

Initial shadows notebook
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements.ipynb
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements.metadata.json
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements.qmod
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements.synthesis_options.json
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/scratch.ipynb
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/tutorial.ipynb
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

removed accidental files
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/scratch.ipynb
  algorithms/Predicting_Many_Properties_of_a_Quantum_System_from_Very_Few_Measurements/tutorial.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Refine the comments & explanations
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add basic implementation of bb84 protocol for encryption
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add tests
  algorithms/bb84/test_bb84_implementation.py
Due: none

modify tests
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, clean-demo-timeouts

add review comments
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

remove irrelevant content
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add markdowns
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add CI checks
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.metadata.json
  algorithms/bb84/bb84_implementation.qmod
  algorithms/bb84/bb84_implementation.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

add display function
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

remove hardcoded bases
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Modify tests
  algorithms/bb84/test_bb84_implementation.py
Due: none

add timeout for qmod file
  algorithms/bb84/test_bb84_implementation.py
Due: none

Fix review comments - modularize the main func & adding ref
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.qmod
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

fix sampledState measurement error
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

remove display function
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

Refactor to use SIZE instead of 8
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

fix review comments
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, clean-demo-timeouts

add the quantum circuit image
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
Due: notebook-pre-commit, clean-demo-timeouts

modify images to latex and text
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

move the contribution to community/paper_impl dir
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
  community/paper_implementation_project/bb84/bb84_implementation.metadata.json
  community/paper_implementation_project/bb84/bb84_implementation.qmod
  community/paper_implementation_project/bb84/bb84_implementation.synthesis_options.json
  community/paper_implementation_project/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add comments regarding the hash function
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Added text to explain the bb84 function
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fixed the latex notation from small letters to capital
  community/paper_implementation_project/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

add timeout for files removed during conflict resolve
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Update timeouts.yaml
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
