Repository Classiq/classiq-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

notebook-pre-commit:
  name: Notebook pre commit collection
  description: Ensure notebooks conventions
  entry: .internal/pre_commit_tools/notebook_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

qmod-pre-commit:
  name: Qmod pre commit collection
  description: Ensure qmods conventions
  entry: .internal/pre_commit_tools/qmod_pre_commit_collection.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

clean-demo-timeouts:
  name: Clean demo timeouts
  description: Remove unexisting entries and verify unique keys
  entry: .internal/pre_commit_tools/clean_timeouts.py
  language: python
  additional_dependencies:
  - pyyaml==6.0

remove irrelevant content
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Adding paper implementation: Quantum State Preparation without Coherent Arithmetic
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n6_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n7_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.5.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate1.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/stateprep_guassian_n8_rate2.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/utils.py
Due: notebook-pre-commit, clean-demo-timeouts

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Fix number
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitude.ipynb
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/finding_exact_amplitue.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Fix link
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/README.md
Due: none

Fix path err
  community/paper_implementation_project/quantum_state_preparation_without_coherent_arithmetic/materials/pyqsp_gaussian.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Pin osqp version due to https://github.com/osqp/osqp/issues/728
  requirements_tests.txt
Due: none

Added a notebook for the Quantum Thermal State Preparation algorithm
  algorithms/gibbs/quantum_thermal_state_preparation.ipynb
  tests/notebooks/test_quantum_thermal_state_preparation.py
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, clean-demo-timeouts

Adding best and new version of code
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/backup/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/backup/flexible_qpe_model.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/molecular_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Removing other codes
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.metadata.json
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  applications/chemistry/adapt_vqe_for_energy_curve/backup/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/backup/flexible_qpe_model.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/molecular_energy_curve.synthesis_options.json
  applications/chemistry/adapt_vqe_for_energy_curve/qiskit_results/build.py
  applications/chemistry/adapt_vqe_for_energy_curve/qiskit_results/test.py
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.ipynb
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.synthesis_options.json
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

building adapt VQE code
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/qpe_for_molecules.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

building adapt VQE code 2
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

building adapt VQE code 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.qmod
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: qmod-pre-commit, clean-demo-timeouts

building adapt VQE code 3
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: none

Clean up workbooks
  tutorials/classiq_101/getting_started/part1_arithmetic.ipynb
  tutorials/classiq_101/getting_started/part2_state_preparation.ipynb
  tutorials/classiq_101/getting_started/part3_deutsch_jozsa.ipynb
  tutorials/classiq_101/getting_started/part4_ghz_state.ipynb
  tutorials/classiq_101/getting_started/part5_grover.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Glued Trees English suggestions
  algorithms/glued_trees/glued_trees.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Add auto_add_tests.py as pre-commit
  .internal/pre_commit_tools/auto_add_tests.py
  .pre-commit-config.yaml
Due: clean-demo-timeouts

Update test_notebooks to only run the notebooks that don't have a special test in `tests/notebooks`
  tests/test_notebooks.py
Due: none

update contribution guidelines
  CONTRIBUTING.md
Due: none

update contribution guidelines - minor fix
  CONTRIBUTING.md
Due: none

The commit for Quantum Compression Algorithm for Symmetric States - Project #763
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.ipynb
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.metadata.json
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.qmod
  community/paper_implementation_project/quantum_compression_algorithm_for_symmetric_states/quantum_compression_algorithm_for_symmetric_states.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Modified timeout limit
  tests/resources/timeouts.yaml
Due: clean-demo-timeouts

Delete Symmetric_compression_algorithm.py
  algorithms/Symmetric_compression_algorithm.py
Due: none

add review comments
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Refine the comments & explanations
  algorithms/bb84/bb84_implementation.ipynb
Due: notebook-pre-commit, clean-demo-timeouts

Addressed feedback from pull request and submitting as per guidelines
  community/paper_implementation_project/Explicit_quantum_circuits_for _Block_encoding/BE_Sparse_Classiq.ipynb
Due: none

modify tests
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/test_bb84_implementation.py
Due: notebook-pre-commit, clean-demo-timeouts

Add CI checks
  algorithms/bb84/bb84_implementation.ipynb
  algorithms/bb84/bb84_implementation.metadata.json
  algorithms/bb84/bb84_implementation.qmod
  algorithms/bb84/bb84_implementation.synthesis_options.json
  tests/resources/timeouts.yaml
Due: notebook-pre-commit, qmod-pre-commit, clean-demo-timeouts

Add files via upload
  algorithms/oblivious_amplitude_amplification/oblivious_amplitude_amplification (1).ipynb
Due: none

Testing if the code compiles
  applications/chemistry/adapt_vqe_for_energy_curve/adapt_vqe_energy_curve.synthesis_options.json
Due: none

Path conditions:
  notebook-pre-commit: any of: ^\S+\.ipynb$
  qmod-pre-commit: any of: ^\S+\.qmod$
  clean-demo-timeouts: any of: ^\S+\.(qmod|ipynb|yaml)$
